{{extend 'layout.html'}}
<div class="container">
    <div class="row">
        <div class="col-lg-12" style="height: 500px">
            <h3>{{=T('Contact')}}</h3>

            <p><strong> Heidelberg University Publishing</strong> <br>
               Universitätsbibliothek Heidelberg<br>
               Plöck 107-109 <br>
               69117 Heidelberg <br>
               Tel.: +49 6221 54-2569<br>
               Email: <a href="mailto:heiup@ub.uni-heidelberg.de">heiup@ub.uni-heidelberg.de</a>
            </p>
            
            <h3>{{=T('Order and Sales')}}</h3>
            <p>Myriam Rausch<br>
              Tel.: +49 6221 54 2383<br>
              Fax: +49 6221 54 2623<br>
              Email: <a href="mailto:heiup-orders@ub.uni-heidelberg.de">heiup-orders@ub.uni-heidelberg.de</a>
            </p>  



        </div>
    </div>
</div>