{{extend 'layout.html'}}
<div class="container">
    <div class="row">
        <div class="col-lg-12" style="height: 500px">
            <h3>            {{=T('Contact')}}</h3>

            <p>


                <strong> Heidelberg University Publishing</strong> <br>

                Universitätsbibliothek Heidelberg<!--test--> <br>

                Plöck 107-109 <br>

                69117 Heidelberg <br>
                Tel.: +49 6221 54-2569<br>
                Email: heiup@ub.uni-heidelberg.de
                </p>


        </div>
    </div>
</div>