{{extend 'layout.html'}}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>{{=T('News')}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9 news-content">
      <div class="news">
              <div class="news-date">{{=date}}</div>
              <h4>{{=title}}</h4>
              <p>{{=short_description}}</p>
              <p>{{=description}}</p>
          </div>
        </div>
        <div class="col-lg-3 news-archive-content">
            <div class="news-archive">
                  <h3>{{=T('Archive')}}</h3>
                    {{for year in archive:}}
                    <div class="panel-group" role="tablist">
                      <div class="panel panel-default">
                        <!-- year header -->
                        <div class="panel-heading" role="tab" id="collapseListGroupHeadingYear{{=year}}">
                          <h4 class="panel-title">
                            <a href="#collapseListGroupYear{{=year}}" class="collapsed" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapseListGroupYear{{=year}}"> {{=year}} </a>
                          </h4>
                        </div>
                        <!-- begin year collapsible list -->
                        <div id="collapseListGroupYear{{=year}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading{{=year}}" style="">
                          <ul class="list-group">
                            {{for month in archive[year]:}}
                            <li class="list-group-item">
                              <h5>{{=month_to_literal(month)}}</h5>
                              <ul>
                                {{for announcement in archive[year][month]:}}
                                <li><a href="{{=URL('eintrag', args=[announcement['id']])}}">{{=strip_tags(announcement['title'])}}</a></li>
                                {{pass}}
                              </ul>
                            </li>
                            {{pass}}
                          </ul>
                        </div>
                        <!-- end year collapsible list -->
                      </div>
                    </div>
                    {{pass}}
                  </ul>
              </div>
         </div>
    </div>
</div>

<script>"use strict";

$( function () {
  // show only current year by default
  $('#collapseListGroupYear{{=current_year}}').collapse('show')
})
</script>
