{{extend 'layout.html'}}

<section id="content">
    <div class="container">
        <div class="row">
	
            <div class="col-lg-3">
     
                <article>
                    <div class="post-image">
		 	{{=IMG(_src=URL('static','files/presses/6/monographs/483/simple/cover.jpg'))}}
                  </div>

                </article>
                  
            </div>   

            <div class="col-lg-6">
               <article>


     <div class="post-heading">
      {{if session.forced_language =='de': }}
        <h3>Antiziganismusforschung interdisziplinär</h3>
        <h4>Schriftenreihe der Forschungsstelle Antiziganismus</h4>

      {{elif session.forced_language =='en': }}            
        <h3>Interdisciplinary Studies in Antigypsyism</h3>
        <h4>Book series initiated by the Research Centre on Antigypsyism</h4>
      {{pass}}
        </div>
      {{if session.forced_language =='de': }}
<p><em>Antiziganismusforschung interdisziplinär</em> gibt Einblicke in ein noch junges, aber dynamisches Forschungsfeld, das unterschiedliche methodische Zugänge erfordert. Sowohl bereits etablierte Forscherinnen und Forscher wie Nachwuchswissenschaftlerinnen und -wissenschaftler erhalten die Möglichkeit, neue Forschungsergebnisse in englischer oder deutscher Sprache zu publizieren. Die Reihe zielt darauf ab, die Antiziganismusforschung stärker im akademischen Diskurs zu verankern und Institutionen wie Forschende zusammenzuführen, kurz: sie will Impulsgeber für die weitere Grundlagenarbeit sein.</p>
<p>Als erste Fachinstitution ihrer Art ist die Forschungsstelle Antiziganismus seit Juli 2017 am Historischen Seminar der Universität Heidelberg angesiedelt; sie wird dauerhaft vom Land Baden-Württemberg gefördert. Die dort tätigen Wissenschaftlerinnen und Wissenschaftler setzen sich mit den vielfältigen Erscheinungsformen des Antiziganismus – verstanden als eine spezifische Form des Rassismus gegen Sinti, Roma und andere als „Zigeuner“ stigmatisierte Gruppen oder Individuen – auseinander. Das Erkenntnisinteresse gilt insbesondere den Mechanismen der antiziganistischen Vorurteilsbildung und deren unterschiedlichen Funktionen in den europäischen Gesellschaften von der Frühen Neuzeit bis in die Gegenwart. 
</p>

      
      {{elif session.forced_language =='en': }}                 
<p><em>Interdisciplinary Studies in Antigypsyism</em> offer insights into a young and dynamic research field that calls for different methodological approaches. Both acclaimed scholars and junior researchers have the opportunity to publish new research findings in English or German. The aim of the series is to firmly anchor antigypsyism Studies in the academic discourse and to establish a network of institutions and scholars. In short, it serves as a source of impetus for further research.</p>
<p>As the first specialized institution of its kind, the Research Centre on Antigypsyism has been based at Heidelberg University’s Department of History since July 2017, its long-term funding provided by the State of Baden-Württemberg. The researchers working at the Centre examine the diverse manifestations of antigypsyism, which is understood as a specific form of racism against Sinti, Roma and other groups or individuals stigmatized as “gypsies”. The focus of our research interest is directed towards the mechanisms of antigypsy stereotyping and its different functions in European societies from the early modern period to the present day.</p>
   {{pass}}

                    <div class="widget">
                        <h5 class="widgetheading"></h5>
                        <ul class="tags">          
                            <li>{{=A(T('Volumes'),_href=URL('catalog','series/ai'))}}
                        </ul>
                    </div>

                </article>

			</div>
         <div class="col-lg-3">
          <article>
            <div class="box">

			           <div class="box-gray alignleft" style="height: auto;">
                 {{if session.forced_language =='de': }}
				            <h5 style="color: #656565; margin-bottom: 0.5em;margin-top:1em;">Bibliographische Angaben</h5>
                            <p>Antiziganismusforschung interdisziplinär<br />
                            Schriftenreihe der Forschungsstelle Antiziganismus</p>
                            <p>Reihenherausgeber</p>
                            <ul>
                              <li>Prof. Dr. Edgar Wolfrum, Heidelberg</li>
                              <li>Dr. Frank Reuter, Heidelberg</li>
                              <li>Daniela Gress, M.A., Heidelberg</li>
                            </ul>
							<h5 style="color: #656565; margin-bottom: 0.5em;margin-top:1em;">ISSN</h5>
							<p>ISSN (online): 2629-5008<br>
							ISSN (Print): 2629-4990</p>

				{{elif session.forced_language =='en': }}
                            <h5 style="color: #656565; margin-bottom: 0.5em;margin-top:1em;">Bibliographic details</h5> 
                            <p>Interdisciplinary Studies in Antigypsyism<br />
                            Book series initiated by the Research Centre on Antigypsyism</p>
                            <p>Series editors</p>
                            <ul>
                              <li>Prof. Dr. Edgar Wolfrum, Heidelberg</li>
                              <li>Dr. Frank Reuter, Heidelberg</li>
                              <li>Daniela Gress, M.A., Heidelberg</li>
                            </ul>
							<h5 style="color: #656565; margin-bottom: 0.5em;margin-top:1em;">ISSN</h5>
							<p>ISSN (online): 2629-5008<br>
							ISSN (Print): 2629-4990</p>

        	{{pass}}
        </div>   
      </div>     
    </article>                                     
    </div>
    </div>   


</section>