{{extend 'layout.html'}}

<section id="content">
    <div class="container">
        <div class="row">
	
            <div class="col-lg-3">
                <article>
                    <div class="post-image">

            
                  </div>

                </article>
                
            </div>   

            <div class="col-lg-6">
               <article>


     <div class="post-heading">
        {{if session.forced_language =='de': }}
        <h3>Online-Schriften des DHI Rom. Neue Reihe<br>Pubblicazioni online del DHI Roma. Nuova serie</h3>
		{{elif session.forced_language =='en': }}
		<h3>Pubblicazioni online del DHI Roma. Nuova serie<br>Online-Schriften des DHI Rom. Neue Reihe</h3>
		{{pass}}
        </div>
      {{if session.forced_language =='de': }}
<p><i class="icon-quote-left"></i><i>Online-Schriften des DHI Rom. Neue Reihe | Pubblicazioni online del DHI Roma. Nuova serie</i> ist eine Open-Access-Schriftenreihe, die vom Deutschen Historischen Institut in Rom herausgegeben wird. In mehreren Sprachen veröffentlicht sie wissenschaftliche Monografien, Aufsatzbände und Editionen zur italienischen Geschichte und Musikgeschichte sowie zur Geschichte der deutsch-italienischen Beziehungen in transregionalen bzw. transnationalen Zusammenhängen vom frühen Mittelalter bis zur jüngsten Vergangenheit. Alle Bände durchlaufen ein doppeltes Blind-Peer-Review.</p>
   
      
      {{elif session.forced_language =='en': }}                 
<p><i class="icon-quote-left"></i>                 
<i>Online-Schriften des DHI Rom. Neue Reihe | Pubblicazioni online del DHI Roma. Nuova serie</i> is an open access series edited by the German Historical Institute in Rome. In various languages it publishes monographs, collective volumes and scientific editions on the history of Italy and Italian music as well as on the history of Italian-German relations in trans-regional and transnational contexts, covering the time frame between the Middle Ages to recent past. All volumes are subject to double-blind peer review.     {{pass}}
<!--
                    <div class="widget">
                        <h5 class="widgetheading"></h5>
                        <ul class="tags">          
                            <li>{{=A(T('Volumes'),_href=URL('catalog','series/dhi_rom'))}}
                        </ul>
                    </div>
-->

                </article>
                
            </div>
               <div class="col-lg-3">
          <article>
            <div class="box">

			           <div class="box-gray alignleft" style="height: auto;">
                 {{if session.forced_language =='de': }}
                            <h5 style="color: #656565; margin-bottom: 0.5em;">Bibliographische Angaben</h5>
							<p>Online-Schriften des DHI Rom. Neue Reihe | Pubblicazioni online del DHI Roma. Nuova serie <br>

                            <p>Redaktionsleitung<br>
							Redaktion: Prof. Dr. Alexander Koller<br>
                            E-Mail: koller@dhi-roma.it<br> <br>
                            Deutsches Historisches Institut Rom (DHIP)</p>

             {{elif session.forced_language =='en': }}
             
             <h5 style="color: #656565; margin-bottom: 0.5em;">Bibliographic details</h5>
                            <p>Heidelberg Studies on Transculturality<br>
                            
                            <p>Online-Schriften des DHI Rom. Neue Reihe | Pubblicazioni online del DHI Roma. Nuova serie <br>

                            <p>Redaktionsleitung<br>
							Redaktion: Prof. Dr. Alexander Koller<br>
                            E-Mail: koller@dhi-roma.it<br> <br>
                            Deutsches Historisches Institut Rom (DHIP)</p>
        
        	{{pass}}
        </div>   
      </div>     
    </article>                                     
    </div>
    </div>   
</section>