{{extend 'layout.html'}}

  <section id="content">
    <div class="container">
        <div class="row">
	
            <div class="col-lg-3">
                <article>
                    <div class="post-image">
					           {{=IMG(_src=URL('static','files/presses/6/monographs/481/simple/cover.jpg'))}}            
                  </div>
                </article>
            </div>   

            <div class="col-lg-6">
             <article>
               <div class="post-heading">
                <h3>Einsichten – Kataloge der Universitätsbibliothek Heidelberg</h3>
             </div>
			  {{if session.forced_language =='de': }}
			  <p>Mit &bdquo;Einsichten – Ausstellungskataloge der Universitätsbibliothek Heidelberg&ldquo; begründet die Universitätsbibliothek Heidelberg 2019 eine neue Schriftenreihe für ihre Ausstellungskataloge, in denen in Kooperation mit Instituten der Heidelberger Universität aber auch mit auswärtigen Partnern überwiegend hauseigene Bestände präsentiert werden. Mit ihren Ausstellungen erfüllt die Universitätsbibliothek Heidelberg ihren öffentlichen Auftrag zur Vermittlung des kulturellen Erbes.</p>
			  {{elif session.forced_language =='en': }}
			  <p>With &ldquo;Einsichten – Ausstellungskataloge der Universitätsbibliothek Heidelberg&rdquo; (Insights – Exhibition Catalogues of the Heidelberg University Library), the Heidelberg University Library launches a new series for its exhibition catalogues in 2019. In cooperation with institutes of the Heidelberg University, but also with external partners, these publications present mainly its own holdings. With its exhibitions, the Heidelberg University Library fulfils its public mission to communicate cultural heritage.</p>
			  {{pass}}
	  
     

                    <div class="widget">
                        <h5 class="widgetheading"></h5>
                        <ul class="tags">          
                            <li>{{=A(T('Volumes'),_href=URL('catalog','series/einsichten'))}}
                        </ul>
                    </div>
          </article>
        </div> 

        <div class="col-lg-3">
          <article>
            <div class="box">
              <div class="box-gray alignleft" style="height: auto;">
                 {{if session.forced_language =='de': }}
                       <h5 style="color: #656565; margin-bottom: 0.5em;">Bibliographische Angaben</h5>
                          <p>Einsichten – Kataloge der Universitätsbibliothek Heidelberg</p>
						  <p>Herausgeber</p>
						  <p>Universitätsbibliothek Heidelberg</p>
						  <p>Kontakt</p>

						<p>Dr. Maria Effinger<br>
						Telefon: 06221-54 3561<br>
                        E-Mail: effinger@ub.uni-heidelberg.de</p>

                            <h5 style="color: #656565; margin-bottom: 0.5em;">ISSN</h5>
                            <p>ISSN 2628-5479 (Print)<br>
                            ISSN 2628-5495 (eISSN)</p> 


             {{elif session.forced_language =='en': }}
             
                            <h5 style="color: #656565; margin-bottom: 0.5em;">Bibliographic details</h5>
                            <p>Einsichten – Kataloge der Universitätsbibliothek Heidelberg</p>
							<p>Editors</p>
							<p>Universitätsbibliothek Heidelberg</p>
                            <p>Contact</p>

						<p>Dr. Maria Effinger<br>
						Phone: +49 6221-54 3561<br>
                        E-mail: effinger@ub.uni-heidelberg.de</p>

                            <h5 style="color: #656565; margin-bottom: 0.5em;">ISSN</h5>
                            <p>ISSN 2628-5479 (Print)<br>
                            ISSN 2628-5495 (eISSN)</p>  


        	{{pass}}
                  </div>   
                </div>      
              </article>                                     
              </div>
    
    </div>   

  
   </div> 
</section>