{{extend 'layout.html'}}

<section id="content">
    <div class="container">
        <div class="row">
	<!--
            <div class="col-lg-3">
                <article>
                    <div class="post-image">
		 	{{=IMG(_src=URL('static','files/presses/6/series/32-series.jpg'))}}
                  </div>

                </article>
                
            </div>   
-->
            <div class="col-lg-6">
               <article>


     <div class="post-heading">

        <h3>Schriften zur Südwestdeutschen Hofmusik</h3>
        </div>

      {{if session.forced_language =='de': }}
<p>Mehr Informationen folgen in Kürze!</p>

      
      {{elif session.forced_language =='en': }}                 
<p>More information coming soon!</p>
   {{pass}}
<!--
                    <div class="widget">
                        <h5 class="widgetheading"></h5>
                        <ul class="tags">          
                            <li>{{=A(T('Volumes'),_href=URL('catalog','series/hdaw_dn'))}}
                        </ul>
                    </div>

                </article>
            </div>-->
			<!--
         <div class="col-lg-3">
          <article>
            <div class="box">

			           <div class="box-gray alignleft" style="height: auto;">
                 {{if session.forced_language =='de': }}
                            <h5 style="color: #656565; margin-bottom: 0.5em;">Bibliographische Angaben</h5>
                             <p>Documenta Nepalica</p>
                            <p>Editors</p>
                            <p>Chief Editor: Axel Michaels</p>
                            <p>Editor Board</p>
                            <p>Research Unit “Documents on the History of Religion and Law of Premodern Nepal”; Heidelberg Academy of Sciences and Humanities:</p>
                            <ul>
                              <li>Manik Bajracharya
                              <li>Simon Cubelic</li>
                              <li>Rajan Khatiwoda</li>
                              <li>Astrid Zotter</li>
                              <li>Christof Zotter</li>
                            </ul>
                            <p>Government of Nepal; Ministry of Culture, Tourism and Civil Aviation; Department of Archaeology; National Archives:</p>
                              <ul>
                                <li>Bhesh Narayan Dahal
                                <li>Saubhagya Pradhananga</li>
                                <li>Niran Rajvamshi</li>
                                <li>Raju Rimal</li>
                                <li>Kumar Shrestha</li>
                              </ul>  

                            
             {{elif session.forced_language =='en': }}
             
             <h5 style="color: #656565; margin-bottom: 0.5em;">Bibliographic details</h5>
                            <p>Heidelberg Studies on Transculturality<br>
                            
                            <p>Documenta Nepalica</p>
                            <p>Editors</p>
                            <p>Chief Editor: Axel Michaels</p>
                            <p>Editor Board</p>
                            <p>Research Unit “Documents on the History of Religion and Law of Premodern Nepal”; Heidelberg Academy of Sciences and Humanities:</p>
                            <ul>
                              <li>Manik Bajracharya
                              <li>Simon Cubelic</li>
                              <li>Rajan Khatiwoda</li>
                              <li>Astrid Zotter</li>
                              <li>Christof Zotter</li>
                            </ul>
                            <p>Government of Nepal; Ministry of Culture, Tourism and Civil Aviation; Department of Archaeology; National Archives:</p>
                              <ul>
                                <li>Bhesh Narayan Dahal
                                <li>Saubhagya Pradhananga</li>
                                <li>Niran Rajvamshi</li>
                                <li>Raju Rimal</li>
                                <li>Kumar Shrestha</li>
                              </ul>  
                            
                          
        	{{pass}}
        </div>   
      </div>     
    </article>                                     
    </div>-->
    </div>   


</section>