{{extend 'layout.html'}}

<section id="content">
    <div class="container">
        <div class="row">
	
            <div class="col-lg-3">
                <article>
                    <div class="post-image">
		 	{{=IMG(_src=URL('static','files/presses/6/series/32-series.jpg'))}}
                  </div>

                </article>
                
            </div>   

            <div class="col-lg-9">
               <article>


     <div class="post-heading">

        <h3>Documenta Nepalica</h3>
		<h4>Book Series</h4>
        </div>
      {{if session.forced_language =='de': }}
<p><i>Documenta Nepalica: Book Series</i> ist eine Open-Access-Publikationsreihe, herausgegeben von der Forschungsstelle „Religions- und rechtsgeschichtliche Quellen des vormodernen Nepal“ der Heidelberger Akademie der Wissenschaften in Kooperation mit dem Nationalarchiv Nepal. Sie dient der Veröffentlichung von Forschungsarbeiten zu historischen Dokumenten und verwandten Texten aus Nepal und dem Himalaya-Raum.</p>

      
      {{elif session.forced_language =='en': }}                 
<p><i>Documenta Nepalica: Book Series</i> is an open access publication series edited by the Research Unit “Documents on the History of Religion and Law of Pre-modern Nepal“ of the Heidelberg Academy of Sciences and Humanities in cooperation with the National Archives of Nepal. It aims at disseminating research results on historical documents and related texts from Nepal and the Himalaya region.</p>
   {{pass}}

                    <div class="widget">
                        <h5 class="widgetheading"></h5>
                        <ul class="tags">          
                            <li>{{=A(T('Volumes'),_href=URL('catalog','series/hdaw_dn'))}}
                        </ul>
                    </div>


                </article>
                
            </div>

    </div>   

   </div>
</section>