{{extend 'layout.html'}}

<section id="content">
    <div class="container">
        <div class="row">
	
            <div class="col-lg-3">
                <article>
                    <div class="post-image">
		 	<img src="/UBHD_OMPPortal/static/images/series/hst.jpg">
                  </div>

                </article>
                
            </div>   

            <div class="col-lg-9">
               <article>
        <div id="infoBoxRechts" class="col-lg-3">
                       
             {{if session.forced_language =='de': }}
          <div class="box">
            <div class="box-gray"  style="height: auto;">
                <p class="boxText"><b>Hinweise für Autoren</b></p>
                    <ul class="standard">
                      <li><a href="http://www.asia-europe.uni-heidelberg.de/de/forschung/dfg-project/information-for-authors.html">Information for Authors</a></li>
                    </ul>
                  </div>
          </div>
                
          <div class="box" style="margin-bottom: 1em;">
            <div class="box-gray"  style="height: auto;">
                <p class="boxText"><b>Kontakt</b></p>
                    <ul class="standard">
                      <li><a href="http://www.asia-europe.uni-heidelberg.de/en/people/administration/details/persdetail/hacker.html">Andrea Hacker</a></li>
                    </ul>
                  </div>
                </div>     
                
             {{elif session.forced_language =='en': }}
          <div class="box">
            <div class="box-gray"  style="height: auto;">
                <p class="boxText"><b>Information for Authors</b></p>
                    <ul class="standard">
                      <li><a href="http://www.asia-europe.uni-heidelberg.de/de/forschung/dfg-project/information-for-authors.html">Information for Authors</a></li>
                    </ul>
                  </div>
          </div>
                
          <div class="box" style="margin-bottom: 1em;">
            <div class="box-gray"  style="height: auto;">
                <p class="boxText"><b>Contact</b></p>
                    <ul class="standard">
                      <li><a href="http://www.asia-europe.uni-heidelberg.de/en/people/administration/details/persdetail/hacker.html">Andrea Hacker</a></li>
                    </ul>
                  </div>
                </div>                  
             
{{pass}}                                        
              </div>

     <div class="post-heading">

                  <h3>Heidelberg Studies in Transculturality</h3>
        </div>
                        <p><i class="icon-quote-left"></i>
<i>Heidelberg Studies in Transculturality</i> seeks research that coincides with the Cluster’s aim of establishing a "morphology of flows and circulations” which concentrates on “exploring the specific dynamics of transcultural interactions”. The series will include works which strengthen this dialog both within and across disciplines. Against this backdrop, the editorial office welcomes submissions which consider aspects of transcultural engagement within areas such as anthropology, art history, cultural and religious studies, media and communication, musicology, public health, political science, and social science, to name a few.</p>

<p>Transcultural research often relies on an intense engagement with and inclusion of diverse media (image, sound, video, etc.), all of which can be supported by our electronic end format options. Digital publishing formats are therefore well suited for transcultural studies monographs, due to the approach taken by most scholars within this new discipline. Researchers in this field also tend to have a strong interest in utilizing new, flexible, timely, and freely-accessible technologies which make their publications available to a global audience.</p>

                </article>
                
            </div>
         </div>   

        <div class="row">
        
          <div class="col-lg-3">
          <article>
            <div class="box">

			           <div class="box-gray alignleft" style="height: auto;">
                 {{if session.forced_language =='de': }}
                            <h5 style="color: #656565; margin-bottom: 0.5em;">Bibliographische Angaben</h5>
                            <p>Heidelberg Studies in Transculturality<br>
                            
                            <p>Herausgeber</p>
                            <ul>
                              <li>Reuven Amitai, Jerusalem
                              <li>David Armitage, Harvard</li>
                              <li>Christiane Brosius, Heidelberg</li>
                              <li>Beatrix Busse, Heidelberg</li>
                              <li>Prasenjit Duara, Singapore</li>
                              <li>Christian Henriot, Lyon</li>
                              <li>Madeleine Herren, Basel</li>
                              <li>Joachim Kurtz, Heidelberg</li>
                              <li>Joseph Maran, Heidelberg</li>
                              <li>Axel Michaels, Heidelberg</li>
                              <li>Barbara Mittler, Heidelberg</li>
                              <li>Sumathi Ramaswamy, Durham</li>
                              <li>Roland Wenzlhuemer, Heidelberg</li>
                            </ul>
                            <p>Managing Editor</p>
                              <ul>
                                <li>Andrea Hacker</li>
                              </ul>  
                            <p>Heidelberg University Publishing, Heidelberg</p>
                            <h5 style="color: #656565; margin-bottom: 0.5em;">ISSN</h5>
                            <p>ISSN 2365-7987 (Print)<br>
                            ISSN 2365-7995 (eISSN)</p>  
                             <h5 style="color: #656565; margin-bottom: 0.5em;">Lizenz</h5>
                            <p>Dieses Werk ist unter der<br> <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.de" title="Homepage Creative Commons; Lizenz CC BY-SA 4.0">Creative Commons-Lizenz 4.0<br /> (CC BY-SA 4.0)</a> veröffentlicht.<br>
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.de" title="Homepage Creative Commons; Lizenz CC BY-SA 4.0"><img alt="Creative Commons Lizenz BY-SA 4.0" src="/static/images/catalog/cc_by-sa-4-0_88x31.png" /></a></p>

             {{elif session.forced_language =='en': }}
             
             <h5 style="color: #656565; margin-bottom: 0.5em;">Bibliographic details</h5>
                            <p>Heidelberg Studies in Transculturality<br>
                            
                            <p>Series Editors</p>
                            <ul>
                              <li>Reuven Amitai, Jerusalem
                              <li>David Armitage, Harvard</li>
                              <li>Christiane Brosius, Heidelberg</li>
                              <li>Beatrix Busse, Heidelberg</li>
                              <li>Prasenjit Duara, Singapore</li>
                              <li>Christian Henriot, Lyon</li>
                              <li>Madeleine Herren, Basel</li>
                              <li>Joachim Kurtz, Heidelberg</li>
                              <li>Joseph Maran, Heidelberg</li>
                              <li>Axel Michaels, Heidelberg</li>
                              <li>Barbara Mittler, Heidelberg</li>
                              <li>Sumathi Ramaswamy, Durham</li>
                              <li>Roland Wenzlhuemer, Heidelberg</li>
                            </ul>
                            <p>Managing Editor</p>
                              <ul>
                                <li>Andrea Hacker</li>
                              </ul>  
                            <p>Heidelberg University Publishing, Heidelberg</p>
                            <h5 style="color: #656565; margin-bottom: 0.5em;">ISSN</h5>
                            <p>ISSN 2365-7987 (Print)<br>
                            ISSN 2365-7995 (eISSN)</p>  
                            <h5 style="color: #656565; margin-bottom: 0.5em;">Licenses</h5>
                            <p>This work is licensed under a<br> <a href="http://creativecommons.org/licenses/by-sa/4.0/" title="Homepage Creative Commons; Lizenz CC BY-SA 4.0">Creative Commons License 4.0<br /> (CC BY-SA 4.0)</a>.<br>
                            <a href="http://creativecommons.org/licenses/by-sa/4.0/" title="Homepage Creative Commons; License CC BY-SA 4.0"><img alt="Creative Commons License BY-SA 4.0" src="/static/images/catalog/cc_by-sa-4-0_88x31.png" /></a></p>

{{pass}}     
        </div>   
      </div>     
    </article>                                     
    </div>
            
            <div class="col-lg-9">
         <article>   
            <div class="post-heading">
             {{if session.forced_language =='de': }}
            <h4>Titel dieser Reihe</h4>
            <h5>Band 1</h5>
             {{elif session.forced_language =='en': }}
            <h4>Titles</h4>
            <h5>Volume 1</h5>

             {{pass}} 
             
            </div>
            
                  <div class="col-lg-3" style="float: right">
                  <img src="http://heiup.uni-heidelberg.de/UBHD_OMPPortal/en/static/images/press/home/Cover2English.jpg" alt="Marie Sander: Passing Through Shanghai" />  
                  </div>               
                        <div class="post-heading">
			            <p><strong>Marie Sander<br>
                  Passing Through Shanghai<br>
Ethnographic Insights into the Mobile Lives of Expatriate Youths</strong></p>
                        </div>
                        <p>
                            <i class="icon-quote-left"></i>
		<i>Passing Through Shanghai</i> examines how children experience international mobility. Focusing on a specific yet diverse group of expatriate youths in contemporary Shanghai, the book investigates how children negotiate cultural identity when they are subject to the highly mobile and often privileged lifestyle associated with their parent’s international careers.

                        </p>
			  
                    <div class="widget">
                        <h5 class="widgetheading"></h5>
                        <ul class="tags">
             {{if session.forced_language =='de': }}
                             <li><a href="http://heiup.uni-heidelberg.de/catalog" title="Informationen zu Marie Sander: Passing Through Shanghai">Mehr</a></li>

             {{elif session.forced_language =='en': }}           
                            <li><a href="http://heiup.uni-heidelberg.de/catalog" title="Information on Marie Sander: Passing Through Shanghai">More</a></li>
             {{pass}}               

                        </ul>
                    </div>

                </article>


            

          
      </div>

     </div>  

   </div>
  

</section>