{{extend 'layout.html'}}

<section id="content">
    <div class="container">
        <div class="row">
	
            <div class="col-lg-3">
                <article>
                    <div class="post-image">
					{{=IMG(_src=URL('static','files/presses/6/monographs/301/simple/cover.jpg'))}}
            
                  </div>

                </article>
                
            </div>   

            <div class="col-lg-6">
               <article>


     <div class="post-heading">

        <h3>Heidelberg Studies on Transculturality</h3>
        </div>
      {{if session.forced_language =='de': }}
<p><i class="icon-quote-left"></i>In der Reihe Heidelberg Studies on Transculturality erscheinen Forschungsarbeiten, die wie das Cluster „Asien und Europa im globalen Kontext“ das Ziel verfolgen, „nach der bisher erfolgten Erstellung eines Formenbestands kultureller Austausch- und Zirkulationsprozesse die spezifischen Dynamiken transkultureller Wechselbeziehungen zu erforschen“. Die Reihe stellt Werke vor, die den Dialog der Disziplinen untereinander und über ihre Grenzen hinweg stärken. Vor diesem Hintergrund begrüßen die Herausgeber Beiträge, die sich mit transkulturellen Aspekten aus Bereichen wie Anthropologie, Kunstgeschichte, Kultur- und Religionswissenschaften, Medien- und Kommunikationswissenschaften, Musik, Public Health, Politik- und Sozialwissenschaften beschäftigen.</p>

<p>Transkulturelle Forschung stützt sich häufig auf eine intensive Auseinandersetzung mit verschiedenen Medien (Bildern, Klängen, Videos etc.), deren Einbindung unsere elektronischen Endformate unterstützen können. Aufgrund des multimedialen Zugangs, den die meisten Wissenschaftler in dieser neuen Disziplin wählen, eignen sich unsere digitalen Publikationsformate daher besonders gut für Monographien. Wir können damit Forscher bedienen, die zu neuen, flexiblen Technologien tendieren, die zeitgemäß und frei zugänglich sind und die es ihnen ermöglichen, ihre Veröffentlichungen einem weltweiten Publikum zur Verfügung zu stellen.</p>

<!--Heidelberg Studies on Transculturality versammelt Forschungsarbeiten, die wie das Cluster „Asien und Europa im globalen Kontext“ das Ziel verfolgen, eine „soziale Morphologie von transkulturellen Flüssen und Zirkulationsbewegungen“ zu etablieren, die sich auf die Erforschung spezifischer Dynamiken transkultureller Interaktionen konzentriert. Die Reihe wird Werke enthalten, die den Dialog der Disziplinen untereinander und über ihre Grenzen hinweg stärken. Vor diesem Hintergrund begrüßt die Redaktion Beiträge, die sich mit transkulturellen Aspekten aus den Bereichen Anthropologie, Kunstgeschichte, Kultur- und Religionswissenschaften, Medien- und Kommunikationswissenschaften, Musik, Public Health, Politik- und Sozialwissenschaften beschäftigen, um nur einige zu nennen.</p>

<p>Transkulturelle Forschung beruht häufig auf einer intensiven Beschäftigung mit verschiedenen Medien (Bildern, Klängen, Videos etc.), deren Einbindung als Quelle in die Veröffentlichung unverzichtbar ist. Dies ist dank unserer digitalen Formate ohne Weiteres möglich. Aufgrund des multimedialen Zugangs, den die meisten Forscher in dieser neuen Disziplin wählen, eignen sich digitale Publikationsformate besonders gut für transkulturelle Studien, die als Monographie erscheinen. Forscher in diesem Bereich tendieren zudem zu neuen, flexiblen Technologien, die zeitgemäß und frei zugänglich sind und die es ihnen ermöglichen, ihre Veröffentlichungen einem weltweit zur Verfügung zu stellen.</p>-->
      
      
      {{elif session.forced_language =='en': }}                 
<p><i class="icon-quote-left"></i>                 
<i>Heidelberg Studies on Transculturality</i> seeks research that coincides with the Cluster’s aim of establishing a "morphology of flows and circulations” which concentrates on “exploring the specific dynamics of transcultural interactions”. The series will include works which strengthen this dialog both within and across disciplines. Against this backdrop, the editorial office welcomes submissions which consider aspects of transcultural engagement within areas such as anthropology, art history, cultural and religious studies, media and communication, musicology, public health, political science, and social science, to name a few. </p>

<p>Transcultural research often relies on an intense engagement with and inclusion of diverse media (image, sound, video, etc.), all of which can be supported by our electronic end format options. Digital publishing formats are therefore well suited for transcultural studies monographs, due to the approach taken by most scholars within this new discipline. Researchers in this field also tend to have a strong interest in utilizing new, flexible, timely, and freely-accessible technologies which make their publications available to a global audience.</p>
      {{pass}}

                    <div class="widget">
                        <h5 class="widgetheading"></h5>
                        <ul class="tags">          
                            <li>{{=A(T('Volumes'),_href=URL('catalog','series/hst'))}}
                        </ul>
                    </div>


                </article>
                
            </div>
               <div class="col-lg-3">
          <article>
            <div class="box">

			           <div class="box-gray alignleft" style="height: auto;">
                 {{if session.forced_language =='de': }}
                            <h5 style="color: #656565; margin-bottom: 0.5em;">Bibliographische Angaben</h5>
                            <p>Heidelberg Studies on Transculturality<br>
                            
                            <p>Herausgeber</p>
                            <ul>
                              <li>Reuven Amitai, Jerusalem
                              <li>David Armitage, Harvard</li>
                              <li>Christiane Brosius, Heidelberg</li>
                              <li>Beatrix Busse, Heidelberg</li>
                              <li>Prasenjit Duara, Durham</li>
                              <li>Christian Henriot, Aix</li>
                              <li>Madeleine Herren, Basel</li>
                              <li>Nikolas Jaspert, Heidelberg</li>
                              <li>Monica Juneja, Heidelberg</li>
                              <li>Joachim Kurtz, Heidelberg</li>
                              <li>Thomas Maissen, Paris / Heidelberg</li>
                              <li>Joseph Maran, Heidelberg</li>
                              <li>Axel Michaels, Heidelberg</li>
                              <li>Barbara Mittler, Heidelberg</li>
                              <li>Sumathi Ramaswamy, Durham</li>
                              <li>Roland Wenzlhuemer, München</li>
                            </ul>
                            <p>Managing Editor</p>
                              <ul>
                                <li>Russell Ó Ríagaín</li>
                              </ul>  
                            <p>Exzellenzcluster „Asien und Europa im globalen Kontext”, Heidelberg</p>
                            <h5 style="color: #656565; margin-bottom: 0.5em;">ISSN</h5>
                            <p>ISSN 2365-7987 (Print)<br>
                            ISSN 2365-7995 (eISSN)</p>  
                            <!-- <h5 style="color: #656565; margin-bottom: 0.5em;">Lizenz</h5>
                            <p>Dieses Werk ist unter der<br> <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.de" title="Homepage Creative Commons; Lizenz CC BY-SA 4.0">Creative Commons-Lizenz 4.0<br /> (CC BY-SA 4.0)</a> veröffentlicht.<br>
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.de" title="Homepage Creative Commons; Lizenz CC BY-SA 4.0"><img alt="Creative Commons Lizenz BY-SA 4.0" src="/static/images/catalog/cc_by-sa-4-0_88x31.png" /></a></p>-->

             {{elif session.forced_language =='en': }}
             
             <h5 style="color: #656565; margin-bottom: 0.5em;">Bibliographic details</h5>
                            <p>Heidelberg Studies on Transculturality<br>
                            
                            <p>Series Editors</p>
                            <ul>
                              <li>Reuven Amitai, Jerusalem
                              <li>David Armitage, Harvard</li>
                              <li>Christiane Brosius, Heidelberg</li>
                              <li>Beatrix Busse, Heidelberg</li>
                              <li>Prasenjit Duara, Durham</li>
                              <li>Christian Henriot, Aix</li>
                              <li>Madeleine Herren, Basel</li>
                              <li>Nikolas Jaspert, Heidelberg</li>
                              <li>Monica Juneja, Heidelberg</li>
                              <li>Joachim Kurtz, Heidelberg</li>
                              <li>Thomas Maissen, Paris / Heidelberg</li>
                              <li>Joseph Maran, Heidelberg</li>
                              <li>Axel Michaels, Heidelberg</li>
                              <li>Barbara Mittler, Heidelberg</li>
                              <li>Sumathi Ramaswamy, Durham</li>
                              <li>Roland Wenzlhuemer, München</li>
                            </ul>
                            <p>Managing Editor</p>
                              <ul>
                                <li>Russell Ó Ríagaín</li>
                              </ul>  
                            <p>Cluster of Excellence „Asia and Europe in a global context”, Heidelberg </p>
                            <h5 style="color: #656565; margin-bottom: 0.5em;">ISSN</h5>
                            <p>ISSN 2365-7987 (Print)<br>
                            ISSN 2365-7995 (eISSN)</p>  
                            <!--<h5 style="color: #656565; margin-bottom: 0.5em;">Licenses</h5>
                            <p>This work is licensed under a<br> <a href="http://creativecommons.org/licenses/by-sa/4.0/" title="Homepage Creative Commons; Lizenz CC BY-SA 4.0">Creative Commons License 4.0<br /> (CC BY-SA 4.0)</a>.<br>
                            <a href="http://creativecommons.org/licenses/by-sa/4.0/" title="Homepage Creative Commons; License CC BY-SA 4.0"><img alt="Creative Commons License BY-SA 4.0" src="/static/images/catalog/cc_by-sa-4-0_88x31.png" /></a></p> -->

        	{{pass}}
        </div>   
      </div>     
    </article>                                     
    </div>
    </div>   

        <div class="row">

        <div class="col-lg-3" style="float: right;">
          <article>


        <div class="box">
                       
             {{if session.forced_language =='de': }}
          <div class="box">
			           <div class="box-gray alignleft" style="height: auto; padding-bottom: 5px;">
                <p class="boxText"><b>Hinweise für Autoren</b></p>
                    <ul class="standard">
                      <li><a href="http://www.asia-europe.uni-heidelberg.de/de/forschung/dfg-project/information-for-authors.html">Information for Authors</a></li>
                    </ul>
                  </div>
          </div>
                
          <div class="box" style="margin-bottom: 1em;">
			           <div class="box-gray alignleft" style="height: auto;">
                <p class="boxText"><b>Kontakt</b></p>
                    <ul class="standard">
                      <li><a href="mailto:russell.oriagain@asia-europe.uni-heidelberg.de">Russell Ó Ríagaín</a></li>
                    </ul>
                  </div>
                </div>     
                
             {{elif session.forced_language =='en': }}
          <div class="box">
        <div class="box-gray alignleft" style="height: auto; padding-bottom: 5px;">
                <p class="boxText"><b>Information for Authors</b></p>
                    <ul class="standard">
                      <li><a href="http://www.asia-europe.uni-heidelberg.de/de/forschung/dfg-project/information-for-authors.html">Information for Authors</a></li>
                    </ul>
                  </div>
          </div>
                
          <div class="box" style="margin-bottom: 1em;">
			           <div class="box-gray alignleft" style="height: auto;">
                <p class="boxText"><b>Contact</b></p>
                    <ul class="standard">
                      <li><a href="mailto:russell.oriagain@asia-europe.uni-heidelberg.de">Russell Ó Ríagaín</a></li>
                    </ul>
                  </div>
                </div>
              </div>
           </article>   
           {{pass}}
     </div>
   </div>
</section>