{{extend 'layout.html'}}
{{from ompformat import formatContributors, getSeriesImageLink}}
{{for s in all_series:
cat =s.associated_items.get('series_categories', None)
for c in cat:
=c.settings.getLocalizedValue('title', locale)
pass
pass
}}
<div id="main" class="container">
  <section id="content">
    <div class="container">
    {{for series in all_series:}}
      <div class="row">
        <div class="col-lg-2">
          <article>
            <div class="post-image">
            {{if len(row['image']) > 7 :}}
              {{=IMG(_src=getSeriesImageLink(request, press.press_id, series.attributes.image))}}
            {{pass}}
            </div>
          </article>
        </div>
        <div class="col-lg-10">
          <article>
            <div class="post-heading">
            {{series_title = " ".join([series.settings.getLocalizedValue('prefix', locale), series.settings.getLocalizedValue('title', locale)])}}
            {{series_subtitle = series.settings.getLocalizedValue('subtitle', locale)}}
              <h3>{{=series_title}}</h3>
              <h4>{{=series_subtitle}}</h4>


            {{series_editors = series.associated_items.get('series_editors')}}
            {{if series_editors:}}
              <p>
              {{if len(series_editors) > 1:}}
                {{=T('Editors')}}:
              {{else:}}
                {{=T('Editor')}}:
              {{pass}}
              {{=formatContributors(series_editors, max_contributors=3, et_al=True)}}
              </p>
            {{pass}}

            <!-- Begin Series Category -->
            {{cat =series.associated_items.get('series_categories', None)}}
            {{for category in cat:}}
            {{if category:}}
            <div id="spartenmarker" class="">
            {{category_path=ompdal.getCategory(category.attributes.get('category_id')).get('path')}}
            {{=A(category.settings.getLocalizedValue('title', locale),_href=URL('category','info/'+str(category_path)))}}
            </div>
            {{pass}}
            {{pass}}
            <!-- Begin Series Category -->
            </div>
            <p>
              <i class="icon-quote-left"></i>
              {{=XML(series.settings.getLocalizedValue('description', locale))}}
            </p>
            <div class="widget">
              <h5 class="widgetheading"></h5>
              <ul class="tags">
                <li>
                  <a href="{{=URL('catalog','series/'+str(series.attributes.path))}}">{{=T('Volumes')}}</a>
                  <a href="{{=URL('series','info/'+str(series.attributes.path))}}">{{=T('Information about the series')}}</a>
                </li>
              </ul>
            </div>
          </article>
        </div>
      </div>
    {{pass}}
    </div>
  </section>
</div>

