{{extend 'layout.html'}}

<section id="content">
    <div class="container">
        <div class="row">
	
            <div class="col-lg-3">

                <article>
                    <div class="post-image">
		 	{{=IMG(_src=URL('static','files/presses/6/series/48-series.jpg'))}}
                  </div>

                </article>

            </div>   

            <div class="col-lg-6">
               <article>


     <div class="post-heading">
      {{if session.forced_language =='de': }}
        <h3>Kulturelles Erbe: Materialität – Text – Edition (KEMTE)</h3>
        </div>
        <p>Die Reihe <em>Kulturelles Erbe: Materialität – Text – Edition</em> ist am <a href="https://www.uni-heidelberg.de/hcch/" title="Homepage Heidelberg Center for Cultural Heritage">Heidelberg Center for Cultural Heritage</a> (HCCH) und  am <a href="https://www.materiale-textkulturen.de/index.php" title="Homepage SFB 933">Sonderforschungsbereich 933 &bdquo;Materiale Textkulturen&ldquo;</a> angesiedelt. In ihr erscheinen historisch-kritische Editionen sowie Publikationen zu Themen des kulturellen Erbes im engeren Sinne, d.h. zum Schutz von Kulturgütern und der Reflexion darüber sowie zur Materialität, besonderen Präsenz und Praxeologie von Kulturgütern. Alle geistes- und kulturwissenschaftlichen Disziplinen können Bände in der Reihe publizieren; es gibt keine epochale Begrenzung.</p>
        <p>Die Open-Access-Reihe soll die Möglichkeit der Publikation als ‚enhanced eBook‘ anbieten, ein Format, das die Publikation von Forschungstexten und -daten in einer Online-Lesefassung integriert. Damit stärkt die Reihe die am Standort Heidelberg vorhandenen Schwerpunkte nicht nur im Bereich ‚Kulturelles Erbe‘, sondern auch im Bereich der wissenschaftlichen Edition und ihrer Methoden sowie der Digital Humanities. Zudem löst das Format das bisher bestehende Problem, Datenbanken nicht nur nachhaltig zu sichern und an Repositorien anschlussfähig zu machen, sondern sie auch direkt mit den auf ihnen basierenden Forschungsergebnissen zu verbinden.</p>
        <p>Einreichungen sind in allen gängigen Wissenschaftssprachen möglich (Deutsch, Englisch, Französisch, Spanisch, Italienisch), erwartet werden zunächst vor allem deutsch- und prospektiv verstärkt englischsprachige Manuskripte.
</p>

      
      {{elif session.forced_language =='en': }}                 
        <h3>Cultural Heritage: Materiality&mdash;Text&mdash;Edition (KEMTE)</h3>

        <p>The book series <em>Cultural Heritage: Materiality&mdash;Text&mdash;Edition</em> is based at the <a href="https://www.uni-heidelberg.de/hcch/" title="Homepage Heidelberg Center for Cultural Heritage">‘Heidelberg Center for Cultural Heritage’</a> (HCCH)) and at the  <a href="https://www.materiale-textkulturen.de/index.php" title="Homepage Collaborative Research Center 933">Collaborative Research Center 933 ‘Material Text Cultures’</a>. It publishes volumes on cultural heritage in the broader sense, with a particular focus on reflections on the protection of cultural goods and cultural heritage. Volumes dealing with the materiality, specific presence and praxeology of cultural goods are especially encouraged. The series is also open for historical-critical editions.</p>
        <p>All scholars of humanities and cultural sciences can publish volumes in the series; there is no epochal limit. Submissions are possible in all scholarly common languages (German, English, French, Spanish, Italian) with a focus on German and English.</p>
        <p>The Open Access series is published in print and online. Moreover, volumes can be published as ‘enhanced eBooks’—an online reading version that can integrate text and research data. The ‘enhanced eBook’-format is a solution not only for ensuring the sustainability of research data and linking them to repositories, but also for the hitherto existing problem of combining research data and research results based on them.</p>
        <p>The book series is peer reviewed.</p>
   {{pass}}

                    <div class="widget">
                        <h5 class="widgetheading"></h5>
                        <ul class="tags">          
                            <li>{{=A(T('Volumes'),_href=URL('catalog','series/kemte'))}}
                        </ul>
                    </div>

                </article>

			</div>
         <div class="col-lg-3">
          <article>
            <div class="box">

			           <div class="box-gray alignleft" style="height: auto;">
                 {{if session.forced_language =='de': }}
				            <h5 style="color: #656565; margin-bottom: 0.5em;margin-top:1em;">Bibliographische Angaben</h5>
                             
                            <p>Kulturelles Erbe: Materialität&nbsp;– Text&nbsp;– Edition (KEMTE)</p>
                            <p>Herausgeber</p>
                            <ul>
							<li>Prof. Dr. Christiane Brosius, Visuelle und Medienethnologie am Heidelberg Centre for Transcultural Studies (HCTS)</li>
							<li>Prof. Dr. Ludger Lieb, Sonderforschungsbereich 933 „Materiale Textkulturen“ (MTK)</li>
							<li>Prof. Dr. Christian Witschel, Heidelberg Center for Cultural Heritage (HCCH)</li>						
                            </ul>
                            <p>Wissenschaftlicher Beirat</p>
                            <ul>
                            <li>Prof. Dr. Cord Arendes (Public History, Univ. Heidelberg)</li>
                            <li>Prof. Dr. Stefan Esders (Alte und Mittelalterliche Geschichte, FU Berlin)</li>
                            <li>Prof. Dr. Monica Juneja (Globale Kunstgeschichte, Univ. Heidelberg)</li>
                            <li>Prof. Dr. Hanna Liss (Judaistik, HfJS Heidelberg)</li>
                            <li>Prof. Dr. Katharina Lorenz (Klassische Archäologie, Universität Gießen)</li>
                            <li>Prof. Dr. Ursula Kocher (Germanistik, Universität Wuppertal)</li>
                            <li>Prof. Dr. Dr. h.c. mult. Hermann Parzinger (Ur- und Frühgeschichte, SPK Berlin)</li>
                            <li>Prof. Dr. Anita Traninger (Romanistik, FU Berlin)</li>
                            <li>Prof. Dr. Ursula Verhoeven-van Elsbergen (Ägyptologie, Univ. Mainz)</li>
                            </ul>
							<p>Kontakt</p>
							<p>Dr. Nele Schneidereit<br>
							SFB 933 "Materiale Textkulturen"<br>
                            Marstallstr. 6, 69117 Heidelberg<br>
                            Telefon: 06221-54 3964<br>
                            E-Mail: nele.schneidereit@uni-heidelberg.de</p>

                            <!--
                              
                              <h5 style="color: #656565; margin-bottom: 0.5em;margin-top:1em;">ISSN</h5>
                            <p>ISSN 2568-7867 (Print)<br>
                            ISSN 2569-8141 (online)</p>
                               -->
                            

             {{elif session.forced_language =='en': }}
                            <h5 style="color: #656565; margin-bottom: 0.5em;margin-top:1em;">Bibliographic details</h5>                         
                                <p>Cultural Heritage: Materiality&nbsp;&mdash;Text&nbsp;&mdash;Edition (KEMTE)</p>
                            <p>Editorial Board</p>
                            <ul>
							<li>Prof. Dr. Christiane Brosius, Visuelle und Medienethnologie am Heidelberg Centre for Transcultural Studies (HCTS)</li>
							<li>Prof. Dr. Ludger Lieb, Sonderforschungsbereich 933 „Materiale Textkulturen“ (MTK)</li>
							<li>Prof. Dr. Christian Witschel, Heidelberg Center for Cultural Heritage (HCCH)</li>
                            </ul>
                            <p>Scientific Advisory Board</p>
                            <ul>
                            <li>Prof. Dr. Cord Arendes (Public History, Univ. Heidelberg)</li>
                            <li>Prof. Dr. Stefan Esders (Alte und Mittelalterliche Geschichte, FU Berlin)</li>
                            <li>Prof. Dr. Monica Juneja (Globale Kunstgeschichte, Univ. Heidelberg)</li>
                            <li>Prof. Dr. Hanna Liss (Judaistik, HfJS Heidelberg)</li>
                            <li>Prof. Dr. Katharina Lorenz (Klassische Archäologie, Universität Gießen)</li>
                            <li>Prof. Dr. Ursula Kocher (Germanistik, Universität Wuppertal)</li>
                            <li>Prof. Dr. Dr. h.c. mult. Hermann Parzinger (Ur- und Frühgeschichte, SPK Berlin)</li>
                            <li>Prof. Dr. Anita Traninger (Romanistik, FU Berlin)</li>
                            <li>Prof. Dr. Ursula Verhoeven-van Elsbergen (Ägyptologie, Univ. Mainz)</li>
                            </ul>
							<p>Contact</p>
							<p>Dr. Nele Schneidereit<br>
							SFB 933 "Materiale Textkulturen"<br>
                            Marstallstr. 6, 69117 Heidelberg<br>
                            Phone: 06221-54 3964<br>
                            Email: nele.schneidereit@uni-heidelberg.de</p>
                            <!--
                              
                              <h5 style="color: #656565; margin-bottom: 0.5em;margin-top:1em;">ISSN</h5>
                            <p>ISSN 2568-7867 (Print)<br>
                            ISSN 2569-8141 (online)</p>
                               -->

        	{{pass}}
        </div>   
      </div>     
    </article>                                     
    </div>
    </div>   


</section>