 <section id="content">
        <div style="height: 20px"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <article>
                        <div class="post-image">
                        {{=IMG(_src=coverImageLink(request, press.press_id, submission.submission_id))}}
                        </div>
                    </article>  <div class="box">
                        <div class="box-gray alignleft" style="height: auto;">
                            <!-- citations begin -->
                            <h5 style="color: #656565; margin-bottom: 0.5em;">{{=T('How to cite this title')}}</h5>
                        </div>


                </div>
                </div>

                 <div class="col-lg-9">

                    <article>
                        <div class="summary">
                            {{for c in chapters:}}

                            {{if str(request.args[1]) == 'c{}'.format(c.attributes.chapter_id):}}

                            {{c_title = c.settings.getLocalizedValue('title', locale)}}
                            {{c_subtitle = c.settings.getLocalizedValue('subtitle', locale)}}
                            {{c_abstract = c.settings.getLocalizedValue('abstract', locale)}}
                            {{c_authors = c.associated_items.get('authors', [])}}
                            {{c_files = c.associated_items.get('files', [])}}
                                <div class="chapter_row">
                                    <div class="chapter_cell">
                                        {{if c_title:}}
                                            <div class="chapter_title">{{=c_title}}</div>
                                        {{pass}}
                                        {{if c_subtitle:}}
                                            <div class="chapter_subtitle">{{=c_subtitle}}</div>
                                        {{pass}}
                                        {{if c_abstract:}}
                                            <div class="chapter_abstract">{{=XML(c_abstract)}}</div>
                                        {{pass}}
                                    </div>
                                </div>
                              {{pass}}
                              {{pass}}

                        </div>
                    </article>
                 </div>
            </div>

        </div>
 </section>