<div class="row">
	<div id="autoren" class="col-lg-9 col-md-12">
	<h4>{{=submission.attribution}}</h4>
	</div>


		{{ category = submission.associated_items.get('category', None)}}
		{{if category:}}
	<div class="spartenmarker col-lg-3 col-md-12">
		{{category_path=ompdal.getCategory(category.attributes.get('category_id')).get('path')}}

		{{=A(category.settings.getLocalizedValue('title', locale),_href=URL('category','info/'+str(category_path)))}}
		</div>
    	{{pass}}


</div>

<h4>{{=" ".join([submission.settings.getLocalizedValue('prefix', locale), submission.settings.getLocalizedValue('title', locale)])}}
	{{subtitle = submission.settings.getLocalizedValue('subtitle', locale)}}
	{{if subtitle:}}
		<br />{{=subtitle}}
	{{pass}}
</h4>
{{if submission.additional_attribution:}}<h5>{{=submission.additional_attribution}}</h5>{{pass}}
