{{extend 'layout.html'}}


<section id="content">
    <div class="container">
        <div class="row">
	
            <div class="col-lg-3">
                <article>
                    <div class="post-image">
		 	<img src="{{=URL(myconf.take('web.application'),'static','images/journals/cover_bkgd.jpg')}} ">
                  </div>

                </article>
                
                <div class="box">
			             <div class="box-gray alignleft" style="height: auto;">
                 {{if session.forced_language =='de': }}
                            <h5 style="color: #656565; margin-bottom: 0.5em;">Bibliographische Angaben</h5>
                            <p>Bausteine einer Korpusgrammatik des Deutschen<br>
                            
                            <p>Herausgegeben von:</p>
                            <ul>
                              <li>Marek Konopka</li>
                              <li>Angelika Wöllstein</li>
							  <li>Ekkehard Felder</li>
							  </ul>
							  
                            <p>Wissenschaftlicher Beirat</p>
                            Noah Bubenhofer, Peter Gallmann, Mechthild Habermann, Mathilde Hennig, Martin Hilpert, John Nerbonne, Damaris Nübling, Oliver Schallert, Babara Schlücker<br><br>
							
                            <p>Redaktion</p>
                            <ul>
                              <li>Kristin Kopf</li>
                              <li>Ulrich H. Waßner</li>
							  </ul>
							  
							<p>Koordination</p>
							Thilo Weber<br>

							<p>Heidelberg University Publishing, Heidelberg</p>
                            <h5>ISSN</h5> 
                            <p>ISSN 2702-2080 (Print)<br />
                            ISSN 2702-2099 (Online)</p>

                            <p>Dieses Werk ist unter der<br> <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.de" title="Homepage Creative Commons; Lizenz CC BY-SA 4.0">Creative Commons-Lizenz 4.0<br /> (CC BY-SA 4.0)</a> veröffentlicht.<br>
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.de" title="Homepage Creative Commons; Lizenz CC BY-SA 4.0"><img alt="Creative Commons Lizenz BY-SA 4.0" src="/static/images/catalog/cc_by-sa-4-0_88x31.png" /></a></p>

                             
             {{elif session.forced_language =='en': }}
             
<h5 style="color: #656565; margin-bottom: 0.5em;">Bibliographic details</h5>
                            <p>Bausteine einer Korpusgrammatik des Deutschen<br>
                            
                            <p>Edited by:</p>
                            <ul>
                              <li>Marek Konopka</li>
                              <li>Angelika Wöllstein</li>
							  <li>Ekkehard Felder</li>
                            </ul>

                            <p>Academic Advisory Board</p>
                            Noah Bubenhofer, Peter Gallmann, Mechthild Habermann, Mathilde Hennig, Martin Hilpert, John Nerbonne, Damaris Nübling, Oliver Schallert, Babara Schlücker<br><br>
							
                            <p>Heidelberg University Publishing, Heidelberg</p>
                            <h5>ISSN</h5> 
                            <p>ISSN 2702-2080 (Print)<br />
                            ISSN 2702-2099 (Online)</p>  

                            <p>This work is licensed under a <br> <a href="http://creativecommons.org/licenses/by-sa/4.0/" title="Homepage Creative Commons; Lizenz CC BY-SA 4.0">Creative Commons License 4.0<br> (CC BY-SA 4.0)</a>.<br>
                            <a href="http://creativecommons.org/licenses/by-sa/4.0/" title="Homepage Creative Commons; License CC BY-SA 4.0"><img alt="Creative Commons License BY-SA 4.0" src="/static/images/catalog/cc_by-sa-4-0_88x31.png" /></a></p>             

{{pass}}                  
                   </div>


             
                                         
                  </div>
 </div>   

            
            <div class="col-lg-9">
               <article>
        <div id="infoBoxRechts" class="col-lg-3">
          <!--<div class="box">
            <div class="box-gray"  style="height: auto;">
                 {{if session.forced_language =='de': }}
                <p class="boxText"><b>RSS für die aktuelle Ausgabe</b></p>
             {{elif session.forced_language =='en': }}
                <p class="boxText"><b>RSS for current issue</b></p>{{pass}}                                          
                <a href="https://heiup.uni-heidelberg.de/journals/index.php/bkgd/gateway/plugin/WebFeedGatewayPlugin/atom">
                   <img alt="Logo Atom" src="{{=URL('static','images/journals/atom10_logo.gif')}}" />
                </a>
                <a href="https://heiup.uni-heidelberg.de/journals/index.php/bkgd/gateway/plugin/WebFeedGatewayPlugin/rss2">
                   <img alt="Logo RSS 2.0" src="{{=URL('static','images/journals/rss20_logo.gif')}}" />
                </a>   
                <a href="https://heiup.uni-heidelberg.de/journals/index.php/bkgd/gateway/plugin/WebFeedGatewayPlugin/rss">
                   <img alt="Logo RSS 2.0" src="{{=URL('static','images/journals/rss10_logo.gif')}}" />
                </a>
                  </div>
                </div>         -->
             

               <!-- <div class="box">
                  <div class="box-gray"  style="height: auto;">
                    <p class="boxText"><b>{{=T('Information for authors')}}</b></p>
                        <ul class="standard">
                            <li><a href="http://https://heiup.uni-heidelberg.de/journals/index.php/bkgd/about/submissions#authorGuidelines">Author Guidelines</a></li>
                        </ul>
                  </div>
                </div>-->
                
          <div class="box">
            <div class="box-gray"  style="height: auto;">
                 
                <p class="boxText"><b>{{=T('Contact')}}</b></p>
                    <a href="mailto:weber@ids-mannheim.de">Thilo Weber </a>
                  </div>
                </div>                
              </div>

            <!--<div class="btn-group" role="group" aria-label="1">
             <ul class="schaltflaeche">
				 <li type="button" class="btn btn-default"><a href="https://heiup.uni-heidelberg.de/journals/index.php/bkgd/issue/current/showToc" title="{{=T('current issue')}}">{{=T('read current issue')}}</a></li>
             </ul>
			</div>
			
			<div class="btn-group" role="group" aria-label="1">
            <ul class="schaltflaeche">
				 <li type="button" class="btn btn-default"><a href="https://heiup.uni-heidelberg.de/journals/index.php/bkgd/issue/archive" title="{{=T('Archive')}}">{{=T('Archive')}}</a></li>
            </ul> 
			</div>   -->
			
     <div class="post-heading">
     
     
                  <h3>Bausteine einer Korpusgrammatik des Deutschen</h3>
        </div>

                 {{if session.forced_language =='de': }}
                 
<p>Eine deskriptive, konsequent korpuslinguistisch fundierte und an Fachpublikum gerichtete Grammatik des Deutschen gibt es bisher nicht. Es wird sie auch noch nicht so schnell als abgeschlossenes Werk geben, denn die Aufgabe ist enorm, wenn man sich zum Ziel setzt, mit modernen korpuslinguistischen Methoden die Vielfalt und Variabilität der deutschen Grammatik in großer Detailschärfe zu erfassen und gleichzeitig für die Validierbarkeit der Ergebnisse sorgen will.</p> 
<p>Zeitnah möglich ist aber die Erarbeitung einzelner Bausteine einer solchen Grammatik. Ebendies geschieht momentan am Leibniz-Institut für deutsche Sprache in Mannheim (IDS) im Rahmen des Projekts „Korpusgrammatik“. Mit den „Bausteinen einer Korpusgrammatik des Deutschen“ werden nach und nach korpusgestützte Untersuchungen im Open-Access-Format vorgelegt, die als einzelne Kapitel einer neuen wissenschaftlichen Grammatik des Deutschen gestaltet sind. Die Bausteine werden in Kooperation mit dem Germanistischen Seminar der Universität Heidelberg unter Trägerschaft des Europäischen Zentrums für Sprachwissenschaften (EZS) herausgegeben.</p>
<p>Die Reihe setzt sich dabei das ausdrückliche Ziel, einen Beitrag zur offenen Wissenschaft im Sinne der Open-Science-Bewegung zu leisten, indem Bestandteile des wissenschaftlichen Prozesses frei zugänglich und auch nachnutzbar gemacht werden: Neben begutachteten Texten in Form von Grammatikkapiteln werden Ergebnisse korpuslinguistisch-statistischer Analysen und bei ausgewählten Themen die zugrundeliegenden Sprachdaten veröffentlicht.</p>
                 


             {{elif session.forced_language =='en': }}

<p>A descriptive, consistently corpus-based academic grammar of German, aimed at a professional linguistic audience, does not yet exist, and it is unlikely to come into being any time soon – at least as a completed work. After all, the task is immense. Aiming to capture the diversity and variability of German grammar at a high resolution using state-of-the-art methodology while ensuring that its study results are verifiable is an especially enormous undertaking.</p>
<p>What does seem possible in a timely fashion, however, is the development of individual “building blocks” (German: “Bausteine”) for such a grammar. It is precisely this development that is currently underway in the project “Corpus grammar – grammatical variation in Standard and near-Standard German” at the Leibniz Institute for the German Language (IDS). Issue by issue, the “Bausteine”-series presents corpus-based studies in an open access format. The texts are written in the style of chapters for a new, corpus linguistic grammar of German. The series is edited in cooperation with the Department of German Language and Literature at Heidelberg University, under the aegis of the European Linguistics Centre (EZS).</p>
<p>It explicitly aims to contribute to the open science movement by making components of the research process publicly available and usable. In addition to the peer-reviewed texts, the series publishes the results of statistical analyses and, for selected topics, the underlying data sets.</p>


{{pass}}     


                    <!--<div class="widget">
                        <h5 class="widgetheading"></h5>
                 {{if session.forced_language =='de': }}
                        <ul class="tags">
                            <li><a href="https://heiup.uni-heidelberg.de/journals/index.php/bkgd/index">zur Zeitschrift</a></li>
                        </ul>
             {{elif session.forced_language =='en': }}
                        <ul class="tags">
                            <li><a href="https://heiup.uni-heidelberg.de/journals/index.php/bkgd/index">View Journal</a></li>
                        </ul>
{{pass}}     
                       
                    </div>      -->

                     			
			
                </article>
 
            </div>
 </div>
        </div>

</section>
