{{extend 'layout.html'}}


<section id="content">
    <div class="container">
        <div class="row">
	
            <div class="col-lg-3">
                <article>
                    <div class="post-image">
		 	<img src="{{=URL(myconf.take('web.application'),'static','images/journals/heieducation.jpg')}} ">
                  </div>

                </article>
                
                <div class="box">
			             <div class="box-gray alignleft" style="height: auto;">
                 {{if session.forced_language =='de': }}
                            <h5 style="color: #656565; margin-bottom: 0.5em;">Bibliographische Angaben</h5>
                            <p>heiEDUCATION Journal<br>
                            <!--
                            <p>Herausgeber</p>
                            <ul>
                              <li>Monica Juneja</li>
                              <li>Joachim Kurtz</li>
                              <li>Rudolf Wagner</li>
                            </ul>
                            <p>Managing Editor</p>
                              <ul>
                                <li>Andrea Hacker</li>
                              </ul>  
                            <p>Heidelberg University Publishing, Heidelberg</p>
                            <p>ISSN: 2191-6411</p>  

                            <p>Dieses Werk ist unter der<br> <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.de" title="Homepage Creative Commons; Lizenz CC BY-SA 4.0">Creative Commons-Lizenz 4.0<br /> (CC BY-SA 4.0)</a> veröffentlicht.<br>
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.de" title="Homepage Creative Commons; Lizenz CC BY-SA 4.0"><img alt="Creative Commons Lizenz BY-SA 4.0" src="/static/images/catalog/cc_by-sa-4-0_88x31.png" /></a></p>

                             -->
             {{elif session.forced_language =='en': }}
             
<h5 style="color: #656565; margin-bottom: 0.5em;">Bibliographic details</h5>
                            <p>heiEDUCATION Journalbr>
                            <!--
                            <p>Editors</p>
                            <ul>
                              <li>Monica Juneja</li>
                              <li>Joachim Kurtz</li>
                              <li>Rudolf Wagner</li>
                            </ul>
                            <p>Managing Editor</p>
                              <ul>
                                <li>Andrea Hacker</li>
                              </ul>  
                            <p>Heidelberg University Publishing, Heidelberg</p>
                            <p>ISSN: 2191-6411</p>  

                            <p>This work is licensed under a <br> <a href="http://creativecommons.org/licenses/by-sa/4.0/" title="Homepage Creative Commons; Lizenz CC BY-SA 4.0">Creative Commons License 4.0<br> (CC BY-SA 4.0)</a>.<br>
                            <a href="http://creativecommons.org/licenses/by-sa/4.0/" title="Homepage Creative Commons; License CC BY-SA 4.0"><img alt="Creative Commons License BY-SA 4.0" src="/static/images/catalog/cc_by-sa-4-0_88x31.png" /></a></p>             
-->
{{pass}}                  
                   </div>


             
                                         
                  </div>
 </div>   

            
            <div class="col-lg-9">
		
               <article>
			   <!--
        <div id="infoBoxRechts" class="col-lg-3">
          <div class="box">
            <div class="box-gray"  style="height: auto;">
                 {{if session.forced_language =='de': }}
                <p class="boxText"><b>RSS für die aktuelle Ausgabe</b></p>
             {{elif session.forced_language =='en': }}
                <p class="boxText"><b>RSS for current issue</b></p>
{{pass}}                                          

                    <a href="http://heiup.uni-heidelberg.de/journals/index.php/transcultural/gateway/plugin/WebFeedGatewayPlugin/atom"><img src="http://heiup.uni-heidelberg.de/journals/plugins/generic/webFeed/templates/images/atom10_logo.gif" alt="Atom logo" border="0" /></a><br />
	<a href="http://heiup.uni-heidelberg.de/journals/index.php/transcultural/gateway/plugin/WebFeedGatewayPlugin/rss2"><img src="http://heiup.uni-heidelberg.de/journals/plugins/generic/webFeed/templates/images/rss20_logo.gif" alt="RSS2 logo" border="0" /></a><br />
	<a href="http://heiup.uni-heidelberg.de/journals/index.php/transcultural/gateway/plugin/WebFeedGatewayPlugin/rss"><img src="http://heiup.uni-heidelberg.de/journals/plugins/generic/webFeed/templates/images/rss10_logo.gif" alt="RSS1 logo" border="0" /></a>
                  </div>
                </div>
             

                <div class="box">
                  <div class="box-gray"  style="height: auto;">
                 
                <p class="boxText"><b>{{=T('Information for authors')}}</b></p>

                                 

                    <ul class="standard">
                      <li><a href="http://heiup.uni-heidelberg.de/journals/index.php/transcultural/about/submissions#authorGuidelines">Author Guidelines</a></li>
                    </ul>
                  </div>
                </div>
                
          <div class="box">
            <div class="box-gray"  style="height: auto;">
                 
                <p class="boxText"><b>{{=T('Contact')}}</b></p>
                    <ul class="standard">
                      <li><a href="http://heiup.uni-heidelberg.de/journals/index.php/transcultural/about/contact">Andrea Hacker</a></li>
                    </ul>
                  </div>
                </div>                
              </div>

            <div class="btn-group" role="group" aria-label="1">
             <ul class="schaltflaeche">
				 <li type="button" class="btn btn-default"><a href="http://heiup.uni-heidelberg.de/journals/index.php/transcultural/issue/current/showToc" title="{{=T('current issue')}}">{{=T('read current issue')}}</a></li>
             </ul>
			</div>
			
			<div class="btn-group" role="group" aria-label="1">
            <ul class="schaltflaeche">
				 <li type="button" class="btn btn-default"><a href="http://heiup.uni-heidelberg.de/journals/index.php/transcultural/issue/archive" title="{{=T('Archive')}}">{{=T('Archive')}}</a></li>
            </ul> 
			</div>
			
     <div class="post-heading">
     -->
     
                  <h3>heiEDUCATION Journal</h3>
				  
				  <!--
        </div>
-->
                 {{if session.forced_language =='de': }}
                 <p>Weitere Informationen folgen</p>
				 
             {{elif session.forced_language =='en': }}
                <p>More information coming soon</p>


{{pass}}     
<!--

                    <div class="widget">
                        <h5 class="widgetheading"></h5>
                 {{if session.forced_language =='de': }}
                        <ul class="tags">
                            <li><a href="http://heiup.uni-heidelberg.de/journals/index.php/transcultural/index">zur Zeitschrift</a></li>
                        </ul>
             {{elif session.forced_language =='en': }}
                        <ul class="tags">
                            <li><a href="http://heiup.uni-heidelberg.de/journals/index.php/transcultural/index">View Journal</a></li>
                        </ul>
{{pass}}     
          -->             
                    </div>

                     			
			
                </article>

            </div>
 </div>
        </div>

</section>
