{{extend 'layout.html'}}


<section id="content">
    <div class="container">
        <div class="row">
	
            <div class="col-lg-3">
                <article>
                    <div class="post-image">
		 	          <img src="https://heiup.uni-heidelberg.de/journals/public/journals/155/cover_issue_2387_de_DE.jpg">
                  </div>

                </article>

              {{if session.forced_language =='de': }}                
                <div class="box">
			             <div class="box-gray alignleft" style="height: auto;">

                            <h5 style="color: #656565; margin-bottom: 0.5em;">Bibliographische Angaben</h5>
                            <p>heiEDUCATION Journal<br>

                            <p>Herausgeber</p>
                            <ul>
                              <li>Prof. Dr. Beatrix Busse</li>
                              <li>Prof. Dr. Gerhard Härle</li>
                            </ul>
                            <p>Redaktion</p>
                              <ul>
                                <!--<li>Kathrin Strobel (verantwortlich)</li>-->
								                <li>Dr. Corinna Assmann</li>
                              </ul>  
							             <p>Beratende Herausgeber</p>
							               <ul>
							                 <li>Prof. Dr. Tobias Dörfler</li>
                               <li>Prof. Dr. Michael Haus</li>
                               <li>Prof. Dr. Jörg Peltzer</li>
                               <li>PD Dr. Stefanie Samida</li>
                               <li>Dr. Cristian D. Magnus</li>
                               <li>Dr. Sebastian Mahner</li>
                               <li>Dr. Stefan Nessler</li>
                               <li>Dr. Christiane Wienand</li>
                               <li>Dr. Alexander Wohnig</li>
							               </ul>
                            <p>Heidelberg University Publishing, Heidelberg</p>
                            <!--<p>ISSN: 2191-6411</p>  -->
                            <!--
                            <p>Dieses Werk ist unter der<br> <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.de" title="Homepage Creative Commons; Lizenz CC BY-SA 4.0">Creative Commons-Lizenz 4.0<br /> (CC BY-SA 4.0)</a> veröffentlicht.<br>
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.de" title="Homepage Creative Commons; Lizenz CC BY-SA 4.0"><img alt="Creative Commons Lizenz BY-SA 4.0" src="/static/images/catalog/cc_by-sa-4-0_88x31.png" /></a></p>
                            -->
                   </div>
                 </div>                            

             {{elif session.forced_language =='en': }}
                <div class="box">
			             <div class="box-gray alignleft" style="height: auto;">
             
                      <h5 style="color: #656565; margin-bottom: 0.5em;">Bibliographic details</h5>
                            <p>heiEDUCATION Journal<br>
                            <p>Editors</p>
                            <ul>
                              <li>Prof. Dr. Beatrix Busse</li>
                              <li>Prof. Dr. Gerhard Härle</li>
                            </ul>
                            <p>Assistant Editors</p>
                              <ul>
                                <!--<li>Kathrin Strobel (verantwortlich)</li>-->
								              <li>Dr. Corinna Assmann</li>
                              </ul>  
							             <p>Consulting Editors</p>
							                <ul>
							                  <li>Prof. Dr. Tobias Dörfler</li>
                               <li>Prof. Dr. Michael Haus</li>
                               <li>Prof. Dr. Jörg Peltzer</li>
                               <li>PD Dr. Stefanie Samida</li>
                               <li>Dr. Cristian D. Magnus</li>
                               <li>Dr. Sebastian Mahner</li>
                               <li>Dr. Stefan Nessler</li>
                               <li>Dr. Christiane Wienand</li>
                               <li>Dr. Alexander Wohnig</li>
							                </ul>
                            <p>Heidelberg University Publishing, Heidelberg</p>
                            <!--<p>ISSN: 2191-6411</p>  -->
                            <!--
                            <p>This work is licensed under a <br> <a href="http://creativecommons.org/licenses/by-sa/4.0/" title="Homepage Creative Commons; Lizenz CC BY-SA 4.0">Creative Commons License 4.0<br> (CC BY-SA 4.0)</a>.<br>
                            <a href="http://creativecommons.org/licenses/by-sa/4.0/" title="Homepage Creative Commons; License CC BY-SA 4.0"><img alt="Creative Commons License BY-SA 4.0" src="/static/images/catalog/cc_by-sa-4-0_88x31.png" /></a></p>             
-->
                 
                   </div>
                  </div>
{{pass}} 
 </div>   

            
         <div class="col-lg-9">
		
           <article>

              <div id="infoBoxRechts" class="col-lg-3">

                <div class="box">
                  <div class="box-gray"  style="height: auto;">                 
                    <p class="boxText"><b>{{=T('Information for authors')}}</b></p>
                    <ul class="standard">
                 {{if session.forced_language =='de': }}
                      <li><a href="{{=URL(myconf.take('web.application'),'static','medien/journals/heieducation_autorenhinweise.pdf')}}">{{=T('Author Guidelines')}}</a></li>
                 {{elif session.forced_language =='en': }}                      
                      <li><a href="{{=URL(myconf.take('web.application'),'static','medien/journals/heieducation_authorguidelines.pdf')}}">{{=T('Author Guidelines')}}</a></li>
                 {{pass}}                         

                    </ul>
                  </div>
                </div>
                
          <div class="box">
            <div class="box-gray"  style="height: auto;">                 
                <p class="boxText"><b>{{=T('Contact')}}</b></p>
                    <ul class="standard">
                 {{if session.forced_language =='de': }}                    
                      <li><a href="mailto:heied-journal@heiedu.uni-heidelberg.de">Redaktion</a></li>
                 {{elif session.forced_language =='en': }}                      
                      <li><a href="mailto:heied-journal@heiedu.uni-heidelberg.de">Editors</a></li>  
                 {{pass}}                         
                    </ul>
                  </div>
                </div>                
              </div>

            <div class="btn-group" role="group" aria-label="1">
             <ul class="schaltflaeche">
				 <li type="button" class="btn btn-default"><a href="http://heiup.uni-heidelberg.de/journals/index.php/heied/issue/current/showToc" title="{{=T('current issue')}}">{{=T('read current issue')}}</a></li>
             </ul>
			</div>
			
			<div class="btn-group" role="group" aria-label="1">
            <ul class="schaltflaeche">
				      <li type="button" class="btn btn-default"><a href="http://heiup.uni-heidelberg.de/journals/index.php/heied/issue/archive" title="{{=T('Archive')}}">{{=T('Archive')}}</a></li>
            </ul> 
			</div>
      
			<div class="btn-group" role="group" aria-label="2">
			 <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">{{=T('Purchase')}}</button>
				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
				  <li role="presentation"><a role="menuitem"  href="https://www.buchhandel.de/buch/heiEDUCATION-JOURNAL-Lehrerbildung-im-Spannungsfeld-der-Diskurse-9783946054962" target='_blank'>buchhandel.de</a></li>
				  <li role="presentation"><a role="menuitem"  href="https://www.ebook.de/de/product/34484150/heieducation_journal_lehrerbildung_im_spannungsfeld_der_diskurse.html" target='_blank'>ebook.de</a></li>          
				  <li role="presentation"><a role="menuitem"  href="https://www.amazon.de/heiEDUCATION-JOURNAL-Transdisziplin%C3%A4re-Studien-Lehrerbildung/dp/394605496X/ref=sr_1_1?ie=UTF8&amp;qid=1542366747&amp;sr=8-1&amp;keywords=heieducation+journal" target='_blank'>Amazon</a></li>
					</ul>
			</div>      
	
     <div class="post-heading">     
                  <h3>heiEDUCATION Journal</h3>
        </div>

{{if session.forced_language =='de': }}
                 <p>Das <i>heiEDUCATION Journal. Transdisziplinäre Studien zur Lehrerbildung</i> ist eine neue fächer- und institutionenübergreifende wissenschaftliche Online-Zeitschrift, die an der <a href="http://www.hse-heidelberg.de/" title="Homepage der Heidelberg School of Education">Heidelberg School of Education</a> verortet ist. Die Heidelberg School of Education ist eine gemeinsame hochschulübergreifende Einrichtung der Pädagogischen Hochschule Heidelberg und der Universität Heidelberg.</p>

                 <p><b>aktuell.</b> In mindestens zwei Ausgaben pro Jahr behandelt das <i>heiEDUCATION Journal</i> aktuelle und relevante Themen der Lehrerbildung aus unterschiedlichen Domänen und Disziplinen.</p>

                 <p><b>transdisziplinär.</b> Die Zeitschrift richtet sich an alle Akteurinnen und Akteure der Lehrerbildung: Wissenschaftlerinnen und Wissenschaftler, Studierende, für die Fort- und Weiterbildung Verantwortliche sowie berufstätige Lehrerinnen und Lehrer.</p>

                 <p><b>dialogisch.</b> Die Rubrik <i>experiment</i> eröffnet ein Forum für den Austausch von Meinungen, für die Kommunikation über die Grenzen der Fächer und Institutionen hinweg sowie für die Diskussion anwendungsbezogener Konzepte.</p>

                 <p><b>digital.</b> Das <i>heiEDUCATION Journal</i> ist als Online-Zeitschrift jederzeit und überall zugänglich, kann aber auch in gedruckter Form im Buchhandel vor Ort oder über das Internet bestellt werden (Print on Demand).</p>

                <p><b>peer-reviewed.</b> Alle eingereichten Beiträge werden in einem Blind-Peer-Review-Verfahren von nationalen und internationalen Fachexpertinnen und -experten hinsichtlich ihrer wissenschaftlichen Qualität, ihrer Forschungsaktualität und ihrer Relevanz begutachtet.</p>

                <p><b>fokussiert.</b> Die Ausgaben bieten entweder forschungsaktuelle Einzelbeiträge oder folgen einem von den Herausgebern gesetzten Themenschwerpunkt. Zudem besteht auch für andere Wissenschaftler/teams die Möglichkeit, thematisch fokussierte Einzelausgaben herauszugeben (Special Editions). Bei Interesse wenden Sie sich bitte an <a href="mailto:heied-journal@heiedu.uni-heidelberg.de">heied-journal@heiedu.uni-heidelberg.de</a>.</p>

{{elif session.forced_language =='en': }}
                 <p>The <i>heiEDUCATION Journal. Transdisziplinäre Studien zur Lehrerbildung</i> is a new multidisciplinary and trans-institutional scientific online journal. The journal is affiliated with the <a href="http://www.hse-heidelberg.de/" title="Homepage Heidelberg School of Education">Heidelberg School of Education</a>, which is a joint venture of Heidelberg University and the Heidelberg University of Education, with both institutions of higher education equally vested.</p>

                 <p><b>current.</b> In at least two issues per year, the heiEDUCATION Journal addresses current and relevant topics in teacher education from different domains and disciplines.</p>

                 <p><b>transdisciplinary.</b> The journal addresses all actors involved in the field of teacher education: university teachers, researchers, students, those responsible for further and continuing education, as well as professional teachers.</p>

                 <p><b>dialogic.</b> The column <i>experiment</i> opens up a forum for exchanging opinions, for communicating across the boundaries of subjects and institutions, and for discussing concepts in application.</p>

                 <p><b>digital.</b> As an online journal, the <i>heiEDUCATION Journal</i> is accessible from anywhere at anytime. It is certainly also possible to order a print version on demand.</p>

                <p><b>peer-reviewed.</b> All submitted contributions are reviewed by national and international experts in the field in a double-blind peer review process. Accepted submissions should meet a high academic standard, offer state-of-the-art research, and be relevant.</p>

                <p><b>focused.</b> The issues either comprise single contributions of current research or follow a thematic focus set by the publishers. Moreover, (teams of) researchers can apply to publish single issues on a thematic focus (Special Editions). If you are interested, please contact us at <a href="mailto:heied-journal@heiedu.uni-heidelberg.de">heied-journal@heiedu.uni-heidelberg.de</a>.</p>

{{pass}}     





<!--

                    <div class="widget">
                        <h5 class="widgetheading"></h5>
                 {{if session.forced_language =='de': }}
                        <ul class="tags">
                            <li><a href="http://heiup.uni-heidelberg.de/journals/index.php/transcultural/index">zur Zeitschrift</a></li>
                        </ul>
             {{elif session.forced_language =='en': }}
                        <ul class="tags">
                            <li><a href="http://heiup.uni-heidelberg.de/journals/index.php/transcultural/index">View Journal</a></li>
                        </ul>
{{pass}}     
                 
                    </div>
     --> 
                     			
			
                </article>

            </div>
          </div>
        </div>

</section>
