{{extend 'layout.html'}}


<section id="content">
    <div class="container">
        <div class="row">
	
            <div class="col-lg-3">
                <article>
                    <div class="post-image">
		 	<img src="{{=URL(myconf.take('web.application'),'static','images/journals/cover_mial.jpg')}} ">
                  </div>

                </article>
                
                <div class="box">
			             <div class="box-gray alignleft" style="height: auto;">
{{if session.forced_language =='de': }}
                            <h5 style="color: #656565; margin-bottom: 0.5em;">Bibliographische Angaben</h5>
                            <p>Das Mittelalter</p>
                            
                            <p>Herausgegeben von Prof. Dr. Regina Toepfer im Auftrag des Präsidiums des Mediävistenverbandes.</p>
                            <p>Heidelberg University Publishing, Heidelberg</p>
                            <p>ISSN: 2196-6869 (Online)</p>
                            <p>ISSN 0949-0345 (Print)</p>  

                            <p>Dieses Werk ist unter der<br> <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.de" title="Homepage Creative Commons; Lizenz CC BY-SA 4.0">Creative Commons-Lizenz 4.0<br /> (CC BY-SA 4.0)</a> veröffentlicht.<br>
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.de" title="Homepage Creative Commons; Lizenz CC BY-SA 4.0"><img alt="Creative Commons Lizenz BY-SA 4.0" src="/static/images/catalog/cc_by-sa-4-0_88x31.png" /></a></p>

                             
{{elif session.forced_language =='en': }}
             
<h5 style="color: #656565; margin-bottom: 0.5em;">Bibliographic details</h5>
                            <p>Das Mittelalter (The Middle Ages)</p>
                            
                            <p>Published by Prof. Dr. Regina Toepfer on behalf of the Presidium of the Mediävistenverband.</p>
							  
                            <p>Heidelberg University Publishing, Heidelberg</p>
                            <p>ISSN: 2196-6869 (Online)</p> 
                            <p>ISSN 0949-0345 (Print)</p>  
                            
                            
                            <p>This work is licensed under a <br> <a href="http://creativecommons.org/licenses/by-sa/4.0/" title="Homepage Creative Commons; Lizenz CC BY-SA 4.0">Creative Commons License 4.0<br> (CC BY-SA 4.0)</a>.<br>
                            <a href="http://creativecommons.org/licenses/by-sa/4.0/" title="Homepage Creative Commons; License CC BY-SA 4.0"><img alt="Creative Commons License BY-SA 4.0" src="/static/images/catalog/cc_by-sa-4-0_88x31.png" /></a></p>             

{{pass}}                  
                   </div>
                                        
                  </div>
            </div>   

            
            <div class="col-lg-6">
               <article>
               

            <div class="btn-group" role="group" aria-label="1">
             <ul class="schaltflaeche">
				 <li type="button" class="btn btn-default"><a href="http://heiup.uni-heidelberg.de/journals/index.php/mial/issue/current/showToc" title="{{=T('current issue')}}">{{=T('read current issue')}}</a></li>
             </ul>
			</div>
			
			<div class="btn-group" role="group" aria-label="1">
            <ul class="schaltflaeche">
				 <li type="button" class="btn btn-default"><a href="http://heiup.uni-heidelberg.de/journals/index.php/mial/issue/archive" title="{{=T('Archive')}}">{{=T('Archive')}}</a></li>
            </ul> 
			</div>
			
     <div class="post-heading">
     
            {{if session.forced_language =='de': }}     
                  <h3>Das Mittelalter</h3>
            {{elif session.forced_language =='en': }}
                  <h3>Das Mittelalter (The Middle Ages)</h3>
            {{pass}}     
                  
        </div>

                 {{if session.forced_language =='de': }}
                 
<p>Die Zeitschrift ‚Das Mittelalter. Perspektiven mediävistischer Forschung‘ wurde 1996 vom Mediävistenverband als Forum für die interdisziplinäre Mediävistik gegründet und gehört zu den wichtigsten mediävistischen Periodika weltweit. Die Hefte sind thematisch ausgerichtet, enthalten Beiträge aus mindestens drei verschiedenen Disziplinen und behandeln aktuelle Fragestellungen aus allen Bereichen der Mediävistik. Die Aufsätze unterliegen einem Peer Review-Verfahren und sind in deutscher oder englischer Sprache verfasst. Der Thementeil wird ergänzt durch einen umfangreichen Rezensionsteil, in dem wichtige Neuerscheinungen vorgestellt werden; seit 2021 wird die Zeitschrift ‚Das Mittelalter‘ auch open access publiziert.</p>
<p>Der Mediävistenverband lädt in regelmäßigen Abständen in einem <a href="https://heiup.uni-heidelberg.de/journals/index.php/mial/call-for-issues" title="Online Journal 'Das Mittelalter', Call for Issues">‚Call for Issues‘</a> dazu ein, Vorschläge für die Gestaltung von Themenheften bei der Schriftführung einzureichen.  Präsidium und wissenschaftlicher Beirat prüfen die eingegangenen Vorschläge und treffen eine thematische Auswahl. Die Herausgeber*innen eines Themenhefts veröffentlichen einen <a href="https://heiup.uni-heidelberg.de/journals/index.php/mial/call-for-papers" title="Online Journal 'Das Mittelalter', Call for Papers">‚Call for Papers‘</a>, wählen in Abstimmung mit dem wissenschaftlichen Beirat potentielle Beiträge aus und organisieren eine Autor*innenkonferenz, auf der die begutachteten Aufsätze diskutiert werden.</p>

            <!-- <div class="btn-group" role="group" aria-label="1">
                <ul class="schaltflaeche">
				 <li class="btn btn-default" type="button">{{=A(T('Call for Papers (PDF)'),_href=URL('static','medien/journals/mittelalter_cfp_03-2021.pdf'))}} </li>
                </ul> 
			</div> -->
     

             {{elif session.forced_language =='en': }}

<p>Since 1996, the Mediävistenverband e.V. has published the biannual magazine ‘Das Mittelalter: Perspektiven mediävistischer Forschung’, which sees itself as a forum for interdisciplinary medieval studies. The issues are thematically oriented, combine contributions from at least three different disciplines and deal with current issues from all areas of medieval studies. The thematic section is supplemented by a comprehensive review section in which important new publications (monographs, editions, anthologies) are presented. Since 2018, all articles of the journal are subject to a peer review process.</p>
<p>The Medievalists' Association has a regular <a href="https://heiup.uni-heidelberg.de/journals/index.php/mial/call-for-issues?lang=en" title="Online Journal 'Das Mittelalter', Call for Issues">'Call for Issues'</a>, inviting submissions for proposals for the design of thematic booklets during the writing process.  The Presidium and Scientific Advisory Board examine the suggestions received and make a thematic selection. The editors of a thematic issue publish a <a href="https://heiup.uni-heidelberg.de/journals/index.php/mial/call-for-papers?lang=en" title="Online Journal 'Das Mittelalter', Call for Papers">'Call for Papers'</a>, select potential contributions in consultation with the scientific advisory board, and organise an authors' conference at which the reviewed articles are discussed.</p>


           <!-- <div class="btn-group" role="group" aria-label="1">
                <ul class="schaltflaeche">
				 <li class="btn btn-default" type="button">{{=A(T('Call for Papers (PDF)'),_href=URL('static','medien/journals/mittelalter_cfp_03-2021.pdf'))}} </li>
                </ul> 
			</div> -->

{{pass}}     


                    <div class="widget">
                        <h5 class="widgetheading"></h5>
                 {{if session.forced_language =='de': }}
                        <ul class="tags">
                            <li><a href="http://heiup.uni-heidelberg.de/journals/index.php/mial/index">zur Zeitschrift</a></li>
                        </ul>
             {{elif session.forced_language =='en': }}
                        <ul class="tags">
                            <li><a href="http://heiup.uni-heidelberg.de/journals/index.php/mial/index">View Journal</a></li>
                        </ul>
{{pass}}     
                       
                    </div>

                     			
			
                </article>
 
            </div>
            <div id="infoBoxRechts" class="col-lg-3">

                <div class="box">
                  <div class="box-gray"  style="height: auto;">
{{if session.forced_language =='de': }}
                    <p class="boxText"><b>Informationen zum Download</b></p>
{{elif session.forced_language =='en': }}
                    <p class="boxText"><b>Information to download</b></p>
{{pass}}
                    <ul class="standard">
{{if session.forced_language =='de': }}                    
                      <li>{{=A(T('Author Style Guide'),_href=URL('static','medien/journals/mial_richtlinien-autoren.pdf'))}}</li>
{{elif session.forced_language =='en': }}                      
                      <li>{{=A(T('Author Style Guide'),_href=URL('static','medien/journals/mial_stylesheet-authors.pdf'))}}</li>
{{pass}}  
                      <li>{{=A(T('Reviewer Style Guide'),_href=URL('static','medien/journals/mial_richtlinien-rezensenten.pdf'))}}</li>                      
                    </ul>
                  </div>
                </div>
                
              </div>             
 </div>
        </div>

</section>
