{{extend 'layout.html'}} 
<section id="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <article>
          <div class="post-image">
            <img src="{{=URL(myconf.take('web.application'),'static','images/campusmedia/cover_alte_aula.jpg')}}">
          </div>
        </article>
        <div class="box">
          <div class="box-gray alignleft" style="height: auto;">
            <h5 style="color: #656565; margin-bottom: 0.5em;">{{=T('How to cite this title')}}</h5>
            <p>Hawicks, Heike und Ingo Runde (Hrsg.): Die Alte Aula der Universität Heidelberg. Heidelberg: Heidelberg University Publishing / Campus Media, 2016. DOI: <a href="http://dx.doi.org/10.17885/heiup.122.149">10.17885/heiup.122.149</a></p>
            <h5 style="color: #656565; margin-bottom: 0.3em;">{{=T('Licenses')}}</h5>
              {{if session.forced_language =='de': }}
                                        <p>Dieses Werk ist unter der<br> <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.de" title="Homepage Creative Commons; Lizenz CC BY-SA 4.0">Creative Commons-Lizenz 4.0<br/> (CC BY-SA 4.0)</a> veröffentlicht.<br>
                                        <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.de" title="Homepage Creative Commons; Lizenz CC BY-SA 4.0"><img alt="Creative Commons Lizenz BY-SA 4.0" src="/static/images/catalog/cc_by-sa-4-0_88x31.png" /></a></p>
                                {{elif session.forced_language =='en': }}
                                        <p>This work is licensed under a <a href="http://creativecommons.org/licenses/by-sa/4.0/" title="Homepage Creative Commons; License CC BY-SA 4.0">Creative Commons License 4.0<br/> (CC BY-SA 4.0)</a> .<br>
                                        <a href="https://creativecommons.org/licenses/by-sa/4.0/" title="Homepage Creative Commons; Lizenz CC BY-SA 4.0"><img alt="Creative Commons License BY-SA 4.0" src="/static/images/catalog/cc_by-sa-4-0_88x31.png" /></a></p>
                                {{pass}}
              <h5 style="color: #656565; margin-bottom: 0.5em; margin-top: 1.2em;">ISBN</h5>
              <p style="margin:0px">9783946054115 (PDF)<br /></p>
	      <p style="margin:0px"></p>
	      <p style="margin:0px">9783946054108 (Softcover)<br /></p>
              <p style="margin-top: 1.2em;">Veröffentlicht am 23.09.2016.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
         <article>
	          	<div class="">
				<!--
	              		<div class="btn-group" role="group" aria-label="1">
	              			<li type="button" class="btn btn-default"><a href=http://vg07.met.vgwort.de/na/5a4879b159854b0e897a0fffc8bf7fd0?l=http://heiup.uni-heidelberg.de/UBHD_OMPPortal/reader/index/48/48-68-599-1-10-20160428.xml target="_blank">{{=T('Read')}}</a></li>
	              		</div>	
						-->
	              	        <div class="btn-group" role="group" aria-label="2">
	              	             <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">Download <span class="caret"></span></button>
		             		<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
		                		<li role="presentation"><a role="menuitem" tabindex="-1" href=http://heiup.uni-heidelberg.de/heiup/reader/download/122/122-68-75730-4-10-20161220.pdf>PDF</a></li>
		              		</ul>
                            </div>
	                        <div class="btn-group" role="group" aria-label="2">
		                     <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">{{=T('Purchase')}}<span class="caret"></span></button>
	                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
	                	        <li role="presentation"><a role="menuitem"  href="https://www.buchhandel.de/buch/Die-Alte-Aula-der-Universitaet-Heidelberg-9783946054108" target='_blank'>buchhandel.de</a></li>
	                	        <li role="presentation"><a role="menuitem"  href="https://www.amazon.de/Die-Alte-Aula-Universität-Heidelberg/dp/3946054102" target='_blank'>Amazon</a></li>
	                                </ul>
	                        </div>

	                 <div class="post-heading">
	                 <br/>
					 

	                 <h5>Heike Hawicks, Ingo Runde (Hrsg.)</h5>
	              </div>
	              <h3>Die Alte Aula der Universität Heidelberg</h3>
	            <p>
	              <i class="icon-quote-left"></i>
                      {{if session.forced_language =='de': }}
	              <p>Die Aula der Alten Universität ist Festsaal und Herzkammer der Ruperto Carola und veranschaulicht in Allegorien und Metaphern Geschichte und Selbstverständnis der ältesten Universität im heutigen Deutschland. Ursprünglich in barocker Ausgestaltung erbaut, wurde sie zum 500. Bestehen der Universität komplett umgestaltet. Der vom Großherzog von Baden gestiftete prachtvolle Raum präsentiert sich heute als eines der wenigen intakt erhaltenen Ensembles der Karlsruher Holzschnitzschule und wird überwiegend für akademische Feiern wie Antrittsvorlesungen neuberufener Professoren oder Absolventenfeiern genutzt. Die Aula ist jedoch auch ein Ort für öffentliche Konzerte und Vorträge, denen das ehrwürdige Ambiente dieses Saals einen besonderen Glanz verleihen soll.</p>
                      {{elif session.forced_language =='en': }}
                      <p>The Great Hall of the Old University building is the ceremonial hall and heart of Heidelberg University. With the aid of allegories and metaphors, it illustrates the history and self-image of the oldest university in modern-day Germany. Originally built in the baroque style, it was remodelled completely on the occasion of the University’s 500th anniversary. The magnificent room donated by the Grand Duke of Baden is one of the few ensembles of the Karlsruhe School of Woodcutting that remains intact; it is used primarily for academic events such as inaugural lectures of newly appointed professors or graduation ceremonies. But the Great Hall is also a place for public concerts and presentations to which the venerable surroundings lend a particular splendour.</p>
                      {{pass}}
	            </p>                   
                                        <div class="separator"></div>
                                        <div class="autor_biografie">
			                {{if session.forced_language =='de': }}			
			            	<p>Dr. <strong>Heike Hawicks</strong> M.A. ist Lehrbeauftragte für Mittelalterliche Geschichte und Historische Grundwissenschaften an der Universität Heidelberg. Seit 2015 ist sie erste Vorsitzende des Freundeskreises für Archiv und Museum der Universität Heidelberg.</p>
                                        <p>Dr. <strong>Ingo Runde</strong> ist seit 2010 Direktor des Universitätsarchivs Heidelberg. Seit 2011 ist er zudem Lehrbeauftragter für Historische Grundwissenschaften an der Universität Heidelberg und Vorstandsmitglied im Freundeskreis für Archiv und Museum der Universität Heidelberg.</p>
                                        {{elif session.forced_language =='en': }}
                                        <p>Dr <strong>Heike Hawicks</strong> M.A. teaches medieval history and historical methodology at Heidelberg University. In 2015 she became First Chair of the ‘Friends of Heidelberg University Archive and Museum’ association.</p>
                                        <p>Dr <strong>Ingo Runde</strong> has headed the Heidelberg University Archive since 2010. In 2011 he accepted a position as lecturer in historical methodology at Heidelberg University and joined the board of the ‘Friends of Heidelberg University Archive and Museum’ association.</p> 
                                        {{pass}}
                                        </div>
	          	
	          </div>
	          
	          <div class="widget">
	            <div id="downloadTable">
	            	<div class="chapter_row table_head">
	            		<div class="chapter_cell">{{=T('Contents')}}</div>
	            			<div class="chapter_cell"><td>PDF</td></div>
<!--	            			<div class="chapter_cell"><td>HTML</td></div>-->
	            	        </div>
	            	

							<div class="chapter_row">
	            		  <div class="chapter_cell"><div class="chapter_title">Titelei</div></div>
	            		  <div class="chapter_cell"><div class="chapter_file"><a href="http://heiup.uni-heidelberg.de/heiup/reader/download/122/122-78-75731-2-10-20161021.pdf"><i class="fa fa-file-text-o"></i></a></div></div>
<!--	            		  <div class="chapter_cell"><div class="chapter_file"><a href="http://vg07.met.vgwort.de/na/5a4879b159854b0e897a0fffc8bf7fd0?l=http://heiup.uni-heidelberg.de/UBHD_OMPPortal/reader/index/48/48-69-597-1-10-20160428.xml"><i class="fa fa-html5"></i></a></div></div>-->
	                        </div>
							
							<div class="chapter_row">
	            		  <div class="chapter_cell"><div class="chapter_title">Inhaltsverzeichnis</div></div>
	            		  <div class="chapter_cell"><div class="chapter_file"><a href="http://heiup.uni-heidelberg.de/heiup/reader/download/122/122-78-75732-2-10-20161021.pdf"><i class="fa fa-file-text-o"></i></a></div></div>
<!--	            		  <div class="chapter_cell"><div class="chapter_file"><a href="http://vg07.met.vgwort.de/na/5a4879b159854b0e897a0fffc8bf7fd0?l=http://heiup.uni-heidelberg.de/UBHD_OMPPortal/reader/index/48/48-69-597-1-10-20160428.xml"><i class="fa fa-html5"></i></a></div></div>-->
	                        </div>
						
					
	            	        <div class="chapter_row">
	            	 	  <div class="chapter_cell"><div class="chapter_title">Grußwort des Rektors der Universität Heidelberg</div></div>
               		      <div class="chapter_cell"><div class="chapter_file"><a href="http://vg07.met.vgwort.de/na/1e9d94dd8e4c43dba1d1c48469ce135f?l=http://heiup.uni-heidelberg.de/heiup/reader/download/122/122-78-75733-3-10-20161021.pdf"><i class="fa fa-file-text-o"></i></a></div></div>
	         <!--   		  <div class="chapter_cell"><div class="chapter_file"><a href="http://vg07.met.vgwort.de/na/5a4879b159854b0e897a0fffc8bf7fd0?l=http://heiup.uni-heidelberg.de/UBHD_OMPPortal/reader/index/48/48-69-596-1-10-20160428.xml"><i class="fa fa-html5"></i></a></div></div>-->
	            	        </div>
	            	
	            	        <div class="chapter_row">
	            		  <div class="chapter_cell"><div class="chapter_title">Vorwort der Herausgeber</div></div>
	            		  <div class="chapter_cell"><div class="chapter_file"><a href="http://vg07.met.vgwort.de/na/dcda905aaa6d4075bda0d3319a328c81?l=http://heiup.uni-heidelberg.de/heiup/reader/download/122/122-72-75734-2-10-20161021.pdf"><i class="fa fa-file-text-o"></i></a></div></div>
<!--	            		  <div class="chapter_cell"><div class="chapter_file"><a href="http://vg07.met.vgwort.de/na/5a4879b159854b0e897a0fffc8bf7fd0?l=http://heiup.uni-heidelberg.de/UBHD_OMPPortal/reader/index/48/48-69-597-1-10-20160428.xml"><i class="fa fa-html5"></i></a></div></div>-->
	                        </div>
	                	
	            	        <div class="chapter_row">
	            		  <div class="chapter_cell"><div class="chapter_author">Heike Hawicks</div><div class="chapter_title">Funktion und Nutzung der Alten Aula im Wandel der Zeit</div></div>
	           	          <div class="chapter_cell"><div class="chapter_file"><a href="http://vg07.met.vgwort.de/na/042b292aee5641bd842f80ab9626b30b?l=http://heiup.uni-heidelberg.de/heiup/reader/download/122/122-78-75736-2-10-20161021.pdf"><i class="fa fa-file-text-o"></i></a></div></div>
<!--	            		  <div class="chapter_cell"><div class="chapter_file"><a href="http://vg07.met.vgwort.de/na/5a4879b159854b0e897a0fffc8bf7fd0?l=http://heiup.uni-heidelberg.de/UBHD_OMPPortal/reader/index/48/48-69-270-1-10-20160127.xml"><i class="fa fa-html5"></i></a></div></div>-->
	            	       </div>
	                	
	            	       <div class="chapter_row">
	            		  <div class="chapter_cell"><div class="chapter_author">Andreas Cser</div><div class="chapter_title">Die Universität Heidelberg im Zeichen des Neuaufbaus zu Beginn des 18. Jahrhunderts</div></div>
                          <div class="chapter_cell"><div class="chapter_file"><a href="http://vg07.met.vgwort.de/na/9d25ee092cef429f8acbecb94b17441f?l=http://heiup.uni-heidelberg.de/heiup/reader/download/122/122-69-75737-2-10-20161021.pdf"><i class="fa fa-file-text-o"></i></a></div></div>
<!--	            		  <div class="chapter_cell"><div class="chapter_file"><a href="http://vg07.met.vgwort.de/na/5a4879b159854b0e897a0fffc8bf7fd0?l=http://heiup.uni-heidelberg.de/UBHD_OMPPortal/reader/index/48/48-69-271-1-10-20160129.xml"><i class="fa fa-html5"></i></a></div></div>-->
	            	       </div>
	                	
	            	       <div class="chapter_row">
	            		  <div class="chapter_cell"><div class="chapter_author">Reinhard Düchting</div><div class="chapter_title">Die barocke Decke der Alten Aula</div></div>
                          <div class="chapter_cell"><div class="chapter_file"><a href="http://vg07.met.vgwort.de/na/330dd9d643cc4766b06f3e7c49829f51?l=http://heiup.uni-heidelberg.de/heiup/reader/download/122/122-69-75738-2-10-20161021.pdf"><i class="fa fa-file-text-o"></i></a></div></div>
<!--                                  <div class="chapter_cell"><div class="chapter_file"><a href="http://vg07.met.vgwort.de/na/5a4879b159854b0e897a0fffc8bf7fd0?l=http://heiup.uni-heidelberg.de/UBHD_OMPPortal/reader/index/48/48-69-272-1-10-20160129.xml"><i class="fa fa-html5"></i></a></div></div>-->
	            	       </div>
	                	
	            	       <div class="chapter_row">
	            	          <div class="chapter_cell"><div class="chapter_author">Frank Engehausen</div><div class="chapter_title">Die Universität am Vorabend ihrer 500-Jahr-Feier 1886</div></div>
	            		  <div class="chapter_cell"><div class="chapter_file"><a href="http://vg07.met.vgwort.de/na/85e320d49f3a4c49abff9640d6c0bd68?l=http://heiup.uni-heidelberg.de/heiup/reader/download/122/122-69-75739-2-10-20161021.pdf"><i class="fa fa-file-text-o"></i></a></div></div>
<!--	            		  <div class="chapter_cell"><div class="chapter_file"><a href="http://vg07.met.vgwort.de/na/5a4879b159854b0e897a0fffc8bf7fd0?l=http://heiup.uni-heidelberg.de/UBHD_OMPPortal/reader/index/48/48-69-527-1-10-20160329.xml"><i class="fa fa-html5"></i></a></div></div>-->
	            	       </div>
	                	
	            	       <div class="chapter_row">
	            		 <div class="chapter_cell"><div class="chapter_author">Charlotte Lagemann</div><div class="chapter_title">Eine Jubiläumsfeier von nationaler Bedeutung</div><div class="chapter_subtitle">Die Ausstattung der Aula zum 500-jährigen Bestehen der Universität Heidelberg</div></div>
	            		 <div class="chapter_cell"><div class="chapter_file"><a href="http://vg07.met.vgwort.de/na/bf39df2d25134ba8a1c609f369adc0e9?l=http://heiup.uni-heidelberg.de/heiup/reader/download/122/122-69-75740-3-10-20161220.pdf"><i class="fa fa-file-text-o"></i></a></div></div>
<!--	            		 <div class="chapter_cell"><div class="chapter_file"><a href="http://vg07.met.vgwort.de/na/5a4879b159854b0e897a0fffc8bf7fd0?l=http://heiup.uni-heidelberg.de/UBHD_OMPPortal/reader/index/48/48-69-529-1-10-20160329.xml"><i class="fa fa-html5"></i></a></div></div>-->
	            	       </div>
	                	
	            	       <div class="chapter_row">
	            		 <div class="chapter_cell"><div class="chapter_author">Ingo Runde</div><div class="chapter_title">Die Heidelberger Universitätsfahnen von 1874 und 1886 in der Alten Aula</div></div>
	            		 <div class="chapter_cell"><div class="chapter_file"><a href="http://vg07.met.vgwort.de/na/66b6b20fa8364829acca159ce423f5c2?l=http://heiup.uni-heidelberg.de/heiup/reader/download/122/122-69-75741-2-10-20161021.pdf"><i class="fa fa-file-text-o"></i></a></div></div>
<!--	            	         <div class="chapter_cell"><div class="chapter_file"><a href="http://vg07.met.vgwort.de/na/5a4879b159854b0e897a0fffc8bf7fd0?l=http://heiup.uni-heidelberg.de/UBHD_OMPPortal/reader/index/48/48-69-530-1-10-20160401.xml"><i class="fa fa-html5"></i></a></div></div>-->
	            	       </div>
	                	
	            	       <div class="chapter_row">
	            		 <div class="chapter_cell"><div class="chapter_author">Letizia Mancino-Cremer</div><div class="chapter_title">Neuer Glanz in Alter Aula. Die Renovierung zur 600-Jahr-Feier 1986</div></div>
	            		 <div class="chapter_cell"><div class="chapter_file"><a href="http://vg07.met.vgwort.de/na/2c4067008ab8471bafb37ebfb552445?l=http://heiup.uni-heidelberg.de/heiup/reader/download/122/122-69-75742-2-10-20161021.pdf"><i class="fa fa-file-text-o"></i></a></div></div>
<!--	            	         <div class="chapter_cell"><div class="chapter_file"><a href="http://vg07.met.vgwort.de/na/5a4879b159854b0e897a0fffc8bf7fd0?l=http://heiup.uni-heidelberg.de/UBHD_OMPPortal/reader/index/48/48-69-598-1-10-20160428.xml"><i class="fa fa-html5"></i></a></div></div>-->
	            	       </div>
	                	
	            	       <div class="chapter_row">
	            		 <div class="chapter_cell"><div class="chapter_author">Franz Wassermann</div><div class="chapter_title">Zur Hymne der Universität Heidelberg</div></div>
            	         <div class="chapter_cell"><div class="chapter_file"><a href="http://vg07.met.vgwort.de/na/2b5d09eea5e54d3ba50cfbc5f979804d?l=http://heiup.uni-heidelberg.de/heiup/reader/download/122/122-69-75743-3-10-20161209.pdf "><i class="fa fa-file-text-o"></i></a></div></div>
<!--	            		 <div class="chapter_cell"><div class="chapter_file"><a href="http://vg07.met.vgwort.de/na/5a4879b159854b0e897a0fffc8bf7fd0?l=http://heiup.uni-heidelberg.de/UBHD_OMPPortal/reader/index/48/48-69-595-1-10-20160428.xml"><i class="fa fa-html5"></i></a></div></div>-->
	            	       </div>
                               <div class="chapter_row">
                                 <div class="chapter_cell"><div class="chapter_title">Zu den Autoren</div></div>
                                 <div class="chapter_cell"><div class="chapter_file"><a href="http://heiup.uni-heidelberg.de/heiup/reader/download/122/122-78-75744-2-10-20161021.pdf"><i class="fa fa-file-text-o"></i></a></div></div>
<!--                                 <div class="chapter_cell"><div class="chapter_file"><a href="http://vg07.met.vgwort.de/na/5a4879b159854b0e897a0fffc8bf7fd0?l=http://heiup.uni-heidelberg.de/UBHD_OMPPortal/reader/index/48/48-69-595-1-10-20160428.xml"><i class="fa fa-html5"></i></a></div></div>-->
                               </div>

	            </div>
	          </div>
	        </article>
	      </div>
	    </div>
	  </div>
	</section>
	<div id="vgwpixel"></div>
</div>
~                       
