{{extend 'layout.html'}} {{if request.args:}} {{if request.args[0]:}} {{if request.args[0]=='contact':}} {{if session.forced_language =='de': }} 
<div class="row">
  <div class="container"><h3>Studium Generale</h3><h4>Kontakt</h4>
    <p>Geschäftsstelle Studium Generale<br />
    Abt. 6.3 (Wissensaustausch, Kongress- und Tagungsmanagement)<br />
    im Dezernat Forschung<br />
    Seminarstr. 2, 69117 Heidelberg<br />
      <a href="http://www.uni-heidelberg.de/studiumgenerale" title="Homepage Studium Generale">www.uni-heidelberg.de/studiumgenerale</a><br />
    </p>
    <p>Monika Conrad<br />
    Seminarstr. 2, 69117 Heidelberg<br />
    Telefon: +49 6221 54-2370<br />
    E-Mail: <a href="mailto:studiumgenerale@urz.uni-heidelberg.de" title="Email schicken an Monika Conradt">studiumgenerale@urz.uni-heidelberg.de</a>
    </p>
  </div>
</div>{{elif session.forced_language =='en': }} 
<div class="row">
  <div class="container"><h3>Studium Generale</h3><h4>Contact</h4>
    <p>Geschäftsstelle Studium Generale<br />
    Abt. 6.3 (Wissensaustausch, Kongress- und Tagungsmanagement)<br />
    im Dezernat Forschung<br />
    Seminarstr. 2, 69117 Heidelberg<br />
      <a href="http://www.uni-heidelberg.de/studiumgenerale" title="Homepage Studium Generale">www.uni-heidelberg.de/studiumgenerale</a><br />
    </p>
    <p>Monika Conrad<br />
    Seminarstr. 2, 69117 Heidelberg<br />
    Telefon: +49 6221 54-2370<br />
    E-Mail: <a href="mailto:studiumgenerale@urz.uni-heidelberg.de" title="send email to Monika Conradt">studiumgenerale@urz.uni-heidelberg.de</a>
    </p>
  </div>
  </div> {{pass}} {{pass}} {{pass}} {{else:}} 
<section id="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <article>
          <div class="post-image" style="border: 1px solid #f5f5f5;">
            <img src="{{=URL(myconf.take('web.application'),'static','images/campusmedia/studiumgenerale.jpg')}}">
          </div>
        </article>
        <div class="box">
          <div class="box-gray alignleft" style="height: auto;">{{if session.forced_language =='de': }} 
            <h5 style="color: #656565; margin-bottom: 0.5em;">Studium Generale</h5>
            <p><b>Kontakt</b></p>
              <p>Rektoratskommission Studium Generale
                </p>
                <p>Vorsitz:<br />
                <b>Prof. Dr. Óscar Loureda Lamas</b>
                </p>
                <p>Mitglieder:<br />
                <b>Prof. Dr. Cord Arendes</b><br />Historisches Seminar<br /><b>Tobias Just</b><br />Marsilius-Kolleg<br /><b>Prof. Dr. Andreas Kruse</b><br />Institut für Gerontologie<br /><b>Prof. Dr. Axel Michaels</b><br />Südasien-Institut<br /><b>Gabi Wolfarth</b><br />Fachschaftskonferenz<br /><b>Prof. Dr. Annemarie Pucci</b><br />Kirchhoff Institut für Physik<br /><b>Prof. Dr. Gertrud Maria Rösch</b><br />Seminar für Deutsch als Fremdsprachenphilologie<br /><b>Prof. Dr. Sabine Strahl</b><br />Centre for Organismal Studies
              </p>
              <p>Redaktion:<br />
              <b>Dr. Jörg Kraus</b> (verantwortlich) joerg.kraus@zuv.uni-heidelberg.de</p>
              <p><b>Monika Conrad</b> (Leitung) studiumgenerale@urz.uni-heidelberg.de</p>
              <p>Heidelberg University Publishing, Heidelberg<br />ISSN:
              </p>

            <p>Dieses Werk ist unter der
              <br> 
              <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.de" title="Homepage Creative Commons; Lizenz CC BY-SA 4.0">Creative Commons-Lizenz 4.0<br /> (CC BY-SA 4.0)</a> veröffentlicht.
              <br>
              <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.de" title="Homepage Creative Commons; Lizenz CC BY-SA 4.0">
                <img alt="Creative Commons Lizenz BY-SA 4.0" src="{{=URL(myconf.take('web.application'),'static','images/catalog/cc_by-sa-4-0_88x31.png')}}"></a>
            </p>{{elif session.forced_language =='en': }} 
            <h5 style="color: #656565; margin-bottom: 0.5em;">Studium Generale</h5>
            <p><b>Kontakt</b></p>
            <p>Rektoratskommission Studium Generale</p>
            <p>Vorsitz:<br />
              <b>Prof. Dr. Óscar Loureda Lamas</b>
            </p>
            <p>Mitglieder:<br />
              <b>Prof. Dr. Cord Arendes</b><br />Historisches Seminar<br /><b>Tobias Just</b><br />Marsilius-Kolleg<br /><b>Prof. Dr. Andreas Kruse</b><br />Institut für Gerontologie<br /><b>Prof. Dr. Axel Michaels</b><br />Südasien-Institut<br /><b>Gabi Wolfarth</b><br />Fachschaftskonferenz<br /><b>Prof. Dr. Annemarie Pucci</b><br />Kirchhoff Institut für Physik<br /><b>Prof. Dr. Gertrud Maria Rösch</b><br />Seminar für Deutsch als Fremdsprachenphilologie<br /><b>Prof. Dr. Sabine Strahl</b><br />Centre for Organismal Studies
            </p>
              <p>Redaktion:</p>
                <ul>
                  <li><b>Dr. Jörg Kraus</b> (verantwortlich) joerg.kraus@zuv.uni-heidelberg.de
                  </li>
                  <li><b>Monika Conrad</b> (Leitung) studiumgenerale@urz.uni-heidelberg.de
                  </li>
                </ul>
              <p>Heidelberg University Publishing, Heidelberg<br />ISSN:
              </p>
            <p>This work is licensed under a<br> 
              <a href="http://creativecommons.org/licenses/by-sa/4.0/" title="Homepage Creative Commons; Lizenz CC BY-SA 4.0">Creative Commons License 4.0
                <br> (CC BY-SA 4.0)</a>.
              <br>
              <a href="http://creativecommons.org/licenses/by-sa/4.0/" title="Homepage Creative Commons; License CC BY-SA 4.0">
                <img alt="Creative Commons License BY-SA 4.0" src="/static/images/catalog/cc_by-sa-4-0_88x31.png" /></a>
            </p>{{pass}} 
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <article>
          <div id="infoBoxRechts" class="col-lg-3">
            <div class="box">
              <div class="box-gray" style="height: auto;">{{if session.forced_language =='de': }} 
                <p class="boxText"><b>RSS für die aktuelle Ausgabe</b>
                </p>{{elif session.forced_language =='en': }} 
                <p class="boxText"><b>RSS for current issue</b>
                </p>{{pass}} 
                <a href="http://heiup.uni-heidelberg.de/journals/index.php/hdjbo/gateway/plugin/WebFeedGatewayPlugin/atom">
                  <img src="http://heiup.uni-heidelberg.de/journals/plugins/generic/webFeed/templates/images/atom10_logo.gif" alt="Atom logo" border="0" /></a><br />
                <a href="http://heiup.uni-heidelberg.de/journals/index.php/hdjbo/gateway/plugin/WebFeedGatewayPlugin/rss2">
                  <img src="http://heiup.uni-heidelberg.de/journals/plugins/generic/webFeed/templates/images/rss20_logo.gif" alt="RSS2 logo" border="0" /></a><br />
                <a href="http://heiup.uni-heidelberg.de/journals/index.php/hdjbo/gateway/plugin/WebFeedGatewayPlugin/rss">
                  <img src="http://heiup.uni-heidelberg.de/journals/plugins/generic/webFeed/templates/images/rss10_logo.gif" alt="RSS1 logo" border="0" /></a>
              </div>
            </div>
            <div class="box">
              <div class="box-gray" style="height: auto;">
                <p class="boxText"><b>
                    {{=A(T('Contact'),_href=URL('campusmedia','generale/contact'))}}
                </b></p>
              </div>
            </div>
          </div>
          <div class="post-heading"><h3>Studium Generale</h3>
          </div>{{if session.forced_language =='de': }} 

            <i class="icon-quote-left"></i>
            <p>Die Publikationen des Studium Generale sind von der gleichnamigen Vorlesungsreihe abgeleitet, die in jedem Semester ein Schwerpunktthema aufgreift und für die interessierte Öffentlichkeit aufbereitet. Herausgeber ist der zuständige Prorektor und Vorsitzende der Kommission Studium Generale, die redaktionelle Verantwortung liegt bei der Abteilung Wissensaustausch.
            </p>{{elif session.forced_language =='en': }} 
            <p>Die Publikationen des Studium Generale sind von der gleichnamigen Vorlesungsreihe abgeleitet, die in jedem Semester ein Schwerpunktthema aufgreift und für die interessierte Öffentlichkeit aufbereitet. Herausgeber ist der zuständige Prorektor und Vorsitzende der Kommission Studium Generale, die redaktionelle Verantwortung liegt bei der Abteilung Wissensaustausch.
            </p>{{pass}} 
            <div class="widget">
              <h5 class="widgetheading"></h5>
              {{if session.forced_language =='de': }} 
              <ul class="tags">
                <li style="display: inline"><a href="http://heiup.uni-heidelberg.de/journals/index.php/generale/index">zur aktuellen Ausgabe</a>
                </li>
                <li style="display: inline"><a href="http://heiup.uni-heidelberg.de/journals/index.php/generale/issue/archive">Archiv</a>
                </li>
              </ul>  
                
                {{elif session.forced_language =='en': }} 
              <ul class="tags">  
                <li style="display: inline">
                  <a href="http://heiup.uni-heidelberg.de/journals/index.php/generale/index">View Current Issue</a>
                </li>
                <li style="display: inline">
                  <a href="http://heiup.uni-heidelberg.de/journals/index.php/generale/issue/archive">Archive</a>
                </li>
              </ul>
              {{pass}} 
            </div>
        </article>
      </div>
    </div>
  </div>
  </section>{{pass}}