{{extend 'layout.html'}} {{if request.args:}} {{if request.args[0]:}} {{if request.args[0]=='contact':}} {{if session.forced_language =='de': }} 
<div class="row">
  <div class="container"><h3>Heidelberger Jahrbücher Online</h3><h4>Kontakt</h4>
    <p>Universität Heidelberg<br />Gesellschaft der Freunde Universität Heidelberg e.V.<br />Geschäftstelle<br />Sabine zu Putlitz<br />Marstallstraße 6, 69117 Heidelberg<br />Tel.: 0049-(0)6221-54-3446<br />Fax: 0049-(0)6221-54-3447<br />
      <a href="http://www.freunde.uni-hd.de" title="Homepage der Gesellschaft">http://www.freunde.uni-hd.de</a><br />
      <a href="https://www.facebook.com/GdFUniHD" title="Facebook-Auftritt">https://www.facebook.com/GdFUniHD</a><br />
    </p>
    <p>Prof. Dr. Dr. h.c. Joachim Funke<br />Vorstandsvorsitzender der Gesellschaft der Freunde Universität Heidelberg e.V.<br />Gesellschaft der Freunde Universität Heidelberg<br />Marstallstr. 6<br />69117 Heidelberg, Deutschland<br />Telefon: 06221 54 7305<br />Fax: 06221 54 7273<br />E-Mail: 
      <a href="mailto:joachim.funke@psychologie.uni-heidelberg.de" title="Email schicken an Herrn Joachim Funke">mailto:joachim.funke@psychologie.uni-heidelberg.de</a>
    </p>
  </div>
</div>{{elif session.forced_language =='en': }} 
<div class="row">
  <div class="container"><h3>Heidelberger Jahrbücher Online</h3><h4>Contact</h4>
    <p>Universität Heidelberg<br />Gesellschaft der Freunde Universität Heidelberg e.V.<br />Geschäftstelle<br />Sabine zu Putlitz<br />Marstallstraße 6, 69117 Heidelberg<br />Tel.: 0049-(0)6221-54-3446<br />Fax: 0049-(0)6221-54-3447<br />
      <a href="http://www.freunde.uni-hd.de" title="Homepage 'Gesellschaft der Freunde Universität Heidelberg e.V.'">http://www.freunde.uni-hd.de</a><br />
      <a href="https://www.facebook.com/GdFUniHD" title="Facebook, Gesellschaft der Freunde Universität Heidelberg e.V.">https://www.facebook.com/GdFUniHD</a><br />
    </p>
    <p>Prof. Dr. Dr. h.c. Joachim Funke<br />Vorstandsvorsitzender der Gesellschaft der Freunde Universität Heidelberg e.V.<br />Gesellschaft der Freunde Universität Heidelberg<br />Marstallstr. 6<br />69117 Heidelberg, Deutschland<br />Telefon: 06221 54 7305<br />Fax: 06221 54 7273<br />E-Mail: 
      <a href="mailto:joachim.funke@psychologie.uni-heidelberg.de" title="send email to Mr Joachim Funke">mailto:joachim.funke@psychologie.uni-heidelberg.de</a>
    </p>
  </div>
  </div> {{pass}} {{pass}} {{pass}} {{else:}} <section id="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <article>
          <div class="post-image">
            <img src="{{=URL(myconf.take('web.application'),'static','images/campusmedia/heidelberger_jahrbuecher.jpg')}} ">
          </div>
        </article>
        <div class="box">
          <div class="box-gray alignleft" style="height: auto;">{{if session.forced_language =='de': }} 
            <h5 style="color: #656565; margin-bottom: 0.5em;">Bibliographische Angaben</h5>
            <p>Heidelberger Jahrbücher Online
              <br>
              <p>Herausgeber<br />Gesellschaft der Freunde Universität Heidelberg e.V.<br />Geschäftstelle<br />Sabine zu Putlitz<br /><br />Prof. Dr. Dr. h.c. Joachim Funke Vorstandsvorsitzender der Gesellschaft der Freunde Universität Heidelberg e.V.<br />Gesellschaft der Freunde Universität Heidelberg 
              </p>
              <p>Heidelberg University Publishing, Heidelberg
              </p>
              <p>eISSN: 2509-2464
              </p>
              <p>Dieses Werk ist unter der
                <br> 
                <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.de" title="Homepage Creative Commons; Lizenz CC BY-SA 4.0">Creative Commons-Lizenz 4.0<br /> (CC BY-SA 4.0)</a> veröffentlicht.
                <br>
                <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.de" title="Homepage Creative Commons; Lizenz CC BY-SA 4.0">
                  <img alt="Creative Commons Lizenz BY-SA 4.0" src="/static/images/catalog/cc_by-sa-4-0_88x31.png" /></a>
              </p>{{elif session.forced_language =='en': }} 
              <h5 style="color: #656565; margin-bottom: 0.5em;">Bibliographic details</h5>
              <p>Heidelberger Jahrbücher Online
                <br>Gesellschaft der Freunde Universität Heidelberg e.V.<br />Geschäftstelle<br />Sabine zu Putlitz<br /><br />Prof. Dr. Dr. h.c. Joachim Funke Vorstandsvorsitzender der Gesellschaft der Freunde Universität Heidelberg e.V.<br />Gesellschaft der Freunde Universität Heidelberg 
              </p>
              <p>Heidelberg University Publishing, Heidelberg
              </p>
              <p>eISSN: 2509-2464
              </p>
              <p>This work is licensed under a 
                <br> 
                <a href="http://creativecommons.org/licenses/by-sa/4.0/" title="Homepage Creative Commons; Lizenz CC BY-SA 4.0">Creative Commons License 4.0
                  <br> (CC BY-SA 4.0)</a>.
                <br>
                <a href="http://creativecommons.org/licenses/by-sa/4.0/" title="Homepage Creative Commons; License CC BY-SA 4.0">
                  <img alt="Creative Commons License BY-SA 4.0" src="/static/images/catalog/cc_by-sa-4-0_88x31.png" /></a>
              </p>{{pass}} 
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <article>
          <div id="infoBoxRechts" class="col-lg-3">
            <div class="box">
              <div class="box-gray" style="height: auto;">{{if session.forced_language =='de': }} 
                <p class="boxText"><b>RSS für die aktuelle Ausgabe</b>
                </p>{{elif session.forced_language =='en': }} 
                <p class="boxText"><b>RSS for current issue</b>
                </p>{{pass}} 
                <a href="http://heiup.uni-heidelberg.de/journals/index.php/hdjbo/gateway/plugin/WebFeedGatewayPlugin/atom">
                  <img src="http://heiup.uni-heidelberg.de/journals/plugins/generic/webFeed/templates/images/atom10_logo.gif" alt="Atom logo" border="0" /></a><br />
                <a href="http://heiup.uni-heidelberg.de/journals/index.php/hdjbo/gateway/plugin/WebFeedGatewayPlugin/rss2">
                  <img src="http://heiup.uni-heidelberg.de/journals/plugins/generic/webFeed/templates/images/rss20_logo.gif" alt="RSS2 logo" border="0" /></a><br />
                <a href="http://heiup.uni-heidelberg.de/journals/index.php/hdjbo/gateway/plugin/WebFeedGatewayPlugin/rss">
                  <img src="http://heiup.uni-heidelberg.de/journals/plugins/generic/webFeed/templates/images/rss10_logo.gif" alt="RSS1 logo" border="0" /></a>
              </div>
            </div>
            <div class="box">
              <div class="box-gray" style="height: auto;">
                <p class="boxText"><b>
                    {{=A(T('Contact'),_href=URL('campusmedia','heidelberger_jahrbuecher/contact'))}}</b>
                </p>
              </div>
            </div>
          </div>
			<div class="btn-group" role="group" aria-label="1">
				 <li type="button" class="btn btn-default"><a href="http://heiup.uni-heidelberg.de/journals/index.php/hdjbo/issue/current/showToc" title="{{=T('current issue')}}">{{=T('read current issue')}}</a></li>
			</div>
			
			<div class="btn-group" role="group" aria-label="1">
				 <li type="button" class="btn btn-default"><a href="http://heiup.uni-heidelberg.de/journals/index.php/hdjbo/issue/archive" title="{{=T('Archive')}}">{{=T('Archive')}}</a></li>
			</div>
			
			<div class="btn-group" role="group" aria-label="2">
			 <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">{{=T('Purchase')}}<span class="caret"></span></button>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
				<li role="presentation"><a role="menuitem"  href="https://www.buchhandel.de/buch/Stabilitaet-im-Wandel-9783946054191" target='_blank'>buchhandel.de</a></li>
				<li role="presentation"><a role="menuitem"  href="https://www.amazon.de/Stabilit-t-Wandel-Heidelberger-Jahrb-cher-Online/dp/3946054196/" target='_blank'>Amazon</a></li>
					</ul>
			</div>
		  
          <div class="post-heading"><h3>Heidelberger Jahrbücher Online</h3>
          </div>{{if session.forced_language =='de': }} 
          <p>
            <i class="icon-quote-left"></i>
            <p>In den Heidelberger Jahrbüchern Online soll der wissenschaftliche Geist und der geschichtliche Raum der Universität zur Darstellung gelangen. Die Heidelberger Jahrbücher, die im Auftrag der Gesellschaft der Freunde Universität Heidelberg e.V. herausgegeben werden, beleuchten in jedem Band ein fachübergreifendes Thema aus unterschiedlichen Positionen. Ihr Ziel ist es, das Gespräch und den Kontakt der Wissenschaften an der Universität Heidelberg untereinander zu fördern.
            </p>
            <!--<h4 style="margin-bottom: 0.2em; margin-top: 1em;">Call for Papers</h4>
            <p><a href="http://heiup.uni-heidelberg.de/journals/index.php/hdjbo/pages/view/cfp" title="Homepage Heidelberger Jahrbücher Online, Informationen zum Call for Papers für Band 2">Heidelberger Jahrbücher Online - Band 2:<br />
            &bdquo;Wissenschaft für Alle - Bedeutung von Open Science und Citizen Science für Universitäten und Wissenschaft&rdquo;</a></p>-->
            {{elif session.forced_language =='en': }} 
            <p>Heidelberg Yearbooks Online is a platform for the scientific spirit and the historic dimension of Heidelberg University. The Yearbooks are hosted by the Friends of the University, a non-commercial organization in support of Heidelberg University. Each yearbook focuses on an overarching thematic issue that will be interpreted by heterogenous points of view. The yearbooks are intended to foster communication and contact between scientists from different disciplines.
            </p>{{pass}} 
            <div class="widget">
              <h5 class="widgetheading"></h5>
              <ul class="tags">
                <li style="display: inline">

				                   {{if session.forced_language =='de': }}
             
                            <li><a href="http://heiup.uni-heidelberg.de/journals/index.php/hdjbo/index">zur Zeitschrift</a></li>
             {{elif session.forced_language =='en': }}
                            <li><a href="http://heiup.uni-heidelberg.de/journals/index.php/hdjbo/index">View Journal</a></li>
             
{{pass}}    
                </li>
              </ul>
            </div>
        </article>
      </div>
    </div>
  </div>{{pass}}