{{extend 'layout.html'}}


<section id="content">
    <div class="container">
        <div class="row">

            <div class="col-lg-2">
                <article>
                    <div class="post-image" style="border: 1px solid #f5f5f5;">
                      <img src="{{=URL(myconf.take('web.application'),'static','images/campusmedia/heidelberger_jahrbuecher.jpg')}} ">
                  </div>
                </article>
            </div>
            <div class="col-lg-10">


               <article>
                        <div class="post-heading">
                                    <h3>Heidelberger Jahrbücher Online</h3>
                        </div>
                        <p>
                            <i class="icon-quote-left"></i>
             {{if session.forced_language =='de': }}
                       In den Heidelberger Jahrbüchern Online soll der wissenschaftliche Geist und der geschichtliche Raum der Universität zur Darstellung gelangen. Die Heidelberger Jahrbücher, die im Auftrag der Gesellschaft der Freunde Universität Heidelberg e.V. herausgegeben werden, beleuchten in jedem Band ein fachübergreifendes Thema aus unterschiedlichen Positionen. Ihr Ziel ist es, das Gespräch und den Kontakt der Wissenschaften an der Universität Heidelberg untereinander zu fördern.
             {{elif session.forced_language =='en': }}
                       In den Heidelberger Jahrbüchern Online soll der wissenschaftliche Geist und der geschichtliche Raum der Universität zur Darstellung gelangen. Die Heidelberger Jahrbücher, die im Auftrag der Gesellschaft der Freunde Universität Heidelberg e.V. herausgegeben werden, beleuchten in jedem Band ein fachübergreifendes Thema aus unterschiedlichen Positionen. Ihr Ziel ist es, das Gespräch und den Kontakt der Wissenschaften an der Universität Heidelberg untereinander zu fördern.
{{pass}}

                        </p>

                    <div class="widget">
                        <h5 class="widgetheading"></h5>
                        <ul class="tags">
                           <li><a href="{{=URL(myconf.take('web.application'),'campusmedia','heidelberger_jahrbuecher')}}">{{=T('More' )}}</a></li><br>
                           <li><a href="https://heiup.uni-heidelberg.de/journals/index.php/hdjbo/index">{{=T('View Journal')}}</a></li>

                        </ul>
                    </div>

                </article>
            </div>
        </div>

        <div class="row">
	
            <div class="col-lg-2">
                <article>
                    <div class="post-image" style="border: 1px solid #f5f5f5;">
                      <img src="{{=URL(myconf.take('web.application'),'static','images/campusmedia/ruperto_carola.jpg')}} ">
                  </div>
                </article>
            </div>
            <div class="col-lg-10">


               <article>
                        <div class="post-heading">
			            <h3>Ruperto Carola</h3>
                        </div>
                        <p>
                            <i class="icon-quote-left"></i>
             {{if session.forced_language =='de': }}
Das Forschungsmagazin „Ruperto Carola“ berichtet über wissenschaftliche Erkenntnisse und laufende Forschungsvorhaben der Universität Heidelberg. Jede seiner Ausgaben ist einem gesellschaftlich relevanten Schwerpunktthema gewidmet, zu dem Heidelberger Forscherinnen und Forscher über Disziplinen und Fächer hinweg ihre wissenschaftliche Arbeit vorstellen. Herausgeber des Magazins ist der Rektor der Universität Heidelberg, die redaktionelle Verantwortung liegt bei der Stabsstelle „Kommunikation und Marketing“.
             
             {{elif session.forced_language =='en': }}
The "Ruperto Carola" research journal reports on scientific findings and current research activities at Heidelberg University. Every issue is dedicated to a central theme of high social relevance, to which Heidelberg scholars contribute by presenting related research projects across the entire range of disciplines and subjects. The journal is published by the President of Heidelberg University and edited by the "Communications and Marketing" team.
{{pass}}     

                        </p>
			  
                    <div class="widget">
                        <h5 class="widgetheading"></h5>
                        <ul class="tags">
        	       	   <li><a href="{{=URL(myconf.take('web.application'),'campusmedia','ruperto_carola')}}">{{=T('More' )}}</a></li><br>
	                   <li><a href="http://heiup.uni-heidelberg.de/journals/index.php/rupertocarola/index">{{=T('View Journal')}}</a></li>

                        </ul>
                    </div>
			
                </article>
            </div>
        </div>
</div>
</section>
