{{extend 'layout.html'}}
{{if request.args:}}
{{if request.args[0]:}}
{{if request.args[0]=='contact':}}


{{if session.forced_language =='de': }}
    <div class="row">
    <div class="container">
      <h3>Ruperto Carola</h3>
      <h4>Adresse</h4>
      <p>Universität Heidelberg<br />
      Kommunikation und Marketing<br />
      Grabengasse 1<br />
      69117 Heidelberg<br />
      Tel. +49 6221 54-19012<br />
      Fax +49 6221 54-19020<br />
      E-Mail: <a href="mailto:kum@uni-heidelberg.de" title="E-Mail senden an 'Kommunikation und Marketing' der Universität Heidelberg">kum@uni-heidelberg.de</a></p>
      
      <h4>Hauptkontakt</h4>
      <ul class="standard">
      <li>Marietta Fuhrmann-Koch (verantwortlich)</li>
      <li>Ute von Figura (Leitung)</li>
      </ul>
       
      <p>Phone: +49 6221 54-19026<br />
      Fax: +49 6221 54-19020<br />
      Email: <a href="mailto:ute.vonfigura@rektorat.uni-heidelberg.de" title="E-Mail senden an Frau von Figura">ute.vonfigura@rektorat.uni-heidelberg.de</a></p>


     </div>
     </div>
{{elif session.forced_language =='en': }}


      <div class="row">
      <div class="container">
        <h3>Ruperto Carola</h3>
        <h4>Mailing Address</h4>
        <p>Universität Heidelberg<br />
        Kommunikation und Marketing<br />
        Grabengasse 1<br />
        69117 Heidelberg<br />
        Tel. +49 6221 54-19012<br />
        Fax +49 6221 54-19020<br />
        <a href="mailto:kum@uni-heidelberg.de" title="Send email to 'Kommunikation und Marketing' of Heidelberg University">kum@uni-heidelberg.de</a></p>
        
        <h4>Principal Contact</h4>
        <ul class="standard">
        <li>Marietta Fuhrmann-Koch (responsible)</li>
        <li>Ute von Figura (executive)</li>
        </ul>
         
        <p>Phone: +49 6221 54-19026<br />
        Fax: +49 6221 54-19020<br />
        Email: <a href="mailto:ute.vonfigura@rektorat.uni-heidelberg.de" title="Send email to Ms. von Figura">ute.vonfigura@rektorat.uni-heidelberg.de</a></p>

     </div>
     </diV



{{pass}}


{{pass}}

{{pass}}
{{else:}}
<section id="content">
    <div class="container">
        <div class="row">
	
            <div class="col-lg-3">
                <article>
                    <div class="post-image">
		 	<img src="{{=URL(myconf.take('web.application'),'static','images/campusmedia/ruperto_carola.jpg')}} ">
                  </div>

                </article>
                
                <div class="box">
			             <div class="box-gray alignleft" style="height: auto;">
                 {{if session.forced_language =='de': }}
                            <h5 style="color: #656565; margin-bottom: 0.5em;">Bibliographische Angaben</h5>
                            <p>Ruperto Carola<br>
                            
                            <p>Herausgeber<br />
                            Universität Heidelberg<br />
                              Der Rektor<br />
                              Kommunikation und Marketing
                            </p>
                            <p>Wissenschaftlicher Beirat</p>
                            <ul>
                              <li>Prof. Dr. Peter Comba (Vorsitz)</li>
                              <li>Prof. Dr. Beatrix Busse</li>
                              <li>Prof. Dr. Markus Hilgert</li>
                              <li>Prof. Dr. Nikolas Jaspert</li>
                              <li>Prof. Dr. Marcus A. Koch</li>
                              <li>Prof. Dr. Carsten Könneker</li>
                              <li>Prof. Dr. Alexander Marx</li>
                              <li>Prof. Dr. Thomas Pfeiffer</li>
                              <li>Prof. Dr. Joachim Wambsganß</li>
                              <li>Prof. Dr. Reimut Zohlnhöfer</li>
                            </ul>
                            <p>Redaktion</p>
                              <ul>
                                <li>Marietta Fuhrmann-Koch (verantwortlich)</li>
                                <li>Ute von Figura (Leitung)</li>
                              </ul>  
                            <p>Heidelberg University Publishing, Heidelberg</p>
                            <p>ISSN: 0035-998-X</p>  
                            <p>Copyright: Universität Heidelberg</p>
                             
             {{elif session.forced_language =='en': }}
             
<h5 style="color: #656565; margin-bottom: 0.5em;">Bibliographic details</h5>
                            <p>Ruperto Carola<br>
                            
                            <p>Editors</p>
                            Universität Heidelberg<br />
                              Der Rektor<br />
                              Communications and Marketing
                            </p>
                            <p>Advisory Board</p>
                            <ul>
                              <li>Prof. Dr. Peter Comba (Chair)</li>
                              <li>Prof. Dr. Beatrix Busse</li>
                              <li>Prof. Dr. Markus Hilgert</li>
                              <li>Prof. Dr. Nikolas Jaspert</li>
                              <li>Prof. Dr. Marcus A. Koch</li>
                              <li>Prof. Dr. Carsten Könneker</li>
                              <li>Prof. Dr. Alexander Marx</li>
                              <li>Prof. Dr. Thomas Pfeiffer</li>
                              <li>Prof. Dr. Joachim Wambsganß</li>
                              <li>Prof. Dr. Reimut Zohlnhöfer</li>
                            </ul>
                            <p>Editorial Team</p>
                              <ul>
                                <li>Marietta Fuhrmann-Koch (responsible)</li>
                                <li>Ute von Figura (managing)</li>
                              </ul>  
                            <p>Heidelberg University Publishing, Heidelberg</p>
                            <p>ISSN: 0035-998-X</p>  
                            <p>Copyright: University of Heidelberg</p>

{{pass}}                  
                   </div>


             
                                         
                  </div>
 </div>   

            
            <div class="col-lg-9">
               <article>
        <div id="infoBoxRechts" class="col-lg-3">
          <div class="box">
            <div class="box-gray"  style="height: auto;">
                 {{if session.forced_language =='de': }}
                <p class="boxText"><b>RSS für die aktuelle Ausgabe</b></p>
             {{elif session.forced_language =='en': }}
                <p class="boxText"><b>RSS for current issue</b></p>
{{pass}}                                          

                    <a href="http://heiup.uni-heidelberg.de/journals/index.php/rupertocarola/gateway/plugin/WebFeedGatewayPlugin/atom"><img src="http://heiup.uni-heidelberg.de/journals/plugins/generic/webFeed/templates/images/atom10_logo.gif" alt="Atom logo" border="0" /></a><br />
	<a href="http://heiup.uni-heidelberg.de/journals/index.php/rupertocarola/gateway/plugin/WebFeedGatewayPlugin/rss2"><img src="http://heiup.uni-heidelberg.de/journals/plugins/generic/webFeed/templates/images/rss20_logo.gif" alt="RSS2 logo" border="0" /></a><br />
	<a href="http://heiup.uni-heidelberg.de/journals/index.php/rupertocarola/gateway/plugin/WebFeedGatewayPlugin/rss"><img src="http://heiup.uni-heidelberg.de/journals/plugins/generic/webFeed/templates/images/rss10_logo.gif" alt="RSS1 logo" border="0" /></a>
                  </div>
                </div>
             

                <div class="box">
                  <div class="box-gray"  style="height: auto;">
                 
               <p class="boxText"><b>{{=A(T('Contact'),_href=URL('campusmedia','ruperto_carola/contact'))}}</b></p>
                     
                  </div>
                </div>                
              </div>

             <div class="btn-group" role="group" aria-label="1">
				 <li type="button" class="btn btn-default"><a href="http://heiup.uni-heidelberg.de/journals/index.php/rupertocarola/issue/current" title="{{=T('current issue')}}">{{=T('read current issue')}}</a></li>
			</div>
			
			<div class="btn-group" role="group" aria-label="1">
				 <li type="button" class="btn btn-default"><a href="http://heiup.uni-heidelberg.de/journals/index.php/rupertocarola/issue/archive" title="{{=T('Archive')}}">{{=T('Archive')}}</a></li>
			</div>
			
			
     <div class="post-heading">
     
     
                  <h3>Ruperto Carola</h3>
        </div>

                 {{if session.forced_language =='de': }}
                 
                        <p><i class="icon-quote-left"></i>
<p>Das Forschungsmagazin „Ruperto Carola“ berichtet über wissenschaftliche Erkenntnisse und laufende Forschungsvorhaben der Universität Heidelberg. Jede seiner Ausgaben ist einem gesellschaftlich relevanten Schwerpunktthema gewidmet, zu dem Heidelberger Forscherinnen und Forscher über Disziplinen und Fächer hinweg ihre wissenschaftliche Arbeit vorstellen. In allgemein verständlicher Sprache zeigen die Autoren, auf wie vielfältige Weise an der Universität geforscht wird.</p>
<p>Mit dem Format des Themenmagazins will die Universität Heidelberg ihr besonderes Potential und ihren Anspruch erfahrbar machen, als Volluniversität einen wesentlichen Beitrag zum Verständnis der komplexen Herausforderungen und großen Fragestellungen unserer Zeit zu leisten.</p>
<p>Die „Ruperto Carola“ erscheint zweimal jährlich in deutscher Sprache mit englischsprachigen Abstracts und wendet sich an die Mitglieder der Universität, an ihre Partner in Wissenschaft, Politik, Wirtschaft und Gesellschaft sowie insbesondere auch an Alumni, Freunde und eine interessierte Öffentlichkeit im In- und Ausland.</p>
<p>Herausgeber des Magazins ist der Rektor der Universität Heidelberg, die redaktionelle Verantwortung liegt bei der Stabsstelle „Kommunikation und Marketing“. Die jeweils aktuelle Ausgabe ist in der Abteilung Kommunikation und Marketing der Universität Heidelberg (Alte Universität, Grabengasse 1) erhältlich.</p>
                 
                 



             {{elif session.forced_language =='en': }}

<p>The "Ruperto Carola" research journal reports on scientific findings and current research activities at Heidelberg University. Every issue is dedicated to a central theme of high social relevance, to which Heidelberg scholars contribute by presenting related research projects across the entire range of disciplines and subjects. In this way, the authors demonstrate the breadth of research at the University in terms that are easy to understand for academics and laypersons alike.</p>
 
<p>The format of a theme-centred journal was chosen to show Heidelberg University's special potential and aspiration of contributing to a better understanding of the complex challenges and questions of our time.</p>

<p>Published twice a year in German with English-language abstracts, "Ruperto Carola" is addressed to members of the University, its partners in science, politics, business and society and, of course, its alumni, friends and the wider public in Germany and abroad.</p>

<p>The journal is published by the President of Heidelberg University and edited by the "Communications and Marketing" team. The latest issue is available at the Communications and Marketing department of Heidelberg University (Alte Universität, Grabengasse 1).</p>
                       

{{pass}}     


                    <div class="widget">
                        <h5 class="widgetheading"></h5>
                        <ul class="tags">
                 {{if session.forced_language =='de': }}
             
                    <li style="display: inline"><a href="http://heiup.uni-heidelberg.de/journals/index.php/rupertocarola/index">zur Zeitschrift</a></li>
             {{elif session.forced_language =='en': }}
                            <li style="display: inline"><a href="http://heiup.uni-heidelberg.de/journals/index.php/rupertocarola/index">View journal</a></li>
             
             
{{pass}}     
                       

                        </ul>
                    </div>

                </article>
                
        <div class="row">
            <section id="projects">
            <ul id="thumbs" class="portfolio">
                <li class="col-lg-2 design">
                  <div class="item-thumbs">
                  <a href="http://heiup.uni-heidelberg.de/journals/index.php/rupertocarola/issue/view/1134" title="Online-Ausgabe Ruperto Carola, 'Alt & Jung', Oktober 2012"><figure>
                     <img alt="" src="/static/images/campusmedia/cover_01_2012.jpg" />
                     <figcaption>
                     Alt & Jung<br />
                     Ausgabe 1<br />
                     Oktober 2012
                     </figcaption>
                  </figure></a>
                  </div>  
                </li>
                <li class="col-lg-2 design">
                  <div class="item-thumbs">
                  <a href="http://heiup.uni-heidelberg.de/journals/index.php/rupertocarola/issue/view/1239" title="Online-Ausgabe Ruperto Carola, 'Himmel & Hölle', April 2013"><figure>
                     <img alt="" src="/static/images/campusmedia/cover_02_2013.jpg" />
                     <figcaption>
                     Himmel & Hölle<br />
                     Ausgabe 2<br />
                     April 2013
                     </figcaption>
                  </figure></a>
                  </div>  
                </li>
                <li class="col-lg-2 design">
                  <div class="item-thumbs">
                  <a href="http://heiup.uni-heidelberg.de/journals/index.php/rupertocarola/issue/view/1358" title="Online-Ausgabe Ruperto Carola, 'Ordnung & Chaos', November 2013"><figure>
                     <img alt="" src="/static/images/campusmedia/cover_03_2013.jpg" />
                     <figcaption>
                     Ordnung & Chaos<br />
                     Ausgabe 3<br />
                     November 2013
                     </figcaption>
                  </figure></a>
                  </div>  
                </li>
                <li class="col-lg-2 design">
                  <div class="item-thumbs">
                  <a href="http://heiup.uni-heidelberg.de/journals/index.php/rupertocarola/issue/view/1545" title="Online-Ausgabe Ruperto Carola, 'Krieg & Frieden', Mai 2014"><figure>
                     <img alt="" src="/static/images/campusmedia/cover_04_2014.jpg" />
                     <figcaption>
                     Krieg & Frieden<br />
                     Ausgabe 4<br />
                     Mai 2014
                     </figcaption>
                  </figure></a>
                  </div>  
                </li>
                <li class="col-lg-2 design">
                  <div class="item-thumbs">
                  <a href="http://heiup.uni-heidelberg.de/journals/index.php/rupertocarola/issue/view/1813" title="Online-Ausgabe Ruperto Carola, 'Draußen & Drinnen', Dezember 2014"><figure>
                     <img alt="" src="/static/images/campusmedia/cover_05_2014.jpg" />
                     <figcaption>
                     Draußen & Drinnen<br />
                     Ausgabe 5<br />
                     November 2014
                     </figcaption>
                  </figure></a>
                  </div>  
                </li>
                <li class="col-lg-2 design">
                  <div class="item-thumbs">
                  <a href="http://heiup.uni-heidelberg.de/journals/index.php/rupertocarola/issue/view/2172" title="Online-Ausgabe Ruperto Carola, 'Gesund & Krank', Juni 2015"><figure>
                     <img alt="" src="/static/images/campusmedia/cover_06_2015.jpg" />
                     <figcaption>
                     Gesund & Krank<br />
                     Ausgabe 6<br />
                     Juni 2015
                     </figcaption>
                  </figure></a>
                  </div>  
                </li>
                <li class="col-lg-2 design">
                  <div class="item-thumbs">
                  <figure>
                     <a href="http://heiup.uni-heidelberg.de/journals/index.php/rupertocarola/issue/view/2350" title="Online-Ausgabe Ruperto Carola, 'Schatten & Licht', Dezember 2015"><figure>
					 <img alt="" src="/static/images/campusmedia/cover_07_2015.jpg" />
                     <figcaption>
                     Schatten & Licht<br />
                     Ausgabe 7<br />
                     Dezmber 2015
                     </figcaption>
                  </figure>
                  </div>  
                </li>
            </ul>
            </section>
        </div>
 
            </div>
 </div>
        </div>

</section>

{{pass}}
