{{extend 'layout.html'}}


<div id="main" class="container">
	<section id="content">
		<div class="container">

		  	<div class="row">
                <div class="col-lg-2">
                    {{=category_thumbnail}}
                </div>
		  		<div class="col-lg-10">
					<article>
						<div class="post-heading">


							<h3>{{=(category.settings.getLocalizedValue('title',locale))}}</h3>

						</div>
		                <p>
							<i class="icon-quote-left"></i>
							{{=XML(category.settings.getLocalizedValue('description',locale))}}


		                </p>

		                <div class="widget">
		                    <h5 class="widgetheading"></h5>

								{{if submission_rows:}}
									{{=UL(LI(A(T('Titles'), _href=URL('catalog','category/'+str(category.attributes.path)))),_class="tags")}}
								{{pass}}
							{{if request.args[0]=='lecturenotes':}}
							<p></p>

							{{pass}}
						</div>
		            </article>
		        </div>
		    </div>

		</div>
		
		</div>
	</section>
</div>
