{{extend 'layout.html'}}


<section id="content">
  <div style="height: 20px"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <article>
          <div class="post-image">
            {{=IMG(_src=cover_image)}}
          </div>
        </article>
        <div class="box">
          <div class="box-gray alignleft" style="height: auto;">

            <h5 style="color: #656565; margin-bottom: 0.5em;">{{=T('How to cite this title')}}</h5>
            <p>{{=authors}}<br>
              <i>{{=cleanTitle}}
                {{if len(subtitle)>0:}}
                : {{=subtitle}}
                {{pass}}
              </i>
              {{=press_name}},
            </p>
            {{if publication_format_settings_doi:}}
            <p>
              DOI: <a href="http://dx.doi.org/{{=publication_format_settings_doi['setting_value']}}" title="DOI: {{=authors}}, {{=cleanTitle}}, {{=press_name}}, 2015">{{=publication_format_settings_doi['setting_value']}}</a>
            </p>
            {{pass}}
            <h5 style="color: #656565; margin-bottom: 0.3em;">{{=T('Licenses')}}</h5>
            {{if session.forced_language =='de': }}
            <p>Dieses Werk ist unter der<br> <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.de" title="Homepage Creative Commons; Lizenz CC BY-SA 4.0">Creative Commons-Lizenz 4.0<br/> (CC BY-SA 4.0)</a> veröffentlicht.<br>
              <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.de" title="Homepage Creative Commons; Lizenz CC BY-SA 4.0"><img alt="Creative Commons Lizenz BY-SA 4.0" src="/static/images/catalog/cc_by-sa-4-0_88x31.png" /></a></p>
            {{elif session.forced_language =='en': }}
            <p>This work is licensed under a <a href="http://creativecommons.org/licenses/by-sa/4.0/" title="Homepage Creative Commons; License CC BY-SA 4.0">Creative Commons License 4.0<br/> (CC BY-SA 4.0)</a> .<br>
              <a href="https://creativecommons.org/licenses/by-sa/4.0/" title="Homepage Creative Commons; Lizenz CC BY-SA 4.0"><img alt="Creative Commons License BY-SA 4.0" src="/static/images/catalog/cc_by-sa-4-0_88x31.png" /></a></p>
            {{pass}}
            {{if len(identification_codes)>0:}}
            <h5 style="color: #656565; margin-bottom: 0.3em; margin-top: 1.2em;">ISBN</h5>
            <p>
              {{for i in identification_codes:}}
                {{=i}} ({{=identification_codes[i]}})
              <br>
              {{pass}}
            </p>
            {{pass}}
            <!--<p><B>Statistik</B></p>-->
            {{if published_date:}}
            <p>{{=T('Published')}} {{=published_date.first()['date'][6:8]}}.{{=published_date.first()['date'][4:6]}}.{{=published_date.first()['date'][0:4]}}</p>
            {{pass}}
             <!---a data-toggle="modal" class="btn btn-info" href="../../../cgi-bin/oastats.cgi?repo=omphp" data-target="#myModal">{{=T('')}}</a-->
           <div id="oas-widget" class="applied-to-ojs">
           <div class="btn btn-default" id="statistik-button">{{=T('Statistik')}}</div> <br/>
           <div style="display:none" class="table" id="oas">
             
              <ul class="nav nav-tabs">
                     <li class="active"><a href="#one2" data-toggle="tab"><i class="icon-briefcase"></i> {{=T('Book')}}</a></li>
                     <li class=""><a href="#two2" data-toggle="tab">{{=T('Chapters')}}</a></li>
                   </ul>
                   <div class="tab-content">
                     <div class="tab-pane active" id="one2">
                       <table class="table">                
                         
                         {{file_ids=[]}}
                       
                         
                          {{for fullbook in full_files:}}
                          {{file_id=str(fullbook['submission_id'])+'-'+str(fullbook['file_id'])+'-'+fullbook['original_file_name'].rsplit('.')[1].lower()}}
                          {{if fullbook['original_file_name'].rsplit('.')[1].lower()==myconf.take('omp.xml_category_name').lower():}}     
                            {{=TR()}}
                              {{=TD(B(XML('HTML')))}}
                              
                              {{=TD(DIV("",_id=file_id))}}
                              {{full_xml=file_id}}
                          {{else:}}
                            {{=TR()}}
                              {{=TD(B('PDF'))}}
                              {{=TD(DIV("",_id=file_id))}}
                              {{full_pdf=file_id}}
                          {{pass}}
                          {{file_ids.append(file_id)}}
                        
                          {{pass}}
                         
                       </table>
                     </div>
                     <div class="tab-pane " id="two2">
                       <table class="table" style="width: inherit">
                          {{type_dict={} }}
                          
                          {{=TR()}}
                          {{=TD()}}
                          {{for ix  in publication_formats:}}
                          {{type_dict[ix.publication_formats.publication_format_id]=ix.publication_format_settings.setting_value}}
                          {{if ix.publication_format_settings.setting_value == myconf.take('omp.xml_category_name'):}}
                          {{=TD(XML('HTML'),_style="padding:0")}}
                          {{else:}}
                          {{type_dict[ix.publication_formats.publication_format_id]=ix.publication_format_settings.setting_value}}
                          {{=TD(ix.publication_format_settings.setting_value, _style="padding:0")}}
                          {{pass}}
                          {{pass}}
                          {{num=0}}
                          {{for i in chapters:}}
                          
                           {{if num%len(publication_formats)==0: }}
                          {{=TR()}}
                          {{chapter=str(i.submission_chapter_settings.setting_value)}}
                          {{=TD(chapter,_style="padding:0; font-size:12px")}}
                          {{pass}}
                          
                           {{
                            chapter_file =str(i.submission_files.submission_id)+'-'+str(i.submission_files.file_id)+'-'+str(type_dict[i.submission_files.assoc_id]).lower() 
                           =TD(DIV("",_id=chapter_file),_style="padding:1; font-size:12px")
                           file_ids.append(chapter_file)
                         
                           }}
                         
                     
                          {{num = num +1 }}
                          {{pass}}
                          <tr>
                            <td>{{=B(T('Total'))}}</td>
                           {{=TD(DIV("",_id="chapter_pdf"))}}
                           {{=TD(DIV("",_id="chapter_xml"))}}
                          </tr>
                        </table>
                     </div>
                    </div>
             
           </div>
           
           <div id="error"></div>
            </div>

          </div>

        </div>
      </div>
      <div class="col-lg-9">
        <article>
          <div class="">
            <div class="btn-group" role="group" aria-label="1">
              {{for fullbook in full_files:}}
                {{if fullbook['original_file_name'].rsplit('.')[1].lower()==myconf.take('omp.xml_category_name').lower():}}
              
                <li type="button" class="btn btn-default"><a href="{{=URL(myconf.take('web.application'), 'reader', 'index/'+str(fullbook['submission_id'])+'/'+str(fullbook['submission_id'])+'-'+str(fullbook['genre_id'])+'-'+str(fullbook['file_id'])+'-'+str(fullbook['revision'])+'-'+str(fullbook['file_stage'])+'-'+str(fullbook["date_uploaded"].strftime('%Y%m%d'))+'.'+str(fullbook['original_file_name']).rsplit('.')[1])}}" target="_blank">{{=T('Read')}}</a></li>
                {{pass}}
              {{pass}}
            </div>
            <div class="btn-group" role="group" aria-label="2">
              {{for fullbook in full_files:}}
              {{if fullbook['original_file_name'].rsplit('.')[1].lower()==myconf.take('omp.doi_format_name').lower():}}
              
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                {{=T('Download')}}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1"  href="{{=URL(myconf.take('web.application'), 'reader', 'download/'+str(fullbook['submission_id'])+'/'+str(fullbook['submission_id'])+'-'+str(fullbook['genre_id'])+'-'+str(fullbook['file_id'])+'-'+str(fullbook['revision'])+'-'+str(fullbook['file_stage'])+'-'+str(fullbook["date_uploaded"].strftime('%Y%m%d'))+'.'+str(fullbook['original_file_name']).rsplit('.')[1])}}">PDF</a></li>
              </ul>
              {{pass}}
              {{pass}}
            </div>
            <div class="btn-group" role="group" aria-label="2">
	       {{if representatives:}}
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                {{=T('Print On Demand')}}
                <span class="caret"></span>
              </button>
		{{pass}}
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                {{for i in representatives:}}
                <li role="presentation"><a role="menuitem"  href="{{=i['url']}}" target='_blank'>{{=i['name']}}</a></li>
                {{pass}}
              </ul>
            </div>
            <div class="post-heading">
              <br/>
              <h5><a href="#">{{=authors}}</a></h5>
            </div>
            <h3>{{=XML(cleanTitle)}}</h3>
            <h4>{{=subtitle}}</h4>
            <p>
              <i class="icon-quote-left"></i>
              {{=XML(abstract)}}
            </p>
	   {{if author_bio:}}
            <p>{{=XML(author_bio['setting_value'])}}</p>
          {{pass}}
          </div>
          <div class="widget">
            <h5 class="widgetheading"></h5>
            <ul class="tags">
            </ul>
          </div>
          <div class="widget">
            <!---a class="btn btn-default" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"-->

            {{if len(chapters)>0:}}
            <h4>{{=T('Contents')}} </h4>
            <div  id="downloadTable">
              <table class="table">
                {{type_dict={} }}
                {{=TR()}}
                {{=TD()}}
                {{for i  in publication_formats:}}
                {{if i.publication_format_settings.setting_value == myconf.take('omp.xml_category_name'):}}
                {{=TD('HTML')}}
                {{else:}}
                {{=TD(i.publication_format_settings.setting_value)}}
                {{pass}}
                {{type_dict[i.publication_formats.publication_format_id]=i.publication_format_settings.setting_value}}
                {{pass}}
                {{num=0}}
                {{for i in chapters:}}
                {{if num%len(publication_formats)==0: }}
                {{=TR()}}
                {{=TD(str(i.submission_chapter_settings.setting_value))}}
                {{pass}}
                {{if str(type_dict[i.submission_files.assoc_id]).lower() ==  myconf.take('omp.xml_category_name').lower(): }}
                {{=TD(A(I(_class="fa fa-html5"), _href=URL(myconf.take('web.application'), 'reader', 'index/'+str(i.submission_files.submission_id)+'/'+str(i.submission_files.submission_id)+'-'+str(i.submission_files.genre_id)+'-'+str(i.submission_files.file_id)+'-'+str(i.submission_files.revision)+'-'+str(i.submission_files.file_stage)+'-'+str(i.submission_files.date_uploaded.strftime('%Y%m%d'))+'.'+str(type_dict[i.submission_files.assoc_id]).lower())))}}
                {{else:}}
                {{=TD(A(I(_class="fa fa-file-text-o"), _href=URL(myconf.take('web.application'), 'reader', 'download/'+str(i.submission_files.submission_id)+'/'+str(i.submission_files.submission_id)+'-'+str(i.submission_files.genre_id)+'-'+str(i.submission_files.file_id)+'-'+str(i.submission_files.revision)+'-'+str(i.submission_files.file_stage)+'-'+str(i.submission_files.date_uploaded.strftime('%Y%m%d'))+'.'+str(type_dict[i.submission_files.assoc_id]).lower())))}}
                {{pass}}
                {{num = num +1 }}
                {{pass}}
              </table>
            </div>
            {{pass}}
          </div>
        </article>
      </div>
    </div>
  </div>
</section>

<script>
   $('#statistik-button').click(function(){
     $('#oas').slideToggle()
   });
   var script = 'oastats-plus.cgi';
   var ids=''
  {{for x in file_ids:}} 
   ids += "{{=x}}"+',';
  {{pass}}
  if (window.location.protocol == "https:") {
         script = 'oastats.cgi';
  }
  //var url="../../static/js/oastats.json";
  var url = "../../../cgi-bin/"+script+"?repo=omphp&type=json&ids="+ids;
  
  var count, chapter_pdf, chapter_xml,full_xml, full_pdf;
  full_xml = 0;
  full_pdf = 0;
  chapter_pdf = 0;
  chapter_xml = 0;
  
  {{ if 'full_xml' in  locals():}}
    full_xml = "{=full_xml}}"
  {{pass}}
  {{ if 'full_pdf' in  locals():}}
    full_pdf= "{{=full_pdf}}"
  {{pass}}
 console.log(url); 
  
  var full_file_ids = [];
  
  $.getJSON( url, function( data ) {
   $.each(data, function(index,value) {
    count = 0;
    $.each(value.all_years, function(index2,value2) {
          count += value2.volltext;
          if (index.indexOf('xml') > -1 ) {
               if (index != full_xml) {
                  chapter_xml+= parseInt(value2.volltext);
                }
           }
           
          if (index.indexOf('pdf') > -1) {
              if (index != full_pdf) {
             chapter_pdf+= parseInt(value2.volltext);
           }
          }
         
        $('#chapter_pdf').text(parseInt(chapter_pdf));
        $('#chapter_xml').text(parseInt(chapter_xml));
      });
      $('#'+index).text(parseInt(count));
       
  });
  }).fail(function() {
      $('#statistik-button').hide();
      console.log("statistik service unavaliable");
  });
  
  
    

</script>
