{{extend 'layout.html'}}
{{import re, os}}
{{from ompformat import formatContributors, coverImageLink}}

<div id="main" class="container">
<section id="content">
    <div style="height: 20px"></div>
    {{for submission in submissions:}}
    <div class="container" height="400px">
        <div class="row">
            <div class="col-lg-3">
                <article>
                    <div class="post-image">
                        {{=IMG(_src=coverImageLink(request, press.press_id, submission.attributes.submission_id))}}
                    </div>
                </article>
            </div>
            <div class="col-lg-9">
                <article>
                    <div class="post-heading">
						{{include 'catalog/snippets/submission.html'}}
                        {{series = submission.associated_items.get('series', None)}}
                        {{if series:}}
                        	{{series_title = series.settings.getLocalizedValue('title', locale)}}
                        	{{series_subtitle = series.settings.getLocalizedValue('subtitle', locale)}}
                        	<i>{{=series_title}}{{ if series_subtitle: }} – {{=series_subtitle}}{{pass}}{{if submission.attributes.series_position:}}, {{=T('Vol.')}} {{=submission.attributes.series_position}} {{pass}}</i>
                        {{pass}}
                    </div>
                    <p>
                        <i class="icon-quote-left"></i>
                        {{abstract = submission.settings.getLocalizedValue('abstract', locale)}}
                        {{if abstract:}}
                        	{{=XML(abstract)}}
                        {{pass}}
                    </p>
                    <div class="widget">
                        <h5 class="widgetheading"></h5>
                        <ul class="tags">
                          <li><a href="{{=URL('catalog','book/'+str(submission.attributes.submission_id))}}">{{=T('More information' )}}</a></li>
                        </ul>
                    </div>
                </article>
            </div>
        </div>
    </div>
    {{pass}}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="solidline">
                        </div>
                        <div class="post-heading">
                            <h4>{{=T('Forthcoming')}}</h4>
                        </div>
                        <div class="solidline">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <article>
                    <div class="post-image">
                        <img src="http://heiup.uni-heidelberg.de/heiup/en/static/images/catalog/01_Cover_Limitierte_Auflage.jpg"/>
                    </div>
                </article>
            </div>
            <div class="col-lg-9">
                {{if session.forced_language =='de': }}
                <article>
                    <div class="post-heading"><a id="michl"></a>
                        <h4>Felix M. Michl</h4>
                        <h4>Die limitierte Auflage<br />
                        Rechtsfragen zeitgenössischer Fotokunst</h4>
                    </div>
                    <p>Die Fotografie hat sich in den letzten Jahrzehnten zu einer der populärsten Kunstgattungen entwickelt. Dies zeigt sich nicht zuletzt auch am Erfolg der zeitgenössischen Fotografie auf dem Kunstmarkt, wo einzelne Abzüge mittlerweile für Millionenbeträge gehandelt werden. Diese hohe finanzielle Wertschätzung einzelner Fotografien wäre undenkbar, würde das Potenzial der Fotografie zur nahezu unendlichen Reproduktion tatsächlich ausgeschöpft. Im Gegenteil hat sich im Bereich der zeitgenössischen Fotokunst die Praxis etabliert, Fotografien nur in sogenannten „limitierten Auflagen“ aufzulegen, bei denen teilweise sogar mit einstelligen Auflagenhöhen gearbeitet wird. Die vorliegende Dissertation untersucht die rechtlichen Fragen im Zusammenhang mit solchen Auflagenlimitierungen und geht dabei insbesondere der Frage nach, ob solche „Exklusivitätsversprechen“ rechtlich bindend sind und somit beispielsweise von einem Sammler eingeklagt werden könnten.</p>
                    <p><strong>Erscheint im Sommer 2016</strong></p>
                </article>
                {{elif session.forced_language =='en': }}
                <article>
                    <div class="post-heading"><a id="michl_en"></a>
                        <h4>Felix M. Michl</h4>
                        <h4>Limited Editions in Contemporary Photography &ndash;<br />
                        A Legal Analysis</h4>
                    </div>
                    <p>Over the course of the past decades, photography has become one of the most popular fields of art. This development is also reflected in recent prices for some works of contemporary photography, which fetch up to several million dollars. Such price levels would be unheard of if artists were to take advantage of the opportunity to produce as many prints from the same negative as possible. On the contrary, the prevailing practice in contemporary photography is that of printing photographs in “limited editions”, with some of the most expensive photographs only existing in the low single digits. This study researches the legal implications of artists communicating limited editions to the purchasers of their art with the main question being whether such “promises of exclusivity” are legally binding and thus could be enforced by collectors e. g. in court proceedings.</p>
                    <p><strong>Coming in Summer 2016</strong></p>
                </article>
                {{pass}}
            </div>
        </div>

		<div class="row">
            <div class="col-lg-3">
                <article>
                    <div class="post-image">
                        <img src="{{=URL('static','images/catalog/transformative_cover.jpg')}}"/>
                    </div>
                </article>
            </div>
            <div class="col-lg-9">
                <article>
                    <div class="post-heading"><a id="michl"></a>
                        <h4>Corinna Forberg, Philipp W. Stockhammer (Eds.)</h4>
                        <h4>The Transformative Power of the Copy<br />
                        A Transcultural and Interdisciplinary Approach</h4>
						<i>Heidelberg Studies in Transculturality, vol. 2</i>
                    </div>
					<p></p>
                    <p>This volume offers a fresh perspective on the copy and the practice of copying, two topics that, while the focus of much academic discussion in recent decades, have been underrepresented in the discourse on transculturality. Here, experts from a wide range of academic disciplines present their views on the copy from a transcultural perspective, seeking not to define the copy uniformly, but to reveal its dynamic and transformative power. The copy and the practice of copying are thus presented as constituents of transculturality via thought-provoking contributions on topics spanning time periods from antiquity to the present, and regions from Asia to Europe. In so doing, these contributions aim to create the basis for a novel, interdisciplinary discourse on the copy and its transcultural impact throughout history.</p>
                </article>
            </div>
        </div>
		
		<div class="row">
            <div class="col-lg-3">
                <article>
                    <div class="post-image">
                        <img src="{{=URL('static','images/catalog/Cover_Moehren_OMP_300.jpg')}}"/>
                    </div>
                </article>
            </div>
            <div class="col-lg-9">
                {{if session.forced_language =='de': }}
                <article>
                    <div class="post-heading"><a id="michl"></a>
                        <h4>Frankwalt Möhren</h4>
                        <h4>Il libro de la cocina<br />
                        Edizione, lessico, riferimenti testuali</h4>
                    </div>
                    <p>Wie die gesamte europäische Küche ist auch der senesische Libro de la cocina historisch gewachsen. Seine Ursprünge sind teils in Italien, teils in anderen Kulturen zu suchen: Er vereint Rezepte aus der toskanischen Küche mit solchen, die direkt aus dem älteren lateinischen Liber de coquina stammen, einem Kochbuch aus Neapel, das die Schnittstelle zwischen orientalischer und westeuropäischer Kochliteratur darstellt.</p>
					<p>Der Libro de la cocina aus dem 2. Drittel des 14. Jahrhunderts offenbart die ganze Palette altitalienischer Kochkunst: einfache und komplizierte Gemüse-, Fleisch- und Fischspeisen, Süßspeisen und diätetische Rezepturen. Viele der knapp 200 Rezepte sind mit orientalischen, französischen, englischen und italienischen Vorgängern und Nachfolgern verknüpft. Ein vollständiges kritisches Glossar erschließt die Texte; volkssprachliche und lateinische Paralleltexte sind mit abgedruckt.</p>
                    <p><strong>Erscheint im Sepetember 2016</strong></p>
                </article>
                {{elif session.forced_language =='en': }}
                <article>
                    <div class="post-heading"><a id="michl_en"></a>
                        <h4>Frankwalt Möhren</h4>
                        <h4>Il libro de la cocina<br />
                        Edizione, lessico, riferimenti testuali</h4>
                    </div>
                    <p>European cookery has grown historically, and so has the Sienese Libro de la cocina. The book's origins are partly in Italy, partly in other cultures, combining recipes from Tuscan cuisine with those taken directly from the older Latin Liber de coquina, a cookery book from Naples which can be seen as a link between Oriental and Western European culinary literature.</p>
					<p>The Libro de la cocina reveals the complete range of the art of XIVth  century  Italian cooking: basic and elaborate vegetable, meat and fish dishes, desserts, and dietary preparations. Many of the almost 200 recipes are linked with their Oriental, French, English, and Italian precursors and successors. A complete critical glossary makes the texts accessible and, in addition, parallel vernacular and Latin texts are provided.</p>
                    <p><strong>Coming in September 2016</strong></p>
                </article>
                {{pass}}
            </div>
        </div>
    </div>
</section>
</div>
