{{extend 'layout.html'}}
{{import re, os}}
{{from ompformat import formatContributors, coverImageLink}}

<div id="main" class="container">

<section id="content">

        <div class="row">
            <div class="col-lg-3">

            </div>
            <div class="col-lg-9">

            {{=b.filter_select}}
            {{try:
            del b.sort_select[1][4]
            except:
            pass

            }}
            {{=b.sort_select}}

            </div>
        </div>

    {{for submission in submissions:}}

        <div class="container" height="400px">
            <div class="row">
                <div class="col-lg-3">
                    <article>
                        <div class="post-image">
                            {{=IMG(_src=coverImageLink(request, press.press_id, submission.attributes.submission_id))}}
                        </div>
                    </article>
                </div>
                <div class="col-lg-9">
                    <article>
                        <div class="post-heading">
                            {{include 'catalog/snippets/submission.html'}}
                            {{series = submission.associated_items.get('series', None)}}

                            {{if series:}}
                                {{series_title = series.settings.getLocalizedValue('title', locale)}}
                                {{series_subtitle = series.settings.getLocalizedValue('subtitle', locale)}}
                                <i>{{=series_title}}{{ if series_subtitle: }} – {{=series_subtitle}}{{pass}}{{if submission.attributes.series_position:}}, {{=T('Vol.')}} {{=submission.attributes.series_position}} {{pass}}</i>
                            {{pass}}
                        </div>
                        <p>
                            <i class="icon-quote-left"></i>
                            {{abstract = submission.settings.getLocalizedValue('abstract', locale)}}
                            {{if abstract:}}
                                {{=XML(abstract)}}
                            {{pass}}
                        </p>
                        <div class="widget">
                            <h5 class="widgetheading"></h5>
                            <ul class="tags">
                              <li><a href="{{=URL('catalog','book/'+str(submission.attributes.submission_id))}}">{{=T('More information' )}}</a></li>
                            </ul>
                        </div>
                    </article>
                </div>
            </div>

        </div>
    {{pass}}
     <div class="container">
            <div class="row">
            <div class="col-lg-3">
            </div>
             <div class="col-lg-9">
                {{=b.navigation_list}}
             {{=b.navigation_select}}
             </div>   
            </div>
     </div>

	{{if session.filters=='':}}
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="solidline">
                            </div>
                            <div class="post-heading">
                                <h4 id="forthcoming">{{=T('Forthcoming')}}</h4>
                            </div>
                            <div class="solidline">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

<div class="row">
                <div class="col-lg-3">
                    <article>
                        <div class="post-image">
					{{=IMG(_src=URL(myconf.take('web.application'),'static','images/catalog/cover_europa.jpg'),_alt='',_style='width:300px')}}                          

                        </div>
                    </article>
                </div>
                <div class="col-lg-9">
                    <article>
                        <div class="post-heading">
                            <div id="autoren" class="col-lg-9 col-md-9 col-xs-7" style="padding-left: 0;"><h4>Susan Richter, Michael Roth und Sebastian Meurer (Hrsg.)</h4></div>

                        <br style="clear: both">
                            <h4>Konstruktionen Europas in der Frühen Neuzeit &ndash; Geographische und historische Imaginationen</h4>
                        </div>

                        <p>
                        {{if session.forced_language =='de': }}
                        Globalgeschichtliche Zugriffe sind in der Geschichtswissenschaft angekommen. Auf der 11. Arbeitstagung der Arbeitsgemeinschaft Frühe Neuzeit hatten sich die Beiträger zum Ziel gesetzt, Europa im Kontext ferner Weltregionen in den Blick zu nehmen. „Europa“ unterlag als politisch-kulturelle Raumvorstellung und auch als Forschungsgegenstand immer wieder vielschichtigen Aushandlungsprozessen, die nicht nur entlang territorialer Herrschaftsgrenzen, eindeutiger Topographien oder von Sprachräume verliefen. Die Ergebnisse der Tagung eröffnen neue Blicke auf geographisch und historisch imaginierte Selbst- und Fremdzuschreibungen, Behauptungen von Identität und Alterität und die Wandelbarkeit von Peripherie und Zentrum. Sie bilden zugleich eine Werkschau aktueller Forschungsfelder der international weit vernetzten historischen Frühneuzeitforschung in Deutschland.
                        {{elif session.forced_language =='en': }}
                        Global history has long become an established field of research. At the 11<sup>th</sup> conference of the working group on the Early Modern Period (Historians’ Association, Germany), participants aimed at applying global-history approaches on early modern Europe. &ldquo;Europe&rdquo; has consistently been both a subject to and a concept of negotiation processes, which hardly kept to territorial borders or clear-cut topographically or language-bounded areas. The conference proceedings open up new views on geographical and historical imaginations of Europe from within and without, on claims of identity and alterity as well as on the mutability of periphery-centre relations. Moreover, they display the wide range of – internationally well-connected – historical research on the early modern period in Germany.
                        {{pass}}
                        </p>
                        <p>{{if session.forced_language =='de': }}
                        Erscheinungsdatum: 28. September 2017
                        {{elif session.forced_language =='en': }}                        
                        Publication date: 28 September 2017
                        {{pass}}
                        </p>
                    </article>
                </div>
            </div>   
            <div class="row">
                <div class="col-lg-3">
                    <article>
                        <div class="post-image">
					{{=IMG(_src=URL(myconf.take('web.application'),'static','images/catalog/cover_proust.jpg'),_alt='',_style='width:300px')}}
                        </div>
                    </article>
                </div>
                <div class="col-lg-9">
                    <article>
                        <div class="post-heading">
                          <div id="autoren" class="col-lg-9 col-md-9 col-xs-7" style="padding-left: 0;"><h4>Joanna Jaritz</h4></div>
                          <br style="clear: both">
                              <h4 id="proust">Proust Cinématographe &ndash; wie Raoul Ruiz Proust las</h4>
                         </div>
                        {{if session.forced_language =='de': }}
                        <p>&bdquo;Proust Cinématographe – wie Raoul Ruiz Proust las&rdquo; wirft über den Umweg der Literaturverfilmung einen ungewohnten Blick auf die metapoetischen Fundamente von Prousts <i>A la Recherche du Temps perdu</i>: Über detaillierte Analysen ausgewählter Textpassus und Filmausschnitte gelingt hier der Nachweis, dass die grundlegende Problematik des Romans um die Wahrnehmung und Beschreibung von Zeit, Subjekt und Identität die Denkformen des modernen Kinos bereits im 19. Jahrhundert auf überraschend breiter Ebene antizipiert.</p>

                        {{elif session.forced_language =='en': }}
                        <p>&ldquo;Proust Cinematographe – Ruiz reading In Search of Lost Time&rdquo; takes a new look at the metapoetic program of Proust's <i>A la Recherche du Temps perdu</i>. Selected text passages and film excerpts are analized focussing on the fundamental questions of the novel about the perception and description of time, subject, and identity. It turns out that the novel of the nineteenth century anticipated the concepts of modern cinema on a surprisingly broad scale.</p>

                        {{pass}}
                    </article>
                </div>
            </div>
		
        </div>
    {{pass}}
    </section>
</div>
