{{extend 'layout.html'}}
<div id="main" class="container">
  
    
   <div class="row">
        <div class="col-lg-12">

            <h3>{{if session.forced_language =='de': }}
                Vorschau
                {{elif session.forced_language =='en': }}
                Preview
            {{pass}}
            </h3>        
        
            <div class="container" id="vorschau" height="400px">
		     <div class="row">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
                            {{=A(IMG(_src=URL(myconf.take('web.application'),'static','images/about_us/profile/cover_programm.png'),_alt='', _class='bildrahmen'),_href=URL('static','/medien/heiUP_Programmheft2019.pdf'))}} 
						</div>
					</article>
				</div>
				<div class="col-lg-10">
					<article>
                        {{if session.forced_language =='de': }}
						<div class="post-heading"><b>Vorschau und lieferbare Titel 2019/2020</b>
						</div>
                        <p>Alle zurzeit lieferbaren und bis Herbst 2020 geplanten Titel finden Sie in unserer aktuellen Verlagsvorschau.</p> 
                        <p>
                        <a href="{{=URL('static','/medien/heiUP_Programmheft2019.pdf')}}"><button class="btn btn-default" type="button">Download</button></a></p>
                        {{elif session.forced_language =='en': }}
						<div class="post-heading"><b>Publishing Programme 2019/2020</b>
						</div>
                        <p>All presently available and upcoming titles are listed in our current publisher's preview.</p>
                        <p><a href="{{=URL('static','/medien/heiUP_Programmheft2019.pdf')}}"><button class="btn btn-default" type="button">Download</button></a></p>
                        {{pass}}                        
					</article>
				</div>
			</div>
	     </div>
         
		    <h4>{{if session.forced_language =='de': }}
                Erscheint demnächst
                {{elif session.forced_language =='en': }}
                Coming soon
            {{pass}}
            </h4>
            
        <div class="container" id="guenkel" height="400px">
		     <div class="row">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
							{{=IMG(_src=URL(myconf.take('web.application'),'static','/images/catalog/cover_guenkel.jpg'),_alt='', _class='bildrahmen')}}
						</div>
					</article>
				</div>
				<div class="col-lg-10">
					<article>
						<div class="post-heading">
						  <b>Ute Günkel-Maschek<br />
							   Minoische Bild-Räume. Neue Untersuchungen zu den Wandmalereien des spätbronzezeitlichen Palastes von Knossos</b><br>
						</div>
						    {{if session.forced_language =='de': }}						
            <p>Der vorliegende Band stellt eine neue Analyse der Wandbilder vor, die vor über 100 Jahren an den Wänden des bedeutendsten Zentrums der minoischen Kultur, des Palastes von Knossos, gefunden wurden. Im Mittelpunkt der Untersuchungen steht der Begriff des Bild-Raums, eine theoretisch begründete, relationale Verknüpfung von Bildelementen, Menschen, Handlungen und Orten. Das Ziel ist es, basierend auf dem Wanddekor einzelner Gebäudetrakte ein besseres Verständnis der einst mit ihnen verbundenen Rituale, Ideen und Personen zu gewinnen. In ausführlichen Fallstudien werden die Bild-Räume dreier bedeutender Palastareale analysiert, rekonstruiert und in ihren spätbronzezeitlichen Kontext gestellt.</p>
            <p>Erscheint Sommer 2020</p>
            
                {{elif session.forced_language =='en': }}
						<p>This volume presents a new analysis of the wall paintings discovered over a hundred years ago in one of the most important centres of Minoan culture, the palace at Knossos. Introducing the theoretical concept of Bild-Raum, a relational construct linking pictorial elements with humans, actions and places, the aim is to produce new insights as to the types of rituals, ideas and people which can be related with individual parts of the palace based on the decoration painted on the walls. The images and architecture of three key areas of the palace are studied in broad detail, improving our understanding of performances and people involved and their role within the complex history of the Late Bronze Age palace at Knossos.</p>  
             <p>Coming in Summer 2020</p>
                        {{pass}}
					</article>
				</div>
			</div>
		</div>
                    
		<div class="container" id="enderwitz" height="400px">
		     <div class="row">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
							{{=IMG(_src=URL(myconf.take('web.application'),'static','/images/catalog/cover_enderwitz.jpg'),_alt='', _class='bildrahmen')}}
						</div>
					</article>
				</div>
				<div class="col-lg-10">
					<article>
						<div class="post-heading">
						    <b>{{if session.forced_language =='de': }}Sarah Kiyanrad, Rebecca Sauer, Jan Scholz (Hrsg.){{elif session.forced_language =='en': }}Sarah Kiyanrad, Rebecca Sauer, Jan Scholz (Eds.){{pass}}<br />
							{{if session.forced_language =='de': }}Islamische Selbstbilder. Festschrift für Susanne Enderwitz{{elif session.forced_language =='en': }}Islamic self portraits. Festschrift for Susanne Enderwitz{{pass}}</b>
						</div>
						
						<p>
						    {{if session.forced_language =='de': }}
                        <p>In der Islamkunde wird seit einigen Jahren sehr lebhaft diskutiert, inwieweit „Horizonte des Individuellen“ in literarischen und dokumentarischen Quellen wahrnehmbar sind. Der Band ist bewusst nicht als kumulativ strukturierte Festgabe konzipiert, sondern soll vielmehr an fachwissenschaftlich relevante Diskussionen anknüpfen. Mit Beiträgen von Lale Behzadi, Michael Ursinus, Henning Sievert, Paula Schrode, Johannes Zimmermann, Ines Weinrich u.v.a.</p>                        
						<p>Erscheint Sommer 2020</p>

                        {{elif session.forced_language =='en': }}
                        <p>Going beyond the framework of a mere “Festschrift” in cumulative terms, this volume aims at contributing to recent discussions in the subject area of Middle Eastern studies focusing on individual and autobiographical voices discernible in pre-modern and contemporary Muslim societies. This approach reflects Prof Susanne Enderwitz’ seminal works on the topics of autobiography/autofiction and Islamicate expressions of identity. Among the contributors are Lale Behzadi, Michael Ursinus, Henning Sievert, Paula Schrode, Johannes Zimmermann, Ines Weinrich, and many others.</p>                        
						<p>Coming in Summer 2020</p>
                        {{pass}}
						</p>
					</article>
				</div>
			</div>
		</div>   
        
        

		<div class="container" id="pagel" height="400px">
		     <div class="row">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
							{{=IMG(_src=URL(myconf.take('web.application'),'static','/images/catalog/cover_pagel.jpg'),_alt='', _class='bildrahmen')}}
						</div>
					</article>
				</div>
				<div class="col-lg-10">
					<article>
						<div class="post-heading">
						  <b>Steve Pagel<br />
						  {{if session.forced_language =='de': }}
							   Die Wurzeln der Kontaktlinguistik. 
							   Zur Entstehung des Sprachkontaktparadigmas in der Sprachwissenschaft
						  {{elif session.forced_language =='en': }}
						       The roots of contact linguistics.
							   On the emergence of the language contact paradigm in the science of language
                          {{pass}}	
                          </b>						  
						</div>
						    {{if session.forced_language =='de': }}						
            <p>Das Nachdenken über Sprachkontakt und Sprachmischung ist von Anfang an Teil der europäisch-abendländischen Beschäftigung mit Sprache. Angefangen bei Platon, ist es lange ein recht unaufgeregtes Nachdenken, bis sich im 19. Jhd. der Blickwinkel radikal ändert: die Normalität ist weg, Kontakt und Mischung werden erst zu einem Forschungstabu und nur wenig später zum Forschungsfokus, aus dem eine eigene Disziplin, die Kontaktlinguistik hervorgeht. Dieses Buch erzählt erstmals die ganze Geschichte der Erforschung von Sprachkontakt bis an die Schwelle zum 20. Jhd. und zeigt, wie kritisch-historiografische Studien helfen können, aktuelle Debatten (z.B. in der Kreolistik) einzuordnen und voranzubringen.</p>
            <p>Erscheint Herbst 2020</p>
            
                {{elif session.forced_language =='en': }}
						<p>Reflecting on language contact and language mixing is part of the European-Western occupation with language from the beginning. Starting with Plato, it is for a long time a rather unexcited reflection, until in the 19th century, the perspective changes radically: the normality of cases of contact and mixing is gone, they become a research taboo first and only a little later a research focus, from which a separate discipline, contact linguistics, emerges. This book, for the first time, tells the whole story of the study of language contact up to the 20th century, and shows how critical-historiographic studies can help to understand and advance current debates (for example, in creolistics).</p>  
             <p>Coming in Autumn 2020</p>
                        {{pass}}
					</article>
				</div>
			</div>
		</div>
        
		<div class="container" id="seeber" height="400px">
		     <div class="row">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
							{{=IMG(_src=URL(myconf.take('web.application'),'static','/images/catalog/cover_seeber.jpg'),_alt='', _class='bildrahmen')}}
						</div>
					</article>
				</div>
				<div class="col-lg-10">
					<article>
						    {{if session.forced_language =='de': }}                    
						<div class="post-heading">
						    <b>Karin Seeber<br>
                            Marie Luise Gotheins „Geschichte der Gartenkunst“<br>
                            Das Bild des Gartens als Text</b>
						</div>
                       
                        <p>Marie Luise Gothein verfasste 1914 mit ihrer „Geschichte der Gartenkunst“ einen Klassiker, der bis heute zwar übersetzt und neuaufgelegt, nie jedoch als Grundlagenwerk in den Fokus gerückt wurde. Diese Arbeit untersucht die intellektuellen und ästhetischen Konzepte der Autorin im Hinblick auf ihre Darstellung der Gartenkunst. Welchen Prämissen folgt die Kulturwissenschaftlerin bei der Fixierung des stets im Wandel begriffenen Raumkunstwerks Garten in Text und Bild? Welche Rolle spielt die Reformgartenbewegung, die zur Zeit der Veröffentlichung in vollem Gange war? Die Analyse von Gotheins Gartenbeschreibungen, etwa der Villa d’Este, zeigt, wie grundlegend die Geschichtsschreibung von den Herausforderungen der Zeit beeinflusst ist: Im Sinne des Ecocriticism spiegeln die Bände die Auseinandersetzung des Menschen mit seiner Umwelt.</p>
                        
						<p>Erscheint Herbst 2020</p>

                        {{elif session.forced_language =='en': }}
						<div class="post-heading">                        
                        <b>Karin Seeber<br>
                        Marie Luise Gothein’s “A History of Garden Art”<br>
                        The image of the garden as text</b>
						</div>                        
                        <p>Marie Luise Gothein’s „A History of Garden Art“, first published in 1914 and still in print, was immediately recognized as a classic, but has so far never been brought into focus as a seminal work of the discipline. This thesis examines the cultural scientist's intellectual and aesthetic concepts that guided her in her description of garden art. What defining concepts did she have when presenting the ever-changing art work of the garden in text and image? What role does the reform garden movement play, which was in full swing at the time of publication? The analysis of Gothein's descriptions of gardens, such as Villa d'Este, shows how fundamentally historical writing is influenced by the challenges of the time. The volumes reflect an ecocritical human approach to the environment.
                        </p>                        
						<p>Coming in Autumn 2020</p>
                        {{pass}}

					</article>
				</div>
			</div>
		</div>         
    
    </div>
	</div>
</div>