{{extend 'layout.html'}}
<div id="main" class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>  {{if session.forced_language =='de': }}
                Vorschau
                {{elif session.forced_language =='en': }}
                Preview
            {{pass}}
            </h3>
        </div>   
	</div>


	<div class="row">
        <div class="col-lg-12">
            <h4>{{=T('Books')}}</h4>
        </div>   
	</div>
	
   <div class="row">
        <div class="col-lg-12">

		
		<!-- <div class="container" id="becker" height="400px">
		     <div class="row">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
							{{=IMG(_src=URL(myconf.take('web.application'),'static','/images/catalog/cover_becker.jpg'),_alt='', _class='bildrahmen')}}
						</div>
					</article>
				</div>
				<div class="col-lg-10">
					<article>
						<div class="post-heading">
						    <b>Nadine Becker<br />
							Die goldenen Siegelringe der Ägäischen Bronzezeit</b>
						</div>
						
						<p>
						    {{if session.forced_language =='de': }}
                        <p>
						Aufgrund ihres hohen Materialwerts und ihrer aussagekräftigen Ikonographie fanden ägäische Siegelringe in der Forschung bereits mehrfach Beachtung. Dabei stand häufig die Analyse und Interpretation der Bilder im Fokus. Eine Gesamtbetrachtung dieser äußerst komplexen archäologischen Gattung und ihrer vielfältigen Funktionen innerhalb der minoisch-mykenischen Administration und Gesellschaft fehlte jedoch bisher. In der vorliegenden Arbeit werden erstmalig nicht nur erhaltene Ringe, sondern auch Abdrücke goldener Siegelringe auf Tonplomben systematisch untersucht, was ein neues Verständnis der Gattung und deren Wandel im Laufe der Ägäischen Bronzezeit ermöglicht.</p>
						
						<p>Erscheint Dezember 2018</p>

                        {{elif session.forced_language =='en': }}
                        <p>
						Due to their high material value and their meaningful iconography, Aegean signet rings have already attracted considerable attention in research. The focus was often on the analysis and interpretation of images, however, an overall consideration of this extremely complex archaeological genre and its diverse functions within the Minoan-Mycenaean administration and society was lacking so far. For the first time, not only preserved rings but also imprints of signet rings on sealings are systematically investigated in this work, which allows a new understanding of the material and its transformation during the Aegean Bronze Age.</p>                        
						<p>Coming December 2018</p>
                        {{pass}}
						</p>
					</article>
				</div>
			</div>
		</div>    -->
    
    <!--<div class="container" id="dorpmueller" height="400px">
		     <div class="row">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
							{{=IMG(_src=URL(myconf.take('web.application'),'static','/images/catalog/cover_dorpmueller.jpg'),_alt='', _class='bildrahmen')}}
						</div>
					</article>
				</div>
				<div class="col-lg-10">
					<article>
						<div class="post-heading">
						    <b>Sabine Dorpmüller, Jan Scholz, Max Stille, Ines Weinrich (Eds.)<br />
							Religion and Aesthetic Experience: Drama – Sermons – Literature</b>
						</div>
						
						<p>
						    {{if session.forced_language =='de': }}
                        <p>
Die Religionsästhetik hat in den vergangenen Jahren an Bedeutung innerhalb der Religions- und Islamwissenschaft gewonnen. Dieser Band betont die transkulturellen Dimensionen der theoretischen Grundlagen der Religionsästhetik und bietet Fallstudien über die Rolle ästhetischer Erfahrung in religiösen Kontexten. Diese umfassen islamische Predigten im Nahen Osten und Südasien, islamische religiöse Gesänge, ein Korankapitel, einen deutschen Performance-Künstler, indische rasa-Theorie und arabische wie bengalische Literatur. Zusammen zeigen die Autoren die Fruchtbarkeit der Analyse ästhetischer Formen von religiöser Vermittlung über verschiedene Regionen und Gattungen hinweg auf.</p>
						
						<p>Erscheint Dezember 2018</p>

                        {{elif session.forced_language =='en': }}
                        <p>
Religious aesthetics have gained increasing importance over the past few years in the fields of Religious studies and Islamic studies. This volume highlights the transcultural dimensions of the theoretical foundations of religious aesthetics. It explores aesthetic experience in the religious field through a series of case studies. These include Islamic sermons from the Middle East and South Asia, Islamic religious chanting, a chapter of the Qurʾān, a German performance artist, Indian rasa theory, and Arabic and Bengali literature. Together, the authors demonstrate that the analysis of the aesthetic forms of religious mediation across regions and genres is a fruitful approach to transcultural studies.</p>                        
						<p>Coming December 2018</p>
                        {{pass}}
						</p>
					</article>
				</div>
			</div>
		</div>--> 
    
    
    <div class="container" id="huefner" height="400px">
		     <div class="row">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
							{{=IMG(_src=URL(myconf.take('web.application'),'static','/images/catalog/cover_huefner.jpg'),_alt='', _class='bildrahmen')}}
						</div>
					</article>
				</div>
				<div class="col-lg-10">
					<article>
						<div class="post-heading">
						  <b>Joachim Heintze, Maarten DeKieviet, Jörg Hüfner<br />
							   Geschichte der Physik an der Universität Heidelberg</b>
						</div>
						    {{if session.forced_language =='de': }}						
            <p>Mehr als 600 Jahre Physik und Astronomie an der Universität Heidelberg: Vom späten Mittelalter bis in die Gegenwart,  vom Studium der Physik des Aristoteles bis zu den Experimenten an den Beschleunigern in Genf. Der Weg zu der nach der Zahl der Studierenden größten Physikfakultät Deutschlands war steinig: So musste die Universität  im Dreißigjährigen Krieg zeitweise schließen; während des Nationalsozialismus wurde das Physikalische Institut Zentrum einer „Deutschen Physik“. Doch die Sternstunden überwiegen: darunter die Entzifferung des Spektrums des Sonnenlichtes durch Kirchhoff und Bunsen  und Jensens Entdeckung der Schalenstruktur der Atomkerne, für die er mit dem Nobelpreis ausgezeichnet wurde.</p>
 
            <p>Erscheint Sommer 2019</p>
                {{elif session.forced_language =='en': }}
						<p>More than 600 years of physics and astronomy at the University of Heidelberg: From the late middle ages to the present times, from Aristotelian physics to experiments at the accelerators in Geneva. The university experienced ups and downs, until its physics faculty finally became the largest one in Germany. During the Thirty Years’ War, the university was closed, and during the times of National Socialism, Heidelberg became the centre of “German physics”. Scientific highlights were the deciphering of the spectra of star light by Bunsen und Kirchhoff and the discovery of the nuclear shell model by Jensen, who won the Nobel prize.</p>  
             <p>Coming in Summer 2019</p>
                        {{pass}}
					</article>
				</div>
			</div>
		</div>   
    
    <div class="container" id="keazor" height="400px">
		     <div class="row">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
							{{=IMG(_src=URL(myconf.take('web.application'),'static','/images/catalog/cover_showandtell.jpg'),_alt='', _class='bildrahmen')}}
						</div>
					</article>
				</div>
				<div class="col-lg-10">
					<article>
						<div class="post-heading">
						  <b>Maria Effinger, Henry Keazor (Hrsg.)<br />
							   Show & Tell. Studierende bieten Einblick in die Privatsammlung Erik Jayme</b>
						</div>
						    {{if session.forced_language =='de': }}						
            <p>Zu den Tätigkeiten von KunsthistorikerInnen gehört es, einer Öffentlichkeit ausgewählte Kunstwerke zu präsentieren. Üblicherweise besteht erst im Berufsleben die Möglichkeit, die entsprechenden Erfahrungen zu machen und so die notwendigen Fertigkeiten zu erlernen. In einem Seminarprojekt des Instituts für Europäische Kunstgeschichte der Universität Heidelberg bekamen die Studierenden demgegenüber einmal die sonst seltene Möglichkeit, bereits im Studium eine eigene Ausstellung zu organisieren: Sie konnten aus der Privatsammlung von Prof. Dr. Dr. h.c. mult. Erik Jayme frei Kunstwerke auswählen und zu einer in der Universitätsbibliothek Heidelberg gezeigten Ausstellung zusammenstellen.</p>
 
            <p>Erscheint Sommer 2019</p>
                {{elif session.forced_language =='en': }}
						<p>It is part of the work of art historians to present selected works of art to a public. Usually, it is only possible to gain the necessary experience and to thus learn the appropriate skills one has entered the professional. However, in a seminar project of the Institute for European Art History at Heidelberg University, the students were offered the rare opportunity to organize their own exhibition already during their studies: they could choose freely works of art from the private collection of Dr. h.c. mult. Erik Jayme and assemble them into an exhibition, then shown in the University Library Heidelberg.</p>  
             <p>Coming in Summer 2019</p>
                        {{pass}}
					</article>
				</div>
			</div>
		</div> 
    
    <div class="container" id="scharrer" height="400px">
		     <div class="row">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
							{{=IMG(_src=URL(myconf.take('web.application'),'static','/images/catalog/cover_scharrer.jpg'),_alt='', _class='bildrahmen')}}
						</div>
					</article>
				</div>
				<div class="col-lg-10">
					<article>
						<div class="post-heading">
						  <b>Margret Scharrer, Heiko Laß, Matthias Müller (Hrsg.)<br />
							   Musiktheater im höfischen Raum des frühneuzeitlichen Europa</b>
						</div>
						    {{if session.forced_language =='de': }}						
            <p>Die Vereinigung der Künste im „Gesamtkunstwerk“ der höfischen Oper bildete zwar schon wiederholt den Gegenstand musikwissenschaftlicher Forschungen, doch wurde beispielsweise die spezifisch räumlich-architektonische Seite der höfischen Oper bislang kaum beachtet. Musiktheater meint aber szenische Aufführung und Architektur gleichermaßen. Beide bildeten wesentliche Komponenten herrschaftlicher Repräsentation im 17. und 18. Jahrhundert. Im Alten Reich veranlasste daher nicht nur der reichsständische Adel musiktheatrale Aufführungen, sondern auch kleinere Höfe brachten Ballette und Opern auf die Bühne. Die interdisziplinären Beiträge einer Tagung des Rudolstädter Arbeitskreises zur Residenzkultur widmen sich dem Thema in einer europäischen Perspektive und erläutern die vielfältigen Verbindungen, die zwischen dem Musiktheater und dem höfischen Raum im architektonischen, politisch-kulturellen sowie sozialen Sinn bestanden.</p>
 
            <p>Erscheint Sommer 2019</p>
                {{elif session.forced_language =='en': }}
						<p>The unification of the arts in the "Gesamtkunstwerk" of courtly opera has repeatedly been the subject of musicological research, but so far, for example, the specific spatial-architectural side of courtly opera has hardly been considered. Music theater means scenic performance and architecture alike. Both formed essential components of lordly representation in the 17th and 18th centuries. In the Old Kingdom, therefore, not only the aristocratic nobility arranged music-theatrical performances, but smaller courts also brought ballets and operas on stage. The interdisciplinary contributions of a conference of the Rudolstädter Arbeitskreis zur Residenzkultur deal with the topic in a European perspective and explain the diverse connections that existed between the music theater and the courtly space in the architectural, political-cultural and social sense.</p>
            <p>Coming in Summer 2019</p>
                        {{pass}}
					</article>
				</div>
			</div>
		</div>
		
		<div class="container" id="bartelmann" height="400px">
		     <div class="row">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
							{{=IMG(_src=URL(myconf.take('web.application'),'static','/images/catalog/cover_bartelmann.jpg'),_alt='', _class='bildrahmen')}}
						</div>
					</article>
				</div>
				<div class="col-lg-10">
					<article>
						<div class="post-heading">
						  <b>Matthias Bartelmann<br />
							   General Relativity</b>
						</div>
						    {{if session.forced_language =='de': }}						
            <p>Einsteins allgemeine Relativitätstheorie ist nach wie vor die gültige Theorie der Gravitation und hat sich in zahlreichen Tests und Messungen bewährt. Sie beruht auf einfachen Prinzipien und verbindet die Geometrie der Raumzeit mit deren Masse-Energie-Inhalt. In diesem Vorlesungsskript werden zunächst die physikalischen Grundlagen erläutert und die nötigen differentialgeometrischen Werkzeuge bereitgelegt. Nach der Begründung der Feldgleichungen wird die Bewegung im Gravitationsfeld besprochen und gezeigt, welche Eigenschaften schwacher Gravitationsfelder aus den Feldgleichungen folgen. Lösungen für kompakte Objekte und schwarze Löcher werden hergeleitet und diskutiert, ebenso wie kosmologische Modelle. Zwei astrophysikalische Anwendungen der allgemeinen Relativitätstheorie schließen das Skript ab.</p>
 
            <p>Erscheint Frühjahr 2019</p>
                {{elif session.forced_language =='en': }}
						<p>Einstein‘s theory of general relativity is still the valid theory of gravity and has been confirmed by numerous tests and measurements. It is built upon simple principles and relates the geometry of space-time to its matter-energy content. These lecture notes begin by introducing the physical principles and by preparing the necessary mathematical tools taken from differential geometry. Beginning with Einstein’s field equations, which are introduced in two different ways in the lecture, the motion of test particles in a gravitational field is then discussed, and it is shown how the properties of weak gravitational fields follow from the field equations. Solutions for compact objects and black holes are derived and discussed as well as cosmological models. Two applications of general relativity to astrophysics conclude the lecture notes.</p>  
             <p>Coming in Spring 2019</p>
                        {{pass}}
					</article>
				</div>
			</div>
		</div>
		
		
<!--	<div class="row">
        <div class="col-lg-12">
            <h4>{{=T('Series')}}</h4>
        </div>   
	</div>
			<div class="container" id="joerdens" height="400px">
		     <div class="row">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
							{{=IMG(_src=URL(myconf.take('web.application'),'static','/images/catalog/cover_joerdens.jpg'),_alt='', _class='bildrahmen')}}
						</div>
					</article>
				</div>
				<div class="col-lg-10">
					<article>
						<div class="post-heading">
						    <b>Andrea Jördens, Joachim Friedrich Quack (Hg.)<br />
							Studien und Texte aus der Heidelberger Papyrussammlung</b>
						</div>
						
						<p>
						    {{if session.forced_language =='de': }}
                        <p>Die neue Reihe <i>Studien und Texte aus der Heidelberger Papyrussammlung</i> (STHP)  hat zum Ziel, eine Plattform für die mit der Sammlung verbundenen Publikationen zu bieten. Dies betrifft insbesondere die Herausgabe der dort aufbewahrten Papyri und Ostraka in griechischer, demotischer, koptischer und arabischer Sprache, ohne sich freilich auf reine Editionsbände zu beschränken. Einen Schwerpunkt bilden die am Institut angefertigten Dissertationen. Die STHP können dadurch als weithin sichtbarer Ausweis der vielfältigen Aktivitäten an der Heidelberger Papyrussammlung gelten.</p>
                        <p>Die Reihe steht in der Nachfolge der 1954 begründeten <i>Veröffentlichungen aus der Heidelberger Papyrussammlung. Neue Folge</i> (VHP.NF), die bislang unter der Ägide der Heidelberger Akademie der Wissenschaften im Universitätsverlag Carl Winter erschien. Für die Herausgabe wird künftig ein Gremium hochrangiger Fachvertreter aus Papyrologie und Ägyptologie zuständig sein. Wie schon bisher, werden die Bände auch darüber hinaus weiterhin unter Beiziehung der zuständigen Fachkollegen betreut, was die hohe Qualität der bestens eingeführten Reihe auch in Zukunft verbürgt. Mit der parallelen Publikation in digitaler Form wird zudem ein direkter Zugriff auf die online gestellten Artefakte ermöglicht und damit die internationale Wahrnehmung der reichen Bestände an Papyri, Ostraka, Pergamenten und Papieren an der Heidelberger Papyrussammlung weiter gestärkt.
                        </p>                        
						<p>Erscheint Januar 2019</p>

                        {{elif session.forced_language =='en': }}
                        <p>The aim of the <i>Studien und Texte aus der Heidelberger Papyrussammlung</i> (STHP) series is to provide a home for publications related to the collection. In particular, it comprises editions of Greek, Demotic, Coptic, and Arabic papyri and ostraka, but is not limited to editions. Dissertations completed in the Institute constitute a special focus. Through this, the STHP will serve to witness the many and varied activities of the Heidelberg papyrus collection.</p>
                        <p>Previously, the series was published under the auspices of the Heidelberg Academy of Sciences together with the University press Carl Winter. In the future, the director of the Institute for Papyrology will act as managing editor. As in the past, volumes will be reviewed by scholars in the field, which will ensure the continued high quality of the series. Parallel publication in digital form will guarantee direct online access to the artifacts, something that will further strengthen international recognition of the rich collection of papyrus, ostraka, parchment, and paper holdings in Heidelberg.
                        </p>                        
						<p>Coming January 2019</p>
                        {{pass}}
						</p>
					</article>
				</div>
			</div>
		</div>    -->
    

			<div class="container" id="phs" height="400px">
		     <div class="row">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
							{{=IMG(_src=URL(myconf.take('web.application'),'static','/files/presses/6/series/43-series.jpg'),_alt='', _class='bildrahmen')}}
						</div>
					</article>
				</div>
				<div class="col-lg-10">
					<article>
						<div class="post-heading">
						    <b>Miriam Régerat-Kobitzsch<br />
							»Cette reine qui fait une si piètre figure«</b>
						</div>
						
						<p>
						    {{if session.forced_language =='de': }}
                        <p>Die französische Königin Maria von Medici (1575–1642) galt in der Nachwelt als vulgär, verschwenderisch, machtbesessen und intrigant, ja sogar als Gattenmörderin. Dies ist das Bild, das die männlich und national geprägte Geschichtsschreibung in Frankreich seit dem Ancien Régime von ihr vermittelt hat. Ihr kulturelles und politisches Wirken wurde hierbei zu einer unbedeutenden weiblichen und italienischen Klammer zwischen der Herrschaft Heinrichs IV. und dem Ministerium Richelieus reduziert. In den historischen Meistererzählungen des 19. Jahrhunderts diente die Schilderung vermeintlicher Verfehlungen Marias von Medici überdies als Beleg für den Siegeszug einer werdenden französischen Nation, die Widerstände immer erfolgreich überwunden hatte.</p>
                        <p>Dieses Buch untersucht erstmals eingehend die bewegte Rezeption der umstrittenen zweiten Medici-Regentin im 19. Jahrhundert in Frankreich und setzt diese mit dem Bild in Perspektive, das zeitgleich in anderen europäischen Ländern von ihr entwickelt wurde. Warum überdauerten die negativen Motive ihrer Rezeption den Einschnitt der Revolution von 1789? Welchen Platz nahm diese Figur im historischen Diskurs einer sich zunehmend bürgerlich, republikanisch und laizistisch definierenden französischen Nation ein? Die Studie bietet tiefe Einblicke in die Verquickung von Geschichtsschreibung, Gesellschaft und Politik in der europaweiten Krisen- und Umbruchszeit des Nationalismus.
                        </p>                        
						<p>Erscheint Sommer 2019</p>

                        {{elif session.forced_language =='en': }}
                        <p>Die französische Königin Maria von Medici (1575–1642) galt in der Nachwelt als vulgär, verschwenderisch, machtbesessen und intrigant, ja sogar als Gattenmörderin. Dies ist das Bild, das die männlich und national geprägte Geschichtsschreibung in Frankreich seit dem Ancien Régime von ihr vermittelt hat. Ihr kulturelles und politisches Wirken wurde hierbei zu einer unbedeutenden weiblichen und italienischen Klammer zwischen der Herrschaft Heinrichs IV. und dem Ministerium Richelieus reduziert. In den historischen Meistererzählungen des 19. Jahrhunderts diente die Schilderung vermeintlicher Verfehlungen Marias von Medici überdies als Beleg für den Siegeszug einer werdenden französischen Nation, die Widerstände immer erfolgreich überwunden hatte.</p>
                        <p>Dieses Buch untersucht erstmals eingehend die bewegte Rezeption der umstrittenen zweiten Medici-Regentin im 19. Jahrhundert in Frankreich und setzt diese mit dem Bild in Perspektive, das zeitgleich in anderen europäischen Ländern von ihr entwickelt wurde. Warum überdauerten die negativen Motive ihrer Rezeption den Einschnitt der Revolution von 1789? Welchen Platz nahm diese Figur im historischen Diskurs einer sich zunehmend bürgerlich, republikanisch und laizistisch definierenden französischen Nation ein? Die Studie bietet tiefe Einblicke in die Verquickung von Geschichtsschreibung, Gesellschaft und Politik in der europaweiten Krisen- und Umbruchszeit des Nationalismus.
                        </p>                        
						<p>Coming in Summer 2019</p>
                        {{pass}}
						</p>
					</article>
				</div>
			</div>
		</div>    
    
    
    </div>
	</div>
</div>