{{extend 'layout.html'}}
{{import re, os}}
{{from ompformat import formatContributors, coverImageLink}}
<div id="main" class="container">

{{=request.vars}}
<section id="content">

        <div class="row">
            <div class="col-lg-3">

            </div>
            <div class="col-lg-9">
                {{=form}}
                    <table >
                                {{

                                for r in results:
                                =TR(TD(r.get('title_en').encode('utf-8'),_class="col-lg-1"),TD(r.get('authors'),_class="col-lg-3"))
                                #=TR(r)
                                =BR()
                                pass}}
                    </table>
                    {{#=results}}
                    {{#=p}}

            </div>
        </div>
</section>
</div>


