{{extend 'layout.html'}}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>  {{if session.forced_language =='de': }}
                Beirat
                {{elif session.forced_language =='en': }}
                Advisory Board
            {{pass}}
            </h3>

            <p>
                {{if session.forced_language =='de': }}

  <div class="box">
 
    <div class="media" style="margin-bottom: 1em">
            <div class="media-left pull-left">
          <img src="../static/images/about_us/board/bartelmann.jpg" class="pull-left media-object beiratPortrait" alt="" />
      </div>        
      <div class="media-body">
        <p class="media-heading"><strong>Matthias Bartelmann</strong></p>
          <p class="beiratBeschreibung">
                Professor für Theoretische Astrophysik, Institut für Theoretische Physik, Universität Heidelberg
              <a href="http://www.ita.uni-heidelberg.de/research/bartelmann/" target="_self">&nbsp;<i class="fa fa-external-link"></i></a>
          </p>
      </div>
    </div> 


    <div class="media" style="margin-bottom: 1em">
            <div class="media-left pull-left">
          <img src="../static/images/about_us/board/brosius.jpg" class="pull-left media-object beiratPortrait" alt="" />
      </div>        
      <div class="media-body">
        <p class="media-heading"><strong>Christiane Brosius</strong></p>
          <p class="beiratBeschreibung">
                Professorin für Bild- und Medienethnologie am Heidelberg Centre for Transcultural Studies (HCTS)
              <a href="http://www.asia-europe.uni-heidelberg.de/de/personen/person/persdetail/brosius.html" target="_self">&nbsp;<i class="fa fa-external-link"></i></a>
          </p>
      </div>
    </div> 

    <div class="media" style="margin-bottom: 1em">
            <div class="media-left pull-left">
              <img src="../static/images/about_us/board/cerwenka.jpg" class="pull-left media-object beiratPortrait" alt="" />
      </div>        
      <div class="media-body">
        <p class="media-heading"><strong>Adelheid Cerwenka</strong></p>
          <p class="beiratBeschreibung">
                Professorin am Centrum für Biomedizin und Medizintechnik Mannheim 
              <a href="https://www.umm.uni-heidelberg.de/forschung/forschungsschwerpunkte/onkologie/mitglieder/adelheid-cerwenka/" target="_self">&nbsp;<i class="fa fa-external-link"></i></a>
          </p>
      </div>
    </div>

    <div class="media" style="margin-bottom: 1em">
            <div class="media-left pull-left">
            <img src="../static/images/about_us/board/felder.jpg" class="pull-left media-object beiratPortrait" alt="" />
      </div>        
      <div class="media-body">
        <p class="media-heading"><strong>Ekkehard Felder</strong></p>
          <p class="beiratBeschreibung">
               Professor für Germanistische Linguistik, Germanistisches Seminar, Universität Heidelberg <a href="https://www.gs.uni-heidelberg.de/sprache02/felder/" target="_self">&nbsp;<i class="fa fa-external-link"></i></a> /<br /> Europäisches Zentrum für Sprachwissenschaften (EZS) <a href="http://ezs-online.de/de/ueber-das-ezs/" title="Homepage Europäisches Zentrum für Sprachwissenschaften" target="_self">&nbsp;<i class="fa fa-external-link"></i></a>

          </p>
      </div>
    </div>
 
    <div class="media" style="margin-bottom: 1em">
            <div class="media-left pull-left">
              <img src="../static/images/about_us/board/fuhrmann_koch.jpg" class="pull-left media-object beiratPortrait" alt="" />
      </div>        
      <div class="media-body">
        <p class="media-heading"><strong>Marietta Fuhrmann-Koch</strong> </p>
          <p class="beiratBeschreibung">
              Kommunikation und Marketing Universität Heidelberg
              <a href="https://www.uni-heidelberg.de/de/einrichtungen/rektorat/kommunikation-und-marketing" target="_self">&nbsp;<i class="fa fa-external-link"></i></a>
          </p>
      </div>
</div>  
 
  
  <div class="media">
      <div class="media-left pull-left">
         <img src="../static/images/about_us/board/heermann.jpg" class="pull-left media-object beiratPortrait" alt=""/>
      </div>
      <div class="media-body">
          <p class="media-heading"><strong>Dieter Heermann</strong> </p>
          <p class="beiratBeschreibung">Professor für Theoretische Physik an der Universität Heidelberg; Prorektor für Internationale Angelegenheiten
              <a href="http://wwwcp.tphys.uni-heidelberg.de/" target="_self">&nbsp;<i class="fa fa-external-link"></i></a>
          </p>
      </div>
  </div>


<div class="media">
      <div class="media-left pull-left">
        <img src="../static/images/about_us/board/kanschat.jpg" class="pull-left media-object beiratPortrait" alt="" />
      </div>
      <div class="media-body">
          <p class="media-heading"><strong>Guido Kanschat</strong> </p>
          <p class="beiratBeschreibung">Professor für Wissenschaftliches Rechnen, Interdisziplinäres Zentrum für Wissenschaftliches Rechnen (IWR) 
              <a href="https://simweb.iwr.uni-heidelberg.de/~gkanscha/de/" target="_self">&nbsp;<i class="fa fa-external-link"></i></a>
          </p>
      </div>
  </div>  

 <div class="media">
      <div class="media-left pull-left">
        <img src="../static/images/about_us/board/kirsch.jpg" class="pull-left media-object beiratPortrait" alt="" />
      </div>
      <div class="media-body">
          <p class="media-heading"><strong>Joachim Kirsch</strong></p>
          <p class="beiratBeschreibung">Professor für Anatomie; Direktor der Abteilung medizinische Zellbiologie am Institut für Anatomie und Zellbiologie
              <a href= "http://www.uni-heidelberg.de/izn/researchgroups/kirsch/" target="_self">&nbsp;<i class="fa fa-external-link"></i></a>
          </p>
      </div>
  </div>
  
  
    <div class="media">
      <div class="media-left pull-left"> 
              <img src="../static/images/about_us/board/nuessel.jpg" class="pull-left media-object beiratPortrait" alt="" />
      </div>
      <div class="media-body">
          <p class="media-heading"><strong>Friederike Nüssel</strong></p>
          <p class="beiratBeschreibung">Professorin für Systematische Theologie; Direktorin des Ökumenischen Instituts; Ephora des Ökumenischen Wohnheims für Studierende
              <a href="https://www.uni-heidelberg.de/fakultaeten/theologie/oek/personen/nuessel.html" target="_self">&nbsp;<i class="fa fa-external-link"></i></a>
          </p>
      </div>
  </div>
  
 <div class="media">
      <div class="media-left pull-left">
        <img src="../static/images/about_us/board/schneidmueller.jpg" class="pull-left media-object beiratPortrait" alt="" />
      </div>
      <div class="media-body">
          <p class="media-heading"><strong>Bernd Schneidmüller</strong></p>
          <p class="beiratBeschreibung">
              Professor für Mittelalterliche Geschichte; Direktor des Instituts für Fränkisch-Pfälzische Geschichte und Landeskunde (FPI); Direktor des Marsilius-Kollegs der Universität Heidelberg
              <a href= "http://www.uni-heidelberg.de/fakultaeten/philosophie/zegk/histsem/mitglieder/ls_schneidmueller_kontakt.html" target="_self">&nbsp;<i class="fa fa-external-link"></i></a>
          </p>
      </div>
    </div>        

 <div class="media">
      <div class="media-left pull-left">
        <img src="../static/images/about_us/board/schultes.jpg" class="pull-left media-object beiratPortrait" alt="" />
      </div>
      <div class="media-body">
          <p class="media-heading"><strong>Kilian Schultes</strong> </p>
          <p class="beiratBeschreibung">Akademischer Oberrat, Historisches Seminar, Neue Medien und Geschichtswissenschaft
              <a href="https://www.uni-heidelberg.de/fakultaeten/philosophie/zegk/histsem/mitglieder/schultes.html" target="_self">&nbsp;<i class="fa fa-external-link"></i></a>
          </p>
      </div>
  </div>    
    
 <div class="media">
      <div class="media-left pull-left">
        <img src="../static/images/about_us/board/tosun.jpg" class="pull-left media-object beiratPortrait" alt="" />
      </div>
      <div class="media-body">
          <p class="media-heading"><strong>Jale Tosun</strong> </p>
          <p class="beiratBeschreibung">Professorin am Institut für Politische Wissenschaft 
              <a href="https://www.uni-heidelberg.de/politikwissenschaften/personal/tosun/person/" target="_self">&nbsp;<i class="fa fa-external-link"></i></a>
          </p>
      </div>
  </div>  
          
  </div>    
{{elif session.forced_language =='en': }}
<div class="box">
  
    <div class="media" style="margin-bottom: 1em">
            <div class="media-left pull-left">
          <img src="../static/images/about_us/board/bartelmann.jpg" class="pull-left media-object beiratPortrait" alt="" />
      </div>        
      <div class="media-body">
        <p class="media-heading"><strong>Matthias Bartelmann</strong></p>
          <p class="beiratBeschreibung">
                Professor for theoretical astrophysics, Institute for Theoretical Physics, Heidelberg University
              <a href="http://www.ita.uni-heidelberg.de/research/bartelmann/" target="_self">&nbsp;<i class="fa fa-external-link"></i></a>
          </p>
      </div>
    </div> 


    <div class="media" style="margin-bottom: 1em">
            <div class="media-left pull-left">
          <img src="../static/images/about_us/board/brosius.jpg" class="pull-left media-object beiratPortrait" alt="" />
      </div>        
      <div class="media-body">
        <p class="media-heading"><strong>Christiane Brosius</strong></p>
          <p class="beiratBeschreibung">
                Professor for Visual and Media Anthropology, Heidelberg Centre for Transcultural Studies (HCTS)
              <a href="http://www.asia-europe.uni-heidelberg.de/de/personen/person/persdetail/brosius.html" target="_self">&nbsp;<i class="fa fa-external-link"></i></a>
          </p>
      </div>
    </div> 

    <div class="media" style="margin-bottom: 1em">
            <div class="media-left pull-left">
              <img src="../static/images/about_us/board/cerwenka.jpg" class="pull-left media-object beiratPortrait" alt="" />
      </div>        
      <div class="media-body">
        <p class="media-heading"><strong>Adelheid Cerwenka</strong></p>
          <p class="beiratBeschreibung">
                Professor am Centrum für Biomedizin und Medizintechnik Mannheim 
              <a href="https://www.umm.uni-heidelberg.de/forschung/forschungsschwerpunkte/onkologie/mitglieder/adelheid-cerwenka/" target="_self">&nbsp;<i class="fa fa-external-link"></i></a>
          </p>
      </div>
    </div>

    <div class="media" style="margin-bottom: 1em">
            <div class="media-left pull-left">
            <img src="../static/images/about_us/board/felder.jpg" class="pull-left media-object beiratPortrait" alt="" />
      </div>        
      <div class="media-body">
        <p class="media-heading"><strong>Ekkehard Felder</strong></p>
          <p class="beiratBeschreibung">
            Professor für Germanistische Linguistik, Germanistisches Seminar, Universität Heidelberg <a href="https://www.gs.uni-heidelberg.de/sprache02/felder/" target="_self">&nbsp;<i class="fa fa-external-link"></i></a> /<br /> Europäisches Zentrum für Sprachwissenschaften (EZS) <a href="http://ezs-online.de/de/ueber-das-ezs/" title="Homepage Europäisches Zentrum für Sprachwissenschaften" target="_self">&nbsp;<i class="fa fa-external-link"></i></a>
          </p>
      </div>
    </div>
  
  
    <div class="media" style="margin-bottom: 1em">
            <div class="media-left pull-left">
              <img src="../static/images/about_us/board/fuhrmann_koch.jpg" class="pull-left media-object beiratPortrait" alt="" />
      </div>        
      <div class="media-body">
        <p class="media-heading"><strong>Marietta Fuhrmann-Koch</strong> </p>
          <p class="beiratBeschreibung">
              Head of Communications and Marketing, Heidelberg University
              <a href="https://www.uni-heidelberg.de/de/einrichtungen/rektorat/kommunikation-und-marketing" target="_self">&nbsp;<i class="fa fa-external-link"></i></a>
          </p>
      </div>
    </div>      

  
  <div class="media">
      <div class="media-left pull-left">
         <img src="../static/images/about_us/board/heermann.jpg" class="pull-left media-object beiratPortrait" alt=""/>
      </div>
      <div class="media-body">
          <p class="media-heading"><strong>Dieter Heermann</strong> </p>
          <p class="beiratBeschreibung">Professor of Theoretical Physics; Prorector for International Affairs, Heidelberg University
              <a href="http://wwwcp.tphys.uni-heidelberg.de/" target="_self">&nbsp;<i class="fa fa-external-link"></i></a>
          </p>
      </div>
  </div>
  
  

 <div class="media">
      <div class="media-left pull-left">
        <img src="../static/images/about_us/board/kanschat.jpg" class="pull-left media-object beiratPortrait" alt="" />
      </div>
      <div class="media-body">
          <p class="media-heading"><strong>Guido Kanschat</strong> </p>
          <p class="beiratBeschreibung">Professor of Scientific Computing, Heidelberg Interdisciplinary Center for Scientific Computing (IWR) 
              <a href="https://simweb.iwr.uni-heidelberg.de/~gkanscha/de/" target="_self">&nbsp;<i class="fa fa-external-link"></i></a>
          </p>
      </div>
  </div>

 <div class="media">
      <div class="media-left pull-left">
        <img src="../static/images/about_us/board/kirsch.jpg" class="pull-left media-object beiratPortrait" alt="" />
      </div>
      <div class="media-body">
          <p class="media-heading"><strong>Joachim Kirsch</strong> </p>
          <p class="beiratBeschreibung">Professor of Molecular Ecophysiology of Plants; Director, Centre for Organismal Studies; Director, Marsilius Kolleg, Heidelberg University
              <a href= "http://www.uni-heidelberg.de/izn/researchgroups/kirsch/" target="_self">&nbsp;<i class="fa fa-external-link"></i></a>
          </p>
      </div>
  </div>

 
  <div class="media">
      <div class="media-left pull-left"> 
         <img src="../static/images/about_us/board/nuessel.jpg" class="pull-left media-object beiratPortrait" alt="" />
      </div>
      <div class="media-body">
          <p class="media-heading"><strong>Friederike Nüssel</strong> </p>
          <p class="beiratBeschreibung">Professor of Systematic Theology; Director, Ecumenical Institute and Ecumenical Dormitory
              <a href="https://www.uni-heidelberg.de/fakultaeten/theologie/oek/personen/nuessel.html" target="_self">&nbsp;<i class="fa fa-external-link"></i></a>
          </p>
      </div>
  </div>
 

 <div class="media">
      <div class="media-left pull-left">
        <img src="../static/images/about_us/board/schneidmueller.jpg" class="pull-left media-object beiratPortrait" alt="" />
      </div>
      <div class="media-body">
          <p class="media-heading"><strong>Bernd Schneidmüller</strong> </p>
          <p class="beiratBeschreibung">
              Professor of Medieval History; Director, Institute of Frankish-Palatine History and Regional Studies (FPI); Director, Marsilius-Kolleg, Heidelberg University
              <a href="http://www.uni-heidelberg.de/fakultaeten/philosophie/zegk/histsem/mitglieder/ls_schneidmueller_kontakt.html" target="_self">&nbsp;<i class="fa fa-external-link"></i></a>
          </p>
      </div>
    </div>  
    
 <div class="media">
      <div class="media-left pull-left">
        <img src="../static/images/about_us/board/schultes.jpg" class="pull-left media-object beiratPortrait" alt="" />
      </div>
      <div class="media-body">
          <p class="media-heading"><strong>Kilian Schultes</strong> </p>
          <p class="beiratBeschreibung">Akademischer Oberrat, Historisches Seminar, Neue Medien und Geschichtswissenschaft 
              <a href="https://www.uni-heidelberg.de/fakultaeten/philosophie/zegk/histsem/mitglieder/schultes.html" target="_self">&nbsp;<i class="fa fa-external-link"></i></a>
          </p>
      </div>
  </div>    
    
 <div class="media">
      <div class="media-left pull-left">
        <img src="../static/images/about_us/board/tosun.jpg" class="pull-left media-object beiratPortrait" alt="" />
      </div>
      <div class="media-body">
          <p class="media-heading"><strong>Jale Tosun</strong> </p>
          <p class="beiratBeschreibung">Professor, Institut für Politische Wissenschaft 
              <a href="https://www.uni-heidelberg.de/politikwissenschaften/personal/tosun/person/" target="_self">&nbsp;<i class="fa fa-external-link"></i></a>
          </p>
      </div>
  </div>  

</div>

                {{pass}}


            </p>

        </div>
    </div>
  </div>  
                    