{{extend 'layout.html'}}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>  {{if session.forced_language =='de': }}
                Mission Statement
                {{elif session.forced_language =='en': }}
                Mission Statement
            {{pass}}
            </h3>

            <p>
                {{if session.forced_language =='de': }}
<h4>Exzellente Forschung sichtbar machen</h4>
<p>Heidelberg University Publishing steht für den freien Zugang zu hervorragenden wissenschaftlichen Publikationen. Wir begreifen die Möglichkeiten digitalen Publizierens als Auftrag, Forschungsergebnisse über Disziplingrenzen hinweg sichtbar zu machen. Das bedeutet für uns: Wir publizieren im Open Access, wir verfolgen eine konsequente e-Strategie, wir nutzen innovative digitale Publikationsformen und sichern die Qualität durchgängig durch ein Double-blind-Peer-Review-Verfahren. Darüber hinaus bieten wir unseren Autorinnen und Autoren die Veröffentlichung ihrer Schriften als hochwertiges gedrucktes Buch an. Für die Aufnahme eines Manuskripts in unseren Verlag ist nicht die Herkunft, sondern die Qualität der Publikation entscheidend.</p>

<p>Dem Konzept der Volluniversität entsprechend fördern wir aus disziplinärer Stärke heraus Formen des interdisziplinären Austauschs. Zu unserem Portfolio gehören vorrangig Monographien, Sammelbände/Proceedings und Lehrbücher. Mit Hilfe innovativer technischer Verfahren publizieren wir zudem wissenschaftliche Bildbände und multimediale Objekte. Dabei arbeiten wir eng mit nationalen und internationalen Partnern der Universität Heidelberg zusammen.</p>

{{elif session.forced_language =='en': }}
<h4>Excellent Research Made Visible</h4>
<p>The mission of Heidelberg University Publishing is to provide open access to outstanding academic publications. We see the opportunities afforded by digital publishing as a way to advance the visibility of research output beyond the confines of academic disciplines. For us, this means that we publish open access, follow a consistent e-strategy, use innovative digital publication formats, and ensure quality with double-blind peer review. In addition to electronic formats, we offer high-quality printed versions of all our titles. Our decision to accept a submission does not depend on its provenance, but on its quality.</p>

<p>In keeping with our role as a Comprehensive University, we facilitate forms of interdisciplinary exchange that grow from the strengths of our academic disciplines. Our portfolio includes primarily monographs, edited volumes/proceedings, and textbooks. We also use innovative technology to publish scholarly illustrated books and multimedia objects. In all these endeavors, we collaborate with various national and international partners of the university.</p>


                {{pass}}


            </p>

        </div>
    </div>
  </div>  
