{{extend 'layout.html'}}
<div id="content">
<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <h3>  {{if session.forced_language =='de': }}
                Profil
                {{elif session.forced_language =='en': }}
                 Profile
            {{pass}}
            </h3>

            
                {{if session.forced_language =='de': }}
<p>Mit der Gründung des Verlages Heidelberg University Publishing (heiUP) verfolgt die Universität Heidelberg das Ziel, ihrer Spitzenforschung ein Publikationsforum zu bieten, ohne dabei exzellente auswärtige Publikationen auszuschließen.XXX</p>
<p>Primäre Publikationsform ist die Online-Veröffentlichung in unterschiedlichen digitalen Formaten im Open Access. In Ergänzung zu den frei zugänglichen digitalen Formaten wird eine gedruckte Ausgabe angeboten (Print-on-Demand), die regulär über den Buchhandel bezogen werden kann.</p>
<p>heiUP veröffentlicht wissenschaftliche Monographien, Sammelbände und Zeitschriften in deutscher und englischer Sprache  sowie Forschungsdaten. Publikationsvorhaben, die die Möglichkeiten des Online-Publizierens (<em>enhanced publications</em>) nutzen, werden besonders begrüßt. Auch hervorragend bewertete Promotionsarbeiten sind willkommen. Nicht angenommen werden Bachelor- und Masterarbeiten sowie Manuskripte nicht graduierter Autorinnen und Autoren.</p> 
<p>Die wissenschaftliche Qualität der Manuskripte stellen wir durch ein standardisiertes Peer-Review-Verfahren sicher sowie durch eine enge Zusammenarbeit von Autor und Verlag bei der Vorbereitung der Publikation. heiUP unterstützt die Autoren durch ein qualitativ hochwertiges Lektorat in deutscher und englischer Sprache und durch professionellen Satz.</p>
<p>Organisatorisch angesiedelt ist der Verlag bei der Universitätsbibliothek Heidelberg als dem Kompetenzzentrum der Universität für die digitale Informationsversorgung.</p>        

                 {{elif session.forced_language =='en': }}
                
<p>With the founding of Heidelberg University Publishing (heiUP), the University of Heidelberg is pursuing the goal of providing a publication forum for its top-level research without excluding excellent external publications.</p>
<p>The primary form of publication is open access online, in various digital formats. In addition to the freely accessible digital formats, a printed version is available as usual from bookstores (Print-on-Demand).</p>
<p>heiUP publishes scientific monographs, edited volumes and journals in German and English, as well as research data. Publication projects that make use of the possibilities of online publishing (<em>enhanced publications</em>) are particularly welcome. Excellent doctoral theses are also welcome. Bachelor’s and Master’s theses and manuscripts by authors who have not graduated will not be accepted.</p>
<p>The scientific quality of the manuscripts is ensured by a standardised peer-review procedure, as well as by close cooperation between author and publisher while preparing for publication. heiUP supports authors with high-quality editing in German and English, and by professional typesetting.</p>
<p>heiUP is managed by the University Library, which serves as the university’s key competency center for supplying digital information.</p>            
{{pass}}


        </div>
        <div class="col-lg-3">
        <article>
        <div class="box">
	           <div class="box-gray" style="height: auto;">
             <h5>{{=T('Programme')}} 2019 / {{=T('Flyer')}}</h5>
               {{=IMG(_src=URL(myconf.take('web.application'),'static','/images/about_us/profile/cover_programm_flyer.png'),_alt='',_style='width:250px')}}<br /><br />
               <a class="btn btn-default btn-xs" href="/static/medien/heiUP_Programmheft2019.pdf" role="button" title="Download heiUP Programm 2019">Download {{=T('Programme')}}</a><br />
               <a class="btn btn-default btn-xs" href="/static/medien/heiUP_Flyer.pdf" role="button" title="Download heiUP Flyer">Download Flyer</a>
                
             </div>
        </div>        
        </article>
    </div>
  </div>
</div>
</div>