{{extend 'layout.html'}}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>  {{if session.forced_language =='de': }}
                Profil
                {{elif session.forced_language =='en': }}
                 Profile
            {{pass}}
            </h3>

            
                {{if session.forced_language =='de': }}
                <p>Mit der Gründung des Verlages Heidelberg University Publishing (heiUP) verfolgt die Universität Heidelberg das Ziel, ihrer Spitzenforschung ein Publikationsforum zu bieten, ohne dabei exzellente auswärtige Publikationen auszuschließen.</p>
                <p>Die Universität Heidelberg ist in Forschung und Lehre eine der führenden deutschen Universitäten. Ihr Fächerkanon umfasst mit Ausnahme der Ingenieurwissenschaften alle große Disziplinen, also die Geistes- und Sozialwissenschaften wie die Naturwissenschaften und die Medizin. Das jährliche Publikationsaufkommen der Universität liegt bei über 6.000 Veröffentlichungen.</p>

<h4>Heidelberg University Publishing gründet auf folgenden Leitgedanken:</h4>
          <ul class="standard">
            <li>Primäre Publikationsform ist die Online-Veröffentlichung in unterschiedlichen digitalen Formaten im Open Access. </li>
            <li>In Ergänzung zu den frei zugänglichen digitalen Formaten bietet heiUP eine kostenpflichtige Print-on-Demand-Veröffentlichung, die regulär über den Buchhandel bezogen werden kann.</li>
            <li>Alleiniges Publikationskriterium ist die vorzügliche wissenschaftliche Qualität des Manuskripts. Sie wird durch ein standardisiertes Peer-Review-Verfahren sichergestellt. </li>
            <li>Publikationssprachen sind Deutsch und Englisch.</li>
            <li>Während des Publikationsprozesses arbeiten Autoren und Verlag eng zusammen. heiUP unterstützt die Autoren durch ein qualitativ hochwertiges  Lektorat in deutscher und englischer Sprache.</li>
            <li>Veröffentlicht werden zunächst Monographien und Sammelbände, später auch Zeitschriften und Forschungsdaten. Die Gründung wissenschaftlicher Serien ist willkommen. </li>
            <li>Für alle Publikationsarten werden neue Online-Funktionalitäten entwickelt wie etwa Annotations- und Kommentierungsmöglichkeiten.</li>
        </ul>
        
<p>Organisatorisch angesiedelt ist der Verlag bei der Universitätsbibliothek Heidelberg als dem Kompetenzzentrum der Universität für die digitale Informationsversorgung.</p>        

                     {{elif session.forced_language =='en': }}
                
<p>Heidelberg University Publishing (heiUP) intends to offer a publishing forum for Heidelberg University’s most promising research while also welcoming high-quality external submissions. Heidelberg University is one of Germany’s leading universities in terms of both teaching and research. With the exception of engineering, all major academic disciplines—the humanities and social sciences, as well as the natural and life sciences—are represented on campus. The university’s annual publishing output comprises more than 6000 publications.</p>

<h4>Heidelberg University Publishing is based on the following principles:</h4>
<ul class="standard">
  <li>heiUP is an electronic-first, open access publisher that offers each work in various digital formats.</li>
  <li>In addition to the freely accessible digital formats, heiUP also offers print-on-demand hard copies, which can be purchased online or in regular book stores.</li>
  <li>The only criterion for publication is the high scholarly quality of the manuscript, which is ascertained through standardized peer-review.</li>
  <li>heiUP publishes works in English and German.</li>
  <li>During the publishing process, authors and publisher work closely together. heiUP supports authors with high-quality editing in German and English.</li>
  <li>Initially, heiUP will publish monographs and edited volumes; journals and research data will follow. New academic book series are welcome.</li>
  <li>heiUP develops new online functionalities, such as options for annotation and comments, for all publishing formats.</li>
  </ul>
<p>heiUP is managed by the University Library, which serves as the university’s key competency center for supplying digital information.</p>            
{{pass}}

        </div>
    </div>
</div>

