{{extend 'layout.html'}}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>Team</h3>
		</div>
	

                {{if session.forced_language =='de': }}
				
<div class="col-lg-12">				
	<div class="row">				
		<div class="col-lg-1">
			<img src="../static/images/about_us/team/probst.jpg" class="pull-left media-object beiratPortrait" alt="" />
		</div>
		<div class="col-lg-11">
			<h4 class="team_titel">Verlagsleitung</h4>
			<strong>Dr. Veit Probst</strong><br>
			Universitätsbibliothek Heidelberg<br>
			Plöck 107-109<br>
			69117 Heidelberg<br>
			Telefon: +49 6221 54 2380<br>
			Fax: +49 6221 54 2623<br>
			Mail: <a href="mailto:probst@ub.uni-heidelberg.de" title="Mail an Dr. Veit Probst">probst@ub.uni-heidelberg.de</a>
		</div>
	</div>
		
	<div class="row">				
		<div class="col-lg-1">
			<img src="../static/images/about_us/team/effinger.jpg" class="pull-left media-object beiratPortrait" alt="" />
		</div>
		<div class="col-lg-11">
			<h4 class="team_titel">Geschäftsführung</h4>
			<strong>Dr. Maria Effinger</strong> <a href="http://www.ub.uni-heidelberg.de/allg/Mitarbeiter/effinger.html" target="_self">&nbsp;<i class="fa fa-external-link"></i></a><br>
			Telefon: +49 6221 54 3561<br>
			Fax: +49 6221 54 2623<br>
			Mail: <a href="mailto:effinger@ub.uni-heidelberg.de" title="Mail an Dr. Maria Effinger">effinger@ub.uni-heidelberg.de</a>
		</div>
	</div>
	<br><br>
	<div class="row">				
		<div class="col-lg-1">
		</div>
		<div class="col-lg-11">			
			<h4 class="team_titel">Redaktion und Lektorat </h4>
			<strong>Anja Konopka</strong><br>
			Telefon: +49 6221 54 2569<br>
			Fax: +49 6221 54 2623<br>
			Mail: <a href="mailto:konopka@ub.uni-heidelberg.de" title="Mail an Anja Konopka">konopka@ub.uni-heidelberg.de</a>
		</div>
	</div>
	
	
	<div class="row">				
		<div class="col-lg-1">
		</div>
		<div class="col-lg-11">
			<h4 class="team_titel">Herstellung, Satz und Covergestaltung</h4>
			<strong>Daniela Jakob</strong><br>
			Telefon: +49 6221 54 3992<br>
			Fax: +49 6221 54 2623<br>
			Mail: <a href="mailto:jakob@ub.uni-heidelberg.de" title="Mail an Daniela Jakob">jakob@ub.uni-heidelberg.de</a><br><br>

			<strong>Frank Krabbes</strong><br>
			Telefon: +49 6221 54 3652<br>
			Fax: +49 6221 54 2623<br>
			Mail: <a href="mailto:krabbes@ub.uni-heidelberg.de" title="Mail an Frank Krabbes">krabbes@ub.uni-heidelberg.de</a>
		</div>
	</div>
  
  <div class="row">				
		<div class="col-lg-1">
		</div>
		<div class="col-lg-11">
			<h4 class="team_titel">Bestellungen und Vertrieb</h4>
			<strong>Johanna Hildenbeutel</strong><br>
			Telefon: +49 6221 54 4877<br>
			Fax: +49 6221 54 2623<br>
			Mail: <a href="mailto:heiup-orders@ub.uni-heidelberg.de" title="Mail an Bestellungen und Vertrieb">heiup-orders@ub.uni-heidelberg.de</a><br><br>
			
			<strong>Myriam Rausch</strong><br>
			Telefon: +49 6221 54 2383<br>
			Fax: +49 6221 54 2623<br>
			Mail: <a href="mailto:heiup-orders@ub.uni-heidelberg.de" title="Mail an Bestellungen und Vertrieb">heiup-orders@ub.uni-heidelberg.de</a><br><br>
		</div>
	</div>
    
	<div class="row">				
		<div class="col-lg-1">
		</div>
		<div class="col-lg-11">
			<h4 class="team_titel">IT-Entwicklungsleitung</h4>
			<p><strong>Nils Weiher</strong><br>
			Telefon: +49 6221 54 3092<br>
			Mail: <a href="mailto:weiher@ub.uni-heidelberg.de" title="Mail an Nils Weiher">weiher@ub.uni-heidelberg.de</a></p>
		</div>
	</div>      
	
</div>	
                       

{{elif session.forced_language =='en': }}


<div class="col-lg-12">				
	<div class="row">				
		<div class="col-lg-1">
			<img src="../static/images/about_us/team/probst.jpg" class="pull-left media-object beiratPortrait" alt="" />
		</div>
		<div class="col-lg-11">
			<h4 class="team_titel">Publishing Director</h4>
			<strong>Dr. Veit Probst</strong><br>
			Heidelberg University Library<br>
			Plöck 107-109<br>
			69117 Heidelberg<br>
			Telephone: +49 6221 54 2380<br>
			Fax: +49 6221 54 2623<br>
			E-Mail: <a href="mailto:probst@ub.uni-heidelberg.de" title="Mail to Dr. Veit Probst">probst@ub.uni-heidelberg.de</a>
		</div>
	</div>
		
	<div class="row">				
		<div class="col-lg-1">
			<img src="../static/images/about_us/team/effinger.jpg" class="pull-left media-object beiratPortrait" alt="" />
		</div>
		<div class="col-lg-11">
			<h4 class="team_titel">Managing Director</h4>
			<strong>Dr. Maria Effinger</strong> <a href="http://www.ub.uni-heidelberg.de/Englisch/allg/Mitarbeiter/effinger.html" target="_self">&nbsp;<i class="fa fa-external-link"></i></a><br>
			Telephone: +49 6221 54 3561<br>
			Fax: +49 6221 54 2623<br>
			E-Mail: <a href="mailto:effinger@ub.uni-heidelberg.de" title="Mail to Dr. Maria Effinger">effinger@ub.uni-heidelberg.de</a>
		</div>
	</div>
	<br><br>
	<div class="row">				
		<div class="col-lg-1">
		</div>
		<div class="col-lg-11">
			<h4 class="team_titel">Editing and Copy-Editing</h4>
			<strong>Anja Konopka</strong><br>
			Telephone: +49 6221 54 2569<br>
			Fax: +49 6221 54 2623<br>
			E-Mail: <a href="mailto:konopka@ub.uni-heidelberg.de" title="Mail to Anja Konopka">konopka@ub.uni-heidelberg.de</a>
		</div>
	</div>
	
	<div class="row">				
		<div class="col-lg-1">
		</div>
		<div class="col-lg-11">
			<h4 class="team_titel">Editorial Assistance</h4>
			<strong>Myriam Rausch</strong><br>
			Telephone: +49 6221 54 2383<br>
			Fax: +49 6221 54 2623<br>
			E-Mail: <a href="mailto:rausch@ub.uni-heidelberg.de" title="Mail to Myriam Rausch">rausch@ub.uni-heidelberg.de</a>
		</div>
	</div>
	
	<div class="row">				
		<div class="col-lg-1">
		</div>
		<div class="col-lg-11">
			<h4 class="team_titel">Production, Typesetting and Cover Design</h4>
			<strong>Daniela Jakob</strong><br>
			Telephone: +49 6221 54 3992<br>
			Fax: +49 6221 54 2623<br>
			E-Mail: <a href="mailto:jakob@ub.uni-heidelberg.de" title="Mail to Daniela Jakob">jakob@ub.uni-heidelberg.de</a><br><br>

			<p><strong>Frank Krabbes</strong><br>
			Telephone: +49 6221 54 3652<br>
			Fax: +49 6221 54 2623<br>
			E-Mail: <a href="mailto:krabbes@ub.uni-heidelberg.de" title="Mail to Frank Krabbes">krabbes@ub.uni-heidelberg.de</a>
		</div>
	</div>
  
  <div class="row">				
		<div class="col-lg-1">
		</div>
		<div class="col-lg-11">
			<h4 class="team_titel">Orders and Distribution</h4>
			<h4 class="team_titel">Bestellungen und Vertrieb</h4>
			<strong>Johanna Hildenbeutel</strong><br>
			Telephone: +49 6221 54 4877<br>
			Fax: +49 6221 54 2623<br>
			E-Mail: <a href="mailto:heiup-orders@ub.uni-heidelberg.de" title="Mail an Bestellungen und Vertrieb">heiup-orders@ub.uni-heidelberg.de</a><br><br>			
			<strong>Myriam Rausch</strong><br>
			Telephone: +49 6221 54 2383<br>
			Fax: +49 6221 54 2623<br>
			E-Mail: <a href="mailto:heiup-orders@ub.uni-heidelberg.de" title="Mail to heiup-orders">heiup-orders@ub.uni-heidelberg.de</a><br><br>
		</div>
	</div>
    
	<div class="row">				
		<div class="col-lg-1">
		</div>
		<div class="col-lg-11">
			<h4 class="team_titel">Lead IT developer</h4>
			<p><strong>Nils Weiher</strong><br>
			Telephone: +49 6221 54 3092<br>
			E-Mail: <a href="mailto:weiher@ub.uni-heidelberg.de" title="Mail to Nils Weiher">weiher@ub.uni-heidelberg.de</a>
		</div>
	</div>    
	
	
</div>	                   

                {{pass}}


        
    </div>
  </div>  
