{{extend 'layout.html'}}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>Team</h3>
		</div>
	

                {{if session.forced_language =='de': }}
				
<div class="col-lg-12">				
	<div class="row">				
		<div class="col-lg-1">
			<img src="../static/images/about_us/team/probst.jpg" class="pull-left media-object beiratPortrait" alt="" />
		</div>
		<div class="col-lg-11">
			<h4 class="team_titel">Verlagsleitung</h4>
			<strong>Dr. Veit Probst</strong><br>
			Universitätsbibliothek Heidelberg<br>
			Plöck 107-109<br>
			69117 Heidelberg<br>
			Telefon: +49 6221 54 2380<br>
			Fax: +49 6221 54 2623<br>
			Mail: probst@ub.uni-heidelberg.de
		</div>
	</div>
		
	<div class="row">				
		<div class="col-lg-1">
			<img src="../static/images/about_us/team/effinger.jpg" class="pull-left media-object beiratPortrait" alt="" />
		</div>
		<div class="col-lg-11">
			<h4 class="team_titel">Geschäftsführung</h4>
			<strong>Dr. Maria Effinger</strong><br>
			Telefon: +49 6221 54 3561<br>
			Fax: +49 6221 54 2623<br>
			Mail: effinger@ub.uni-heidelberg.de
		</div>
	</div>
	<br><br>
	<div class="row">				
		<div class="col-lg-1">
		</div>
		<div class="col-lg-11">			
			<h4 class="team_titel">Redaktion und Lektorat </h4>
			<strong>Anja Konopka</strong><br>
			Telefon: +49 6221 54 2569<br>
			Fax: +49 6221 54 2623<br>
			Mail: konopka@ub.uni-heidelberg.de
		</div>
	</div>
	
	<div class="row">				
		<div class="col-lg-1">
		</div>
		<div class="col-lg-11">
			<h4 class="team_titel">Verlagsassistenz</h4>
			<strong>Myriam Rausch</strong><br>
			Telefon: +49 6221 54 2383<br>
			Fax: +49 6221 54 2623<br>
			Mail: rausch@ub.uni-heidelberg.de
		</div>
	</div>
	
	<div class="row">				
		<div class="col-lg-1">
		</div>
		<div class="col-lg-11">
			<h4 class="team_titel">Herstellung, Satz und Covergestaltung</h4>
			<strong>Daniela Jakob</strong><br>
			Telefon: +49 6221 54 3992<br>
			Fax: +49 6221 54 2623<br>
			Mail: jakob@ub.uni-heidelberg.de<br><br>

			<strong>Frank Krabbes</strong><br>
			Telefon: +49 6221 54 2569<br>
			Fax: +49 6221 54 2623<br>
			Mail: krabbes@ub.uni-heidelberg.de
		</div>
	</div>
	
	<div class="row">				
		<div class="col-lg-1">
		</div>
		<div class="col-lg-11">
			<h4 class="team_titel">Softwareentwicklung</h4>
			<strong>Dulip Withanage</strong><br>
			Telefon: +49 6221 54 3234<br>
			Fax: +49 6221 54 2623<br>
			Mail: withanage@ub.uni-heidelberg.de
		</div>
	</div>
	
</div>	
                       

{{elif session.forced_language =='en': }}


<div class="col-lg-12">				
	<div class="row">				
		<div class="col-lg-1">
			<img src="../static/images/about_us/team/probst.jpg" class="pull-left media-object beiratPortrait" alt="" />
		</div>
		<div class="col-lg-11">
			<h4 class="team_titel">Publishing Director</h4>
			<strong>Dr. Veit Probst</strong><br>
			Heidelberg University Library<br>
			Plöck 107-109<br>
			69117 Heidelberg<br>
			Telephone: +49 6221 54 2380<br>
			Fax: +49 6221 54 2623<br>
			E-Mail: probst@ub.uni-heidelberg.de
		</div>
	</div>
		
	<div class="row">				
		<div class="col-lg-1">
			<img src="../static/images/about_us/team/effinger.jpg" class="pull-left media-object beiratPortrait" alt="" />
		</div>
		<div class="col-lg-11">
			<h4 class="team_titel">Managing Director</h4>
			<strong>Dr. Maria Effinger</strong><br>
			Telephone: +49 6221 54 3561<br>
			Fax: +49 6221 54 2623<br>
			E-Mail: effinger@ub.uni-heidelberg.de
		</div>
	</div>
	<br><br>
	<div class="row">				
		<div class="col-lg-1">
		</div>
		<div class="col-lg-11">
			<h4 class="team_titel">Editing and Copy-editing</h4>
			<strong>Anja Konopka</strong><br>
			Telephone: +49 6221 54 2569<br>
			Fax: +49 6221 54 2623<br>
			E-Mail: konopka@ub.uni-heidelberg.de
		</div>
	</div>
	
	<div class="row">				
		<div class="col-lg-1">
		</div>
		<div class="col-lg-11">
			<h4 class="team_titel">Publishing Assistance</h4>
			<strong>Myriam Rausch</strong><br>
			Telephone: +49 6221 54 2383<br>
			Fax: +49 6221 54 2623<br>
			E-Mail: rausch@ub.uni-heidelberg.de
		</div>
	</div>
	
	<div class="row">				
		<div class="col-lg-1">
		</div>
		<div class="col-lg-11">
			<h4 class="team_titel">Production, Typesetting and Cover Design</h4>
			<strong>Daniela Jakob</strong><br>
			Telephone: +49 6221 54 3992<br>
			Fax: +49 6221 54 2623<br>
			E-Mail: jakob@ub.uni-heidelberg.de<br><br>

			<p><strong>Frank Krabbes</strong><br>
			Telephone: +49 6221 54 2569<br>
			Fax: +49 6221 54 2623<br>
			E-Mail: krabbes@ub.uni-heidelberg.de
		</div>
	</div>
	
	<div class="row">				
		<div class="col-lg-1">
		</div>
		<div class="col-lg-11">
			<h4 class="team_titel">Software Development</h4>
			<strong>Dulip Withanage</strong><br>
			Telephone: +49 6221 54 3234<br>
			Fax: +49 6221 54 2623<br>
			E-Mail: withanage@ub.uni-heidelberg.de
		</div>
	</div>
	
</div>	                   

                {{pass}}


        
    </div>
  </div>  
