{{extend 'layout.html'}}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>  {{if session.forced_language =='de': }}
                Verlagsleitung
                {{elif session.forced_language =='en': }}
              Publishing Director
            {{pass}}
            </h3>

            <p>
                {{if session.forced_language =='de': }}

<p><strong>Dr. Veit Probst</strong><br>
Universitätsbibliothek Heidelberg<br>
Plöck 107-109<br>
69117 Heidelberg<br>
Telefon: +49 6221 54 2380<br>
Fax: +49 6221 54 2623<br>
Mail: probst@ub.uni-heidelberg.de</p>

<p><strong>Dr. Maria Effinger (Geschäftsführerin)</strong><br>
Telefon: +49 6221 54 3561<br>
Fax: +49 6221 54 2623<br>
Mail: effinger@ub.uni-heidelberg.de</p>

<p><strong>Daniela Jakob</strong><br>
Telefon: +49 6221 54 3992<br>
Fax: +49 6221 54 2623<br>
Mail: jakob@ub.uni-heidelberg.de</p>

<p><strong>Anja Konopka</strong><br>
Telefon: +49 6221 54 2569<br>
Fax: +49 6221 54 2623<br>
Mail: konopka@ub.uni-heidelberg.de</p>

<p><strong>Frank Krabbes</strong><br>
Telefon: +49 6221 54 2569<br>
Fax: +49 6221 54 2623<br>
Mail: krabbes@ub.uni-heidelberg.de</p>

<p><strong>Myriam Rausch</strong><br>
Telefon: +49 6221 54 2383<br>
Fax: +49 6221 54 2623<br>
Mail: rausch@ub.uni-heidelberg.de</p>

<p><strong>Dulip Withanage</strong><br>
Telefon: +49 6221 54 3234<br>
Fax: +49 6221 54 2623<br>
Mail: withanage@ub.uni-heidelberg.de</p>
<br>
                       

{{elif session.forced_language =='en': }}


<p><strong>Dr. Veit Probst</strong><br>
Heidelberg University Library<br>
Plöck 107-109<br>
69117 Heidelberg<br>
Telephone: +49 6221 54 2380<br>
Fax: +49 6221 54 2623<br>
E-Mail: probst@ub.uni-heidelberg.de</p>

<p><strong>Dr. Maria Effinger (Managing Director)</strong><br>
Telephone: +49 6221 54 3561<br>
Fax: +49 6221 54 2623<br>
E-Mail: effinger@ub.uni-heidelberg.de</p>

<p><strong>Daniela Jakob</strong><br>
Telephone: +49 6221 54 3992<br>
Fax: +49 6221 54 2623<br>
E-Mail: jakob@ub.uni-heidelberg.de</p>

<p><strong>Anja Konopka</strong><br>
Telephone: +49 6221 54 2569<br>
Fax: +49 6221 54 2623<br>
E-Mail: konopka@ub.uni-heidelberg.de</p>

<p><strong>Frank Krabbes</strong><br>
Telephone: +49 6221 54 2569<br>
Fax: +49 6221 54 2623<br>
E-Mail: krabbes@ub.uni-heidelberg.de</p>

<p><strong>Myriam Rausch</strong><br>
Telephone: +49 6221 54 2383<br>
Fax: +49 6221 54 2623<br>
E-Mail: rausch@ub.uni-heidelberg.de</p>

<p><strong>Dulip Withanage</strong><br>
Telephone: +49 6221 54 3234<br>
Fax: +49 6221 54 2623<br>
E-Mail: withanage@ub.uni-heidelberg.de</p>
<br>
                       

                {{pass}}


            </p>

        </div>
    </div>
  </div>  
