{{extend 'layout.html'}}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>  {{ if session.forced_language =='de': }}
              Eingesetzte Technik
                {{elif session.forced_language =='en': }}
              Applied technology
            {{pass}}
            </h3>

{{ if session.forced_language =='de': }}

        <div id="infoBoxRechts" class="col-lg-3">
		  <div class="box">
			<div class="box-gray" style="height: auto; padding-bottom: 20px;">
			  <p class="boxText"><b>Literaturhinweis:</b><br>

				 Effinger, Maria; Krabbes, Frank; Withanage, Dulip: <a href="https://www.b-i-t-online.de/heft/2018-05-fachbeitrag-effinger.pdf" title="Artikel bei B.I.T.-Online">Crossmediales Publizieren bei Heidelberg University Publishing</a>. In: BIT online Bd. 21. Wiesbaden, b.i.t. Verlag.-GmbH (2018), Nr. 5, S. 393-403

			  </p>
			</div>
		  </div>
		</div>

		<p>Heidelberg University Publishing (heiUP) setzt auf Open-Source-Software und beteiligt sich an der Entwicklung von innovativen Publikationstechnologien. Hierzu zählt die Entwicklung von Software genauso wie die Kooperation mit Partnern wie dem <a class="extern" href="https://pkp.sfu.ca" title="Homepage Public Knowledge Project">Public Knowledge Project (PKP)&nbsp;<i class="fa fa-external-link"></i></a> und die aktive Mitwirkung in internationalen und nationalen Anwendernetzwerken (z.B. <a class="extern" href="http://ojs-de.net" title="Homepage OJS-Initiative ojs-de.net">OJS-de.net&nbsp;<i class="fa fa-external-link"></i></a>).</p>

		<h5>Backend</h5>
		<ul>
		  <li>Monographien und Sammelbände: <a href="https://pkp.sfu.ca/omp/" title="Homepage Open Monograph Press">Open Monograph Press (OMP)&nbsp;<i class="fa fa-external-link"></i></a></li>
		  <li>Zeitschriften: <a href="https://pkp.sfu.ca/ojs/" title="Homepage Open Journal Systems">Open Journal Systems (OJS)&nbsp;<i class="fa fa-external-link"></i></a></li>
		  <li>Datenbank: <a href="https://www.mysql.com" title="Homepage MySQL">Oracle MySQL</a>&nbsp;<i class="fa fa-external-link"></i></li>
		</ul>

		<h5>Frontend</h5>
		<ul>
		  <li>Python-basiertes Framework für Web-Applikationen  <a href="http://www.web2py.com" title="Homepage Web2py">Web2py&nbsp;<i class="fa fa-external-link"></i></a></li>
		  <li>HTML, CSS, responsives Design via <a href="https://getbootstrap.com" title="Homepage Bootstrap">Twitter Bootstrap&nbsp;<i class="fa fa-external-link"></i></a></li>
		  <li>Übergreifende Suche: <a href="https://lucene.apache.org/solr/" title="Homepage Apache Solr index">Apache Solr&nbsp;<i class="fa fa-external-link"></i></a></li>
		  <li>Online-Leseumgebung: <a href="https://github.com/elifesciences/lens" title="Homepage Github, Projekt Lens Viewer">eLife Lens&nbsp;<i class="fa fa-external-link"></i></a></li> 
		</ul>

		<h5>Schnittstellen</h5>
		<ul>
		  <li><a href="https://dini.de/dienste-projekte/projekte/oa-statistik/" title="Homepage OA Statistik">Open-Access-Statistik&nbsp;<i class="fa fa-external-link"></i></a></li> 
		  <li><a href="https://www.vgwort.de/startseite.html" title="Homepage VG Wort">VG Wort&nbsp;<i class="fa fa-external-link"></i></a></li>
		</ul>


		<h5>Satz und Layout</h5>
		<ul>
		 <li><a href="https://www.adobe.com/de/products/indesign.html" title="Homepage Adobe; Produktinformationen Adobe InDesign">Adobe InDesign&nbsp;<i class="fa fa-external-link"></i></a> für manuellen Satz und Covergestaltung</li>
		 <li><a href="(https://www.antennahouse.com/formatter-v7" title="Homepage AntennaHouse">AntennaHouse Formatter&nbsp;<i class="fa fa-external-link"></i></a> für automatischen Satz im XML-First-Workflow</li>
		</ul> 
		
		<h5>XML-Workflow</h5>
		<ul>
		   <li><a href="https://jats.nlm.nih.gov" title="Homepage JATS">Journal Article and Interchange Tag Set&nbsp;<i class="fa fa-external-link"></i></a> (JATS) und Book Interchange Tag Set JATS Extension (BITS)</li>
           <li><a href="https://www.w3.org/TR/xsl/#fo-section" title="Link zu W3.org">XSL Formatting Objects&nbsp;<i class="fa fa-external-link"></i></a> (XSL-FO) mit <a href="https://www.docs.antennahouse.com/formatter/ahf-ext.html" title="Homnepage AntennaHouse">AntennaHouse-Erweiterungen&nbsp;<i class="fa fa-external-link"></i></a></li>
           <li><a href="https://github.com/MartinPaulEve/meTypeset" title="Projekt auf Github">meTypeset&nbsp;<i class="fa fa-external-link"></i></a> für die XML-Konvertierung </li>
		</ul>
		
{{elif session.forced_language =='en': }}
        <div id="infoBoxRechts" class="col-lg-3">
		  <div class="box">
			<div class="box-gray" style="height: auto; padding-bottom: 20px;">
			  <p class="boxText"><b>Further reference:</b><br>

				 Effinger, Maria; Krabbes, Frank; Withanage, Dulip: <a href="https://www.b-i-t-online.de/heft/2018-05-fachbeitrag-effinger.pdf" title="Artikel bei B.I.T.-Online">Crossmediales Publizieren bei Heidelberg University Publishing</a>. In: BIT online Bd. 21. Wiesbaden, b.i.t. Verlag.-GmbH (2018), Nr. 5, S. 393-403

			  </p>
			</div>
		  </div>
		</div>

		<p>Heidelberg University Publishing (heiUP) uses Open-Source-Software and participates in the development of innovative publication technology.  This includes software development as well as co-operation with partners such as the <a class="extern" href="https://pkp.sfu.ca" title="Homepage Public Knowledge Project">Public Knowledge Project (PKP)&nbsp;<i class="fa fa-external-link"></i></a> and active participation in national and international user networks (e.g. <a class="extern" href="http://ojs-de.net" title="Homepage OJS-Initiative ojs-de.net">OJS-de.net&nbsp;<i class="fa fa-external-link"></i></a>).</p>

		<h5>Backend</h5>
		<ul>
		  <li>Monographs and collected volumes: <a href="https://pkp.sfu.ca/omp/" title="Homepage Open Monograph Press">Open Monograph Press (OMP)&nbsp;<i class="fa fa-external-link"></i></a></li>
		  <li>Journals: <a href="https://pkp.sfu.ca/ojs/" title="Homepage Open Journal Systems">Open Journal Systems (OJS)&nbsp;<i class="fa fa-external-link"></i></a></li>
		  <li>Database: <a href="https://www.mysql.com" title="Homepage MySQL">Oracle MySQL</a>&nbsp;<i class="fa fa-external-link"></i></li>
		</ul>


		<h5>Frontend</h5>
		<ul>
		  <li>Python-based framework for web applications <a href="http://www.web2py.com" title="Homepage Web2py">Web2py&nbsp;<i class="fa fa-external-link"></i></a></li>
		  <li>HTML, CSS, responsive design using <a href="https://getbootstrap.com" title="Homepage Bootstrap">Twitter Bootstrap&nbsp;<i class="fa fa-external-link"></i></a></li>
		  <li>Comprehensive searching: <a href="https://lucene.apache.org/solr/" title="Homepage Apache Solr index">Apache Solr&nbsp;<i class="fa fa-external-link"></i></a></li>
		  <li>Online reading environment: <a href="https://github.com/elifesciences/lens" title="Homepage Github, Projekt Lens Viewer">eLife Lens&nbsp;<i class="fa fa-external-link"></i></a></li> 
		</ul>

		<h5>Interfaces</h5>
		<ul>
		  <li><a href="https://dini.de/dienste-projekte/projekte/oa-statistik/" title="Homepage DINI - project OA Statistik">Open-Access-Statistik&nbsp;<i class="fa fa-external-link"></i></a></li> 
		  <li><a href="https://www.vgwort.de/startseite.html" title="Homepage VG Wort">VG Wort&nbsp;<i class="fa fa-external-link"></i></a></li>
		</ul>

		<h5>Typesetting and Layout</h5>
		<ul>
		 <li><a href="https://www.adobe.com/de/products/indesign.html" title="Homepage Adobe; Product information Adobe InDesign">Adobe InDesign&nbsp;<i class="fa fa-external-link"></i></a> is used for manual typesetting and cover design.</li>
		 <li><a href="(https://www.antennahouse.com/formatter-v7" title="Homepage AntennaHouse">AntennaHouse Formatter<i class="fa fa-external-link"></i></a> for automatic typesetting in XML-First-Workflow</li>
		</ul> 
		
		<h5>XML workflow</h5>
		<ul>
		   <li><a href="https://jats.nlm.nih.gov" title="Homepage JATS">Journal Article and Interchange Tag Set&nbsp;<i class="fa fa-external-link"></i></a> (JATS) and Book Interchange Tag Set JATS Extension (BITS)</li>
           <li><a href="https://www.w3.org/TR/xsl/#fo-section" title="Link zu W3.org">XSL Formatting Objects&nbsp;<i class="fa fa-external-link"></i></a> (XSL-FO) with <a href="https://www.docs.antennahouse.com/formatter/ahf-ext.html" title="Homnepage AntennaHouse">AntennaHouse-Erweiterungen&nbsp;<i class="fa fa-external-link"></i></a></li>
           <li><a href="https://github.com/MartinPaulEve/meTypeset" title="Projekt auf Github">meTypeset&nbsp;<i class="fa fa-external-link"></i></a> for XML conversion </li>
		</ul>
{{pass}}
</div>  


        </div>
   </div>
</div>     