
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(../fonts/normal-400.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'),  url(../fonts/normal-600.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: local('Source Sans Pro Italic'), local('SourceSansPro-It'),  url(../fonts/italic-400.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 600;
  src: local('Source Sans Pro Semibold Italic'), local('SourceSansPro-SemiboldIt'), url(../fonts/italic-600.ttf) format('truetype');
}

/**gandhari**/

@font-face {
  font-family: 'Gandhari Unicode';
  font-style: normal;
  font-weight: 400;
  src: local('Gandhari Unicode'), local('GandhariUnicode'), url(../fonts/gur.ttf) format('truetype');
}
@font-face {
  font-family: 'Gandhari Unicode';
  font-style: normal;
  font-weight: 400;
  src: local('Gandhari Unicode Bold'),local('GandhariUnicodeBold'), url(../fonts/gub.ttf) format('truetype');
}
@font-face {
  font-family: 'Gandhari Unicode';
  font-style: italic;
  font-weight: 400;
  src: local('Gandhari Unicode Italic'), local('GandhariUnicodeItalic'), url(../fonts/gui.ttf) format('truetype');
}
@font-face {
  font-family: 'Gandhari Unicode';
  font-style: italic;
  font-weight: 400;
  src: local('Gandhari Unicode Italic Bold'),local('GandhariUnicodeItalicBold'), url(../fonts/gubi.ttf) format('truetype');
}
