{{extend 'layout.html'}}
{{=BR()}}
{{=H1(T("Browse Author Index"))}}
<div class="btn-group">
{{
for i in index:
        css_class = "btn btn-danger" if searchInitial==i else "btn btn-default"
        =A(i,_href=URL('authors',vars=dict(searchInitial=i)),_class=css_class)
pass
=A(T('All'),_href=URL('authors'),_class="btn btn-default")
}}
</div>
{{=BR()}}
{{=BR()}}
{{last_letter=''}}
{{last_author=''}}
{{submission_array=[]}}
{{for a in authors:
        current_letter = a['last_name'][:1].upper()
        current_author = a['last_name']+'+'+a['first_name']
        if  current_letter !=  last_letter:
        =H5(current_letter)
        pass
        last_letter = current_letter

        if  current_author !=  last_author:

          			       
            if len(submission_array)>0:
                ='('
                for i,s in enumerate(submission_array):
                =(A(SPAN(_class="glyphicon glyphicon-new-window small"),' ',_href=URL('catalog','book',args=s)))
                pass
                =')'
                 

            pass

            =(A(a['last_name'],', ',a['first_name'],' ',_href=URL('catalog','book',args=a['submission_id'])))
           =BR()
	
          

            del submission_array[:]
        else:
            submission_array.append(a['submission_id'])
        pass

         last_author = current_author





pass
}}

