  {{extend 'layout.html'}} 
<script type="text/javascript" charset="utf-8">
$(window).on("load", function() {
$('.flexslider').flexslider();
}); 
</script> 
<div class="container">
  <!-- end header -->
  <section id="featured">
    <!-- start slider -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <!-- Slider -->
          <div id="main-slider" class="flexslider">
            <ul class="slides">
              <li>{{if session.forced_language =='de': }} 
              <img alt="" src="{{=URL('static','images/press/slideshow/01_claim_tablet.de.jpg')}}" />
              <div class="flex-caption hidden-xs hidden-sm"><h3>{{=T('Das Profil von heiUP')}} </h3>
                {{=A(T('More'),_href=URL('about_us','profile'), _class='btn btn-theme')}}
                <!--<a href="./about_us/profile.html" class="btn btn-theme">Mehr</a>-->
              </div>{{elif session.forced_language =='en': }} 
              <img alt="" src="{{=URL('static','images/press/slideshow/01_claim_tablet.en.jpg')}}" />
              <div class="flex-caption hidden-xs hidden-sm"><h3>{{=T('heiUP Profile')}}</h3>
                {{=A(T('More Information'),_href=URL('about_us','profile'), _class='btn btn-theme')}}
                <!--<a href="./about_us/profile.html" class="btn btn-theme">More Information</a>-->
              </div>{{pass}} 
              </li>
              <li>
              <img alt="" src="{{=URL('static','images/press/slideshow/02_troelenberg.jpg')}}" />
              <div class="flex-caption hidden-xs hidden-sm">
{{if session.forced_language =='de': }}                 
                <h3>Troelenberg, Schankweiler, Messner (Hrsg.)<br />Reading Objects in the Contact Zone</h3>
{{elif session.forced_language =='en': }}                 
                <h3>Troelenberg, Schankweiler, Messner (Eds.)<br />Reading Objects in the Contact Zone</h3>  
{{pass}}                               
                {{=A(T('More'),_href=URL('catalog','book/766'), _class='btn btn-theme')}}    
              </div>
              </li>                            
              <li>
              <img alt="" src="{{=URL('static','images/press/slideshow/03_bonner.jpg')}}" />
              <div class="flex-caption hidden-xs hidden-sm">
{{if session.forced_language =='de': }}                  
                <h3 style="font-size: 23px">Marc Bonner (Hrsg.)<br />Game | World | Architectonics</h3>
{{elif session.forced_language =='en': }}   
                <h3 style="font-size: 23px">Marc Bonner (Eds.)<br />Game | World | Architectonics</h3>
{{pass}}                 
                {{=A(T('More'),_href=URL('catalog','book/752'), _class='btn btn-theme')}}    
              </div>              
              </li> 
              <li>
              <img alt="" src="{{=URL('static','images/press/slideshow/04_fabian.jpg')}}" />
              <div class="flex-caption hidden-xs hidden-sm">
{{if session.forced_language =='de': }}                
              
              <h3 style="font-size: 23px">Fabian, Mücke, Thomsen-Fürst (Hrsg.)<br />Johann Stamitz und die europäische Musikermigration im 18. Jahrhundert</span></h3>
{{elif session.forced_language =='en': }}                 
              <h3 style="font-size: 23px">Fabian, Mücke, Thomsen-Fürst (Hrsg.)<br />Johann Stamitz und die europäische Musikermigration im 18. Jahrhundert</span></h3>
{{pass}}               
                {{=A(T('More'),_href=URL('catalog','book/786'), _class='btn btn-theme')}} 

              </div>
              </li>
              <li>
              <img alt=""  src="{{=URL('static','images/press/slideshow/05_ub_treppenhaus.jpg')}}" />{{if session.forced_language =='de': }} 
              <div class="flex-caption hidden-xs hidden-sm"><h3>{{=T('UB Heidelberg Digitale Informations- versorgung')}}</h3>              
                <a href="https://www.ub.uni-heidelberg.de/Welcome.html" class="btn btn-theme">Mehr</a>
              </div>{{elif session.forced_language =='en': }} 
              <div class="flex-caption hidden-xs hidden-sm"><h3>{{=T('Heidelberg University Library - Digital Information Supply')}}</h3>
                <a href="https://www.ub.uni-heidelberg.de/Englisch/Welcome.html?lang=en" class="btn btn-theme">More Information</a>
              </div>{{pass}} 
              </li>
              <li>
              <img alt="" src="{{=URL('static','images/press/slideshow/06_alte_universitaet.jpg')}}" />{{if session.forced_language =='de': }} 
              <div class="flex-caption hidden-xs hidden-sm"><h3>{{=T('heiUP Der Beirat')}}</h3>
                {{=A(T('More'),_href=URL('about_us','advisory_board'), _class='btn btn-theme')}}              
                </div>{{elif session.forced_language =='en': }} 
              <div class="flex-caption hidden-xs hidden-sm"><h3>{{=T('heiUP Advisory Board')}}</h3>
                {{=A(T('More Information'),_href=URL('about_us','advisory_board'), _class='btn btn-theme')}}              
                </div>{{pass}} 
              </li>
              <li>
              <img alt="" src="{{=URL('static','images/press/slideshow/07_dem_lebendigen_geist.jpg')}}" />
              </li>
              <!--<li>{{if session.forced_language =='de': }} 
              <img alt="" src="{{=URL('static','images/press/slideshow/08_weihnachten.png')}}" />
                {{elif session.forced_language =='en': }} 
              <img alt="" src="{{=URL('static','images/press/slideshow/08_christmas.png')}}" />
              {{pass}} 
              </li>-->
            </ul>
          </div>
          <!-- ./Slideshow -->
        </div>
      </div>
    </div>
  </section>
                                                        
  <section id="content">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
		<div class="col-lg-3">              
                <div class="box">
                  <div class="box-gray aligncenter">
                <h4>{{=T('New Titles')}}</h4>
                <a href="https://heiup.uni-heidelberg.de/journals/index.php/mial/issue/view/2411" title="{{=T('current issue')}}">{{=IMG(_src=URL('static','images/journals/cover_mial.jpg'),_alt='',_style='width:145px', _class='bildrahmen')}}</a> 
      			 </div>
                  <div class="box-bottom"><a href="https://heiup.uni-heidelberg.de/journals/index.php/mial/issue/view/2411" title="{{=T('current issue')}}">{{=T('More Information')}}
                  </div>
                </div>
        </div> 

		<div class="col-lg-3">              
                <div class="box">
                  <div class="box-gray aligncenter">
                <h4>{{=T('New Titles')}}</h4>
                <a href="https://heiup.uni-heidelberg.de/journals/index.php/rupertocarola/issue/view/2413" title="{{=T('current issue')}}">{{=IMG(_src=URL('static','images/campusmedia/cover_07_2021.jpg'),_alt='',_style='width:145px', _class='bildrahmen')}}</a> 
      			 </div>
                  <div class="box-bottom"><a href="https://heiup.uni-heidelberg.de/journals/index.php/rupertocarola/issue/view/2413" title="{{=T('current issue')}}">{{=T('More Information')}}
                  </div>
                </div>
        </div> 


		

            <div id="boxAktuelles" class="col-lg-6">
              <div class="box">
                <div class="box-gray aligncenter" style="overflow-y: scroll">
                   <h4>{{=T('News')}}</h4>


                    {{
                    for n in news_list:
                        =n
                    pass
                    }}


                </div>
              </div>
              <div class="box-bottom">&nbsp; 
                    <!--{{if session.forced_language =='de': }} 
                    <a href="http://heiup.uni-heidelberg.de/#"><span style="color: #EFEFEF;">Mehr</span>
                    {{elif session.forced_language =='en': }} 
                    <a href="http://heiup.uni-heidelberg.de/#"><span style="color: #EFEFEF;">More Information</span>
                    {{pass}}--> 
              </div>
            </div>
          </div>
        </div>
        </div>

       
        
        <div class="row">
          <div class="col-lg-12">
            <div class="row"> 
            
			<div class="col-lg-3">
              <div class="box">
                <div class="box-gray aligncenter">{{if session.forced_language =='de': }} 
                  <p class="boxText"><b>Heidelberg University Publishing</b> ist ein Open-Access-Verlag für qualitätsgeprüfte wissenschaftliche Publikationen. Wir unterstützen Open Access als Publikationsmodell für die Verbreitung hervorragender Forschungsergebnisse und setzen Open-Source-Software für die gemeinsame Entwicklung der zugrunde liegenden Publikationstechnologien ein. 
                  </p>{{elif session.forced_language =='en': }} 
                  <p class="boxText"><b>Heidelberg University Publishing</b> is an open-access publisher of high-quality, peer-reviewed academic works. We endorse open access as a publishing model to distribute outstanding research results and use open-source software for the collaborative development of underlying publishing technologies. 
                  </p>{{pass}} 
                </div>
                <div class="box-bottom"> 
                    {{=A(T('More Information'),_href=URL('about_us','mission_statement'))}}
                </div>
              </div>
            </div> 
		<div class="col-lg-3">              
                <div class="box">
                  <div class="box-gray aligncenter">
                <h4>{{=T('New Titles')}}</h4>
                {{=A(IMG(_src=URL(myconf.take('web.application'),'static','files/presses/6/monographs/792/simple/cover.jpg'),_alt='',_style='width:145px', _class='bildrahmen'),_href=URL('catalog','book/792'))}} 
      			 </div>
                  <div class="box-bottom">{{=A(T('More Information'),_href=URL('catalog','book/792'))}}
                  </div>
                </div>
        </div> 
		<div class="col-lg-3">              
                <div class="box">
                  <div class="box-gray aligncenter">
                <h4>{{=T('New Titles')}}</h4>
                {{=A(IMG(_src=URL(myconf.take('web.application'),'static','files/presses/6/monographs/778/simple/cover.jpg'),_alt='',_style='width:145px', _class='bildrahmen'),_href=URL('catalog','book/778'))}} 
      			 </div>
                  <div class="box-bottom">{{=A(T('More Information'),_href=URL('catalog','book/778'))}}
                  </div>
                </div>
        </div>             
		<div class="col-lg-3">              
                <div class="box">
                  <div class="box-gray aligncenter">
                <h4>{{=T('New Titles')}}</h4>
                {{=A(IMG(_src=URL(myconf.take('web.application'),'static','files/presses/6/monographs/869/simple/cover.jpg'),_alt='',_style='width:145px', _class='bildrahmen'),_href=URL('catalog','book/869'))}} 
      			 </div>
                  <div class="box-bottom">{{=A(T('More Information'),_href=URL('catalog','book/869'))}}
                  </div>
                </div>
        </div> 


		
           
            

                          
                <!--<div>-->
                <!-- TWITTER TIMELINE-->
<!--
                <div>
                  <a class="twitter-timeline" href="https://twitter.com/heiUP_HD" data-widget-id="747699256207773697" style="height: 350px;">{{=T('Tweets by heiUP_HD')}}</a>
              <script>!function (d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
              if (!d.getElementById(id)) {
              js = d.createElement(s);
              js.id = id;
              js.src = p + "://platform.twitter.com/widgets.js";
              fjs.parentNode.insertBefore(js, fjs);
              }
              }(document, "script", "twitter-wjs");</script>
                </div>
-->
                <!-- /TWITTER TIMELINE -->
                <!--</div>-->
              </div>
            </div>
          </div><!-- ./zweite Boxen-Reihe-->
        <div class="row">
          <div class="col-lg-12">
            <div class="row">	
            
		
          <div class="col-lg-3">
                <div class="box">
                  <div class="box-gray aligncenter">
                <h4>{{=T('Forthcoming')}}</h4>
                {{=A(IMG(_src=URL(myconf.take('web.application'),'static','/images/catalog/cover_konopka-fitzner.jpg'),_alt='',_style='width:145px', _class='bildrahmen'))}} 
                  </div>
                  <div class="box-bottom">{{=A(T('More Information'),_href=URL('catalog','preview#konopka-fitzner'))}}
                  </div>
                </div>
          </div>
           
          <div class="col-lg-3">
                <div class="box">
                  <div class="box-gray aligncenter">
                <h4>{{=T('Forthcoming')}}</h4>
                {{=A(IMG(_src=URL(myconf.take('web.application'),'static','/images/catalog/cover_verdoot.jpg'),_alt='',_style='width:145px', _class='bildrahmen'),_href=URL('catalog','preview#verdoot'))}} 
                  </div>
                  <div class="box-bottom">{{=A(T('More Information'),_href=URL('catalog','preview#verdoot'))}}
                  </div>
                </div>
          </div>

		
            <div class="col-lg-6">
                <div class="box">
                <div class="box-gray">
                {{if session.forced_language =='de': }} 
                <h4>Heidelberger Akademie der Wissenschaften – die Landesakademie von Baden-Württemberg</h4>                  
                {{=IMG(_src=URL(myconf.take('web.application'),'static','images/press/home/heidelberger_akademie_der_wissenschaften.png'),_alt='',_style='float: left; margin-right: 10px; width: 90px')}} Die Heidelberger Akademie der Wissenschaften veröffentlicht beim Verlag „Heidelberg University Publishing“ neueste, wissenschaftliche Ergebnisse ihrer exzellenten Forschungsprojekte. Als Landesakademie setzt sie dabei auf das Open-Access-Modell, um Wissenschaftlerinnen und Wissenschaftlern einen freien Zugang zu ihren Forschungsergebnissen zu ermöglichen. Die Themenbreite der Publikationen reicht dabei von den Musikwissenschaften bis zu den Kultur- und Sozialwissenschaften.
                  {{elif session.forced_language =='en': }}
                <h4>Heidelberg Academy of Sciences and Humanities – the state academy of Baden-Württemberg</h4>                  
                {{=IMG(_src=URL(myconf.take('web.application'),'static','images/press/home/heidelberger_akademie_der_wissenschaften.png'),_alt='',_style='float: left; margin-right: 10px; width: 90px')}} The Heidelberg Academy of Sciences and Humanities publishes the latest scientific and academic findings from its exceptional research projects through Heidelberg University Publishing. As a state academy, it uses the open access model to ensure scientists and scholars have free access to the latest research insights. The scope of its publications extends from musicology to cultural and social sciences.                   
                {{pass}}
                  </div>

                  <div class="box-bottom">{{=A(T('More Information'),_href=URL('category','info/hadw'))}}
                  </div>
                </div>
              </div>

             </div>
           </div>
          </div>

		  <!-- ./dritte Boxen-Reihe-->
  </section>      
    </div>
