{{extend 'layout.html'}} 
<script type="text/javascript" charset="utf-8">
$(window).load(function() {
$('.flexslider').flexslider();
}); 
</script> 
<div class="container">
  <!-- end header -->
  <section id="featured">
    <!-- start slider -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <!-- Slider -->
          <div id="main-slider" class="flexslider">
            <ul class="slides">
              <li>{{if session.forced_language =='de': }} 
              <img alt="" src="{{=URL('static','images/press/slideshow/01_claim_tablet.de.jpg')}}" />
              <div class="flex-caption hidden-xs hidden-sm"><h3>{{=T('Das Profil von heiUP')}}</h3>
                {{=A(T('More'),_href=URL('about_us','profile'), _class='btn btn-theme')}}
                <!--<a href="./about_us/profile.html" class="btn btn-theme">Mehr</a>-->
              </div>{{elif session.forced_language =='en': }} 
              <img alt="" src="{{=URL('static','images/press/slideshow/01_claim_tablet.en.jpg')}}" />
              <div class="flex-caption hidden-xs hidden-sm"><h3>{{=T('heiUP Profile')}}</h3>
                {{=A(T('More Information'),_href=URL('about_us','profile'), _class='btn btn-theme')}}
                <!--<a href="./about_us/profile.html" class="btn btn-theme">More Information</a>-->
              </div>{{pass}} 
              </li>
              <li>
              <img alt="" src="{{=URL('static','images/press/slideshow/02_cover_richter.jpg')}}" />
              {{if session.forced_language =='de': }} 
              <div class="flex-caption hidden-xs hidden-sm"><h3>S. Richter, M. Roth, S. Meurer Konstruktionen Europas in der Frühen Neuzeit</h3>
                {{=A(T('More'),_href=URL('catalog','book/291'), _class='btn btn-theme')}}    

              </div>
              {{elif session.forced_language =='en': }} 
              <div class="flex-caption hidden-xs hidden-sm"><h3>S. Richter, M. Roth, S. Meurer Konstruktionen Europas in der Frühen Neuzeit</h3>
                {{=A(T('More Information'),_href=URL('catalog','book/291'), _class='btn btn-theme')}}

              </div>
              {{pass}} 
              </li>
              <li>
              <img alt="" src="{{=URL('static','images/press/slideshow/03_cover_jaritz.jpg')}}" />
              {{if session.forced_language =='de': }} 
              <div class="flex-caption hidden-xs hidden-sm"><h3>Joanna Jaritz<br />Proust Cinématographe</h3>
                {{=A(T('More'),_href=URL('catalog','book/310'), _class='btn btn-theme')}}    

              </div>
              {{elif session.forced_language =='en': }} 
              <div class="flex-caption hidden-xs hidden-sm"><h3>Joanna Jaritz<br />Proust Cinématographe</h3>
                {{=A(T('More Information'),_href=URL('catalog','book/310'), _class='btn btn-theme')}}

              </div>
              {{pass}} 
              </li>               
              <li>
              <img alt="" src="{{=URL('static','images/press/slideshow/04_cover_numerik3.jpg')}}" />{{if session.forced_language =='de': }} 
              <div class="flex-caption hidden-xs hidden-sm"><h3>Rolf Rannacher Numerik 3</h3>
                {{=A(T('More'),_href=URL('catalog','book/312'), _class='btn btn-theme')}}    


              </div>{{elif session.forced_language =='en': }} 
              <div class="flex-caption hidden-xs hidden-sm"><h3>Rolf Rannacher Numerik 3</h3>
                {{=A(T('More Information'),_href=URL('catalog','book/312'), _class='btn btn-theme')}}

              </div>{{pass}} 
              </li>
              <li>
              <img alt=""  src="{{=URL('static','images/press/slideshow/05_ub_treppenhaus.jpg')}}" />{{if session.forced_language =='de': }} 
              <div class="flex-caption hidden-xs hidden-sm"><h3>{{=T('UB Heidelberg Digitale Informations- versorgung')}}</h3>              
                <a href="http://www.ub.uni-heidelberg.de/Welcome.html" class="btn btn-theme">Mehr</a>
              </div>{{elif session.forced_language =='en': }} 
              <div class="flex-caption hidden-xs hidden-sm"><h3>{{=T('Heidelberg University Library - Digital Information Supply')}}</h3>
                <a href="http://www.ub.uni-heidelberg.de/Englisch/Welcome.html?lang=en" class="btn btn-theme">More Information</a>
              </div>{{pass}} 
              </li>
              <li>
              <img alt="" src="{{=URL('static','images/press/slideshow/06_alte_universitaet.jpg')}}" />{{if session.forced_language =='de': }} 
              <div class="flex-caption hidden-xs hidden-sm"><h3>{{=T('heiUP Der Beirat')}}</h3>
                {{=A(T('More'),_href=URL('about_us','advisory_board'), _class='btn btn-theme')}}              
                </div>{{elif session.forced_language =='en': }} 
              <div class="flex-caption hidden-xs hidden-sm"><h3>{{=T('heiUP Advisory Board')}}</h3>
                {{=A(T('More Information'),_href=URL('about_us','advisory_board'), _class='btn btn-theme')}}              
                </div>{{pass}} 
              </li>
              <li>
              <img alt="" src="{{=URL('static','images/press/slideshow/07_dem_lebendigen_geist.jpg')}}" />{{if session.forced_language =='de': }} 
              <!--<div class="flex-caption hidden-xs hidden-sm"> 
              <h3>{{=T('"Dem lebendigen Geist" Motto der Universität')}}</h3> 
              <p></p> 
              <a href="./about_us/advisory_board.html"
              class="btn btn-theme">Mehr</a> 
              </div>--> {{elif session.forced_language =='en': }} 
              <!--<div class="flex-caption hidden-xs hidden-sm"> 
              <h3>{{=T('"Dem lebendigen Geist" Motto der Universität')}}</h3> 
              <p></p> 
              <a href="./about_us/advisory_board.html"
              class="btn btn-theme">More Information</a> 
              </div>--> {{pass}} 
              </li>
            </ul>
          </div>
          <!-- ./Slideshow -->
        </div>
      </div>
    </div>
  </section>
  
  <section id="content">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
      <div class="col-lg-3">
                <div class="box">
                  <div class="box-gray aligncenter">
                <h4>{{=T('New Titles')}}</h4>
                {{=IMG(_src=URL(myconf.take('web.application'),'static','files/presses/6/monographs/347/simple/cover.jpg'),_alt='',_style='width:145px', _class='bildrahmen')}}
      					</div>
                  <div class="box-bottom">{{=A(T('More Information'),_href=URL('catalog','book/347'))}}
                  </div>
                </div>
            </div>
		   
		  
            <div class="col-lg-3">
              <div class="box">
                <div class="box-gray aligncenter">{{if session.forced_language =='de': }} 
                  <p class="boxText"><b>Heidelberg University Publishing</b> ist ein Open-Access-Verlag für qualitätsgeprüfte wissenschaftliche Publikationen. Wir unterstützen Open Access als Publikationsmodell für die Verbreitung hervorragender Forschungsergebnisse und setzen Open-Source-Software für die gemeinsame Entwicklung der zugrunde liegenden Publikationstechnologien ein. 
                  </p>{{elif session.forced_language =='en': }} 
                  <p class="boxText"><b>Heidelberg University Publishing</b> is an open-access publisher of high-quality, peer-reviewed academic works. We endorse open access as a publishing model to distribute outstanding research results and use open-source software for the collaborative development of underlying publishing technologies. 
                  </p>{{pass}} 
                </div>
                <div class="box-bottom"> 
                    {{=A(T('More Information'),_href=URL('about_us','mission_statement'))}}
                </div>
              </div>
            </div>
            <div id="boxAktuelles" class="col-lg-6">
              <div class="box">
                <div class="box-gray aligncenter" style="overflow-y: scroll">
                   <h4>{{=T('News')}}</h4>


                    {{
                    for n in news_list:
                        =n
                    pass
                    }}


                </div>
              </div>
              <div class="box-bottom">&nbsp; 
                    <!--{{if session.forced_language =='de': }} 
                    <a href="http://heiup.uni-heidelberg.de/#"><span style="color: #EFEFEF;">Mehr</span>
                    {{elif session.forced_language =='en': }} 
                    <a href="http://heiup.uni-heidelberg.de/#"><span style="color: #EFEFEF;">More Information</span>
                    {{pass}}--> 
              </div>
            </div>
          </div>
        </div>
        </div>
       </div> 
        <div class="row">
          <div class="col-lg-12">
            <div class="row">
               <div class="col-lg-3">
                <div class="box">
                  <div class="box-gray aligncenter">
                <h4>{{=T('New Titles')}}</h4>
        				{{=IMG(_src=URL(myconf.take('web.application'),'static','files/presses/6/monographs/312/simple/cover.jpg'),_alt='',_style='width:145px', _class='bildrahmen')}}                
                  </div>
                  <div class="box-bottom">
                    {{=A(T('More Information'),_href=URL('catalog','book/312'))}}
                    </div>
                </div>
              </div> 
			       <div class="col-lg-3">
               <div class="box">
                <div class="box-gray aligncenter">
                <h4>{{=T('New Titles')}}</h4>
					       {{=IMG(_src=URL('static','images/campusmedia/cover_11_2017.jpg'),_alt='',_style='width:145px', _class='bildrahmen')}}                
                  </div>
                  <div class="box-bottom"><a href="http://heiup.uni-heidelberg.de/journals/index.php/rupertocarola/issue/view/2373">{{=T('More Information')}}</a>
                  </div>
                </div>
              </div>   
              <div class="col-lg-3">
                <div class="box">
                  <div class="box-gray aligncenter">
                <h4>{{=T('New Titles')}}</h4>
                {{=IMG(_src=URL(myconf.take('web.application'),'static','files/presses/6/monographs/301/simple/cover.jpg'),_alt='',_style='width:145px', _class='bildrahmen')}} 
				                        
                  </div>
                  <div class="box-bottom">{{=A(T('More Information'),_href=URL('catalog','book/301'))}}
                  </div>
                </div>
              </div> 
			       <div class="col-lg-3">
               <div class="box">
                <div class="box-gray aligncenter">
                <h4>{{=T('New Titles')}}</h4>
                 {{=IMG(_src=URL(myconf.take('web.application'),'static','images/journals/cover_heso.jpg'),_alt='',_style='width:145px', _class='bildrahmen')}}
					                       
                  </div>
                  <div class="box-bottom">{{=A(T('More Information'),_href=URL('journals','heso'))}}
                  </div>
                </div>
              </div>
                             
             
<!--Campus Media Boxen			 
              <div class="col-lg-3">
                <div class="box">
                  <div class="box-gray aligncenter">
                    <h4>{{=T('New Titles')}}</h4>
					{{=IMG(_src=URL(myconf.take('web.application'),'static','images/campusmedia/cover_10_2017.png'),_alt='',_style='width:145px', _class='bildrahmen')}}
                  </div>
                  <div class="box-bottom">{{=A(T('More Information'),_href=URL('campusmedia','ruperto_carola'))}}
                  </div>
                </div>
              </div>
    
            <div class="col-lg-3">
                <div class="box">
                  <div class="box-gray aligncenter">
                <h4>{{=T('New Titles')}}</h4>
					{{=IMG(_src=URL('static','images/catalog/Cover_anders_altern_OMP_300.jpg'),_alt='',_style='width:145px', _class='bildrahmen')}}
                  </div>
                  <div class="box-bottom">{{=A(T('More Information'),_href=URL('campusmedia','generale'))}}
                  </div>
                </div>
              </div>
-->
			      


              <!-- <div class="col-lg-3">
              <div class="box">
              <div class="box-gray">
              <b><span style="text-align: left">Heidelberg Studies on Transculturality</span></b>
              {{if session.forced_language =='de': }}
              <p class="boxText">
              HST ist eine Peer-Review-geprüfte Open-Access-Schriftenreihe zum Thema Transkulturalität. Sie untersucht kulturelle, soziale und regionale Formationen, die sich durch den Kontakt mit anderen Regionen und Kulturen konstituierten und durch ihn transformiert wurden. </p>
              {{elif session.forced_language =='en': }}
              <p class="boxText">
              HST is a peer-reviewed, open access book series promoting research on transcultuality. The series features works that investigate cultural, social, and regional formations that have themselves been constituted and transformed through contact with other regions and cultures. </p>
              {{pass}}
              </div>
              <div class="box-bottom">&nbsp;
              {{if session.forced_language =='de': }}
              <a href="http://heiup.uni-heidelberg.de/#"><span style="color: #EFEFEF;">Mehr</span>
              {{elif session.forced_language =='en': }}
              <a href="http://heiup.uni-heidelberg.de/#"><span style="color: #EFEFEF;">More</span>
              {{pass}}
              </div>         
              </div>
              </div> -->
                <!--<div>-->
                <!-- TWITTER TIMELINE-->
<!--
                <div>
                  <a class="twitter-timeline" href="https://twitter.com/heiUP_HD" data-widget-id="747699256207773697" style="height: 350px;">{{=T('Tweets by heiUP_HD')}}</a>
              <script>!function (d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
              if (!d.getElementById(id)) {
              js = d.createElement(s);
              js.id = id;
              js.src = p + "://platform.twitter.com/widgets.js";
              fjs.parentNode.insertBefore(js, fjs);
              }
              }(document, "script", "twitter-wjs");</script>
                </div>
-->
                <!-- /TWITTER TIMELINE -->
                <!--</div>-->
              </div>
            </div>
          </div><!-- ./zweite Boxen-Reihe-->
		  
		  
          <div class="row">
           <div class="col-lg-12">
            <div class="row">
            <div class="col-lg-3">
                <div class="box">
                  <div class="box-gray aligncenter">
                <h4>{{=T('Forthcoming')}}</h4>
                {{=IMG(_src=URL(myconf.take('web.application'),'static','/images/series/hdaw_dn.jpg'),_alt='',_style='width:145px', _class='bildrahmen')}}               
                  </div>
                  <div class="box-bottom">{{=A(T('More Information'),_href=URL('catalog','#forthcoming'))}}
                </div>
              </div>
            </div>  
			  <div class="col-lg-3">
               <div class="box">
                <div class="box-gray aligncenter">
                <h4>{{=T('Forthcoming')}}</h4>
					       {{=IMG(_src=URL(myconf.take('web.application'),'static','images/catalog/cover_bubenhofer.jpg'),_alt='',_style='width:145px', _class='bildrahmen')}}                
                  </div>
                  <div class="box-bottom">&nbsp;
                  </div>
                </div>
              </div>
             
              <div class="col-lg-6">
                <div class="box">
                  <div class="box-gray">
                <h4>Heidelberger Akademie der Wissenschaften</h4>                  
                {{=IMG(_src=URL(myconf.take('web.application'),'static','images/press/home/heidelberger_akademie_der_wissenschaften.png'),_alt='',_style='float: left; margin-right: 10px; width: 90px')}} Die Heidelberger Akademie der Wissenschaften veröffentlicht beim Verlag „Heidelberg University Publishing“ neueste, wissenschaftliche Ergebnisse ihrer exzellenten Forschungsprojekte. Als Landesakademie setzt sie dabei auf das Open-Access-Modell, um Wissenschaftlerinnen und Wissenschaftlern freien Zugang zu Forschungsergebnissen zu ermöglichen. 
                  </div>
                  <div class="box-bottom">{{=A(T('More Information'),_href=URL('category','info/hdaw'))}}
                  </div>
                </div>
              </div>
    
            <!--<div class="col-lg-3">
                <div class="box">
                  <div class="box-gray aligncenter">
                <h4>{{=T('Forthcoming')}}</h4>
					{{=IMG(_src=URL('static','images/journals/cover_studium-generale_wasser.jpg'),_alt='',_style='width:145px', _class='bildrahmen')}}
                  </div>
                  <div class="box-bottom">{{=A(T('More Information'),_href=URL('campusmedia','generale'))}}
                  </div>
                </div>
              </div> -->
           
             </div>
           </div>
          </div>

		  <!-- ./dritte Boxen-Reihe-->
          
          
    </div>
  </section>
 </div>  

