<!DOCTYPE html>
<html>
<head>
    <title>{{=myconf.take("web.application")}} {{=authors}}</title>
    <!--http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic,600italic -->
    <link href="{{=URL('static','css/fonts.css')}}" rel='stylesheet'   type='text/css'>

    <link rel="stylesheet" type="text/css" media="all"
          href="{{=URL('static','css/font-awesome.min.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/lens.css')}}"/>
    <script src="https://www.ub.uni-heidelberg.de/cdn/jquery/3.2.1/jquery.js"></script>


    <!-- MathJax Configuration -->
    <script type="text/x-mathjax-config">
       MathJax.Hub.Config({
         jax: ["input/TeX", "input/MathML","output/HTML-CSS"],
         extensions: ["MathMenu.js","MathZoom.js", "CHTML-preview.js"],
         "HTML-CSS": { linebreaks: { automatic: true }, EqnChunk: 9999 },
         SVG: { linebreaks: { automatic: true }, EqnChunk: 9999  },
         TeX: {
           extensions: ["AMSmath.js","AMSsymbols.js","noErrors.js","noUndefined.js"]
         },
         "displayAlign": "left",
         styles: {".MathJax_Display": {padding: "0em 0em 0em 3em" },".MathJax_SVG_Display": {padding: "0em 0em 0em 3em" },}
          });


    </script>
    <script type="text/javascript" src="http://beta.mathjax.org/mathjax/latest/MathJax.js?config=MML_HTMLorMML-full"></script>
    <!--script type="text/javascript" src="{{=URL('static','js/MathJax.js')}}"/-->
    <script type="text/javascript">
        let locales = {
            'Author': 'Author',
            'Back': 'Back',
            'Contents': 'Contents',
            'CopyRightAndLicenses': 'Copyright & License',
            'Figures': 'Figures',
            'Focus': 'Focus',
            'Reference': '',
            'References': 'Footnotes',
        };
        var qs = {};
        qs.url = [window.location.origin,'{{=myconf.take("web.application")}}',
            'static', 'files', 'presses',  '{{=myconf.take("omp.press_id")}}', 'monographs',
            '{{=request.args[0]}}','submission', 'proof','{{=request.args[1]}}'].join('/');
        var documentURL = "data/example.xml";
        $(function() {

            var app = new window.Lens({
                document_url: qs.url ? decodeURIComponent(qs.url) : documentURL
            });


            app.start();

            window.app = app;

        });

    </script>
    <script src="{{=URL('static','js/lens2.js')}}"></script>

</head>
<body class="loading">

</body>
</html>
