<!DOCTYPE html>
<html>
<head>
    <title>{{=myconf.take("web.application")}} {{=authors}}</title>
    <!--http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic,600italic -->
    <link href="{{=URL('static','css/fonts.css')}}" rel='stylesheet'   type='text/css'>

    <link rel="stylesheet" type="text/css" media="all"
          href="{{=URL('static','css/font-awesome.min.css')}}"/>

    <!-- A combined lens.css will be generated in the bundling process -->
    <!-- While in development, separate links for each CSS file are added, so we don't need a source map -->
    <link rel="stylesheet" href="{{=URL('static','css/lens.css')}}"/>
    <script src="https://www.ub.uni-heidelberg.de/cdn/jquery/3.2.1/jquery.js"></script>



    <!-- MathJax Configuration -->
    <script type="text/x-mathjax-config">
       MathJax.Hub.Config({
         jax: ["input/TeX", "input/MathML","output/HTML-CSS"],
         extensions: ["MathMenu.js","MathZoom.js", "CHTML-preview.js"],
         "HTML-CSS": { linebreaks: { automatic: true }, EqnChunk: 9999 },
         SVG: { linebreaks: { automatic: true }, EqnChunk: 9999  },
         TeX: {
           extensions: ["AMSmath.js","AMSsymbols.js","noErrors.js","noUndefined.js"]
         },
         "displayAlign": "left",
         styles: {".MathJax_Display": {padding: "0em 0em 0em 3em" },".MathJax_SVG_Display": {padding: "0em 0em 0em 3em" },}
      });
    </script>
    <script type="text/javascript" src="http://beta.mathjax.org/mathjax/latest/MathJax.js?config=MML_HTMLorMML-full"></script>
    <!--script type="text/javascript" src="{{=URL('static','js/MathJax.js')}}"/-->
    <script type="text/javascript">
        //web2py variables
        var submission_id = '{{=request.args[0]}}';
        var submission_file = '{{=request.args[1]}}';
        var application = '{{=request.application}}';
        var press_id = '{{=myconf.take("omp.press_id")}}';
    </script>
    {{if session.forced_language =='de': }}
    <script src="{{=URL('static','js/lens-locales-de.js')}}"></script>
    {{elif session.forced_language =='en': }}
    <script src="{{=URL('static','js/lens-locales-en.js')}}"></script>
    {{pass}}

    <script src="{{=URL('static','js/lens2.js')}}"></script>

</head>
<body class="loading">

</body>
</html>
