{{extend 'layout.html'}}
<div class="container">
    <div class="row">
        <div class="col-lg-12" style="min-height: 20em;">
            <h3>  {{if session.forced_language =='de': }}
                Rechte und Lizenzen &ndash; ein Überblick
                {{elif session.forced_language =='en': }}
                Rights and licences &ndash; an overview

            {{pass}}
            </h3>

                {{if session.forced_language =='de': }}
				<h4>Welche Rechte an Ihrem Werk übertragen Sie an heiUP?</h4>
                <p>heiUP betreibt eine autorenfreundliche Rechtepolitik. Wir benötigen von Ihnen lediglich die Einräumung eines zeitlich und räumlich nicht eingeschränkten <strong>einfachen Nutzungsrechts</strong> zur Online-Veröffentlichung und zur Verbreitung der Druckausgabe. Alle darüber hinaus gehenden Rechte verbleiben bei Ihnen.</p>
                
				<h4>Unter welchen Bedingungen möchten Sie Ihren Leserinnen und Lesern die Verwendung Ihres Werkes gestatten?</h4>
				<p>Grundsätzliche Voraussetzung für eine Publikation bei heiUP ist, dass Sie als Autorin/Autor mit einer Veröffentlichung im <strong>Open Access</strong> einverstanden sind. Ob und unter welchen Bedingungen Ihr Werk weiterverbreitet und ggfs. auch verändert werden darf, hängt von der Lizenz ab, die Sie für Ihr Werk wählen: <br>Entscheiden Sie sich für die Veröffentlichung unter einer <strong>CC-Lizenz</strong>, ist grundsätzlich eine <strong>Weiterverbreitung</strong> Ihres Werks durch Dritte erlaubt. Dies bedeutet, dass Sie nicht nur nicht nur der Weitergabe Ihres eigenen Textes (an dem Sie die Nutzungsrechte besitzen) zustimmen, sondern auch ggf. darin enthaltener fremder Text- und bzw. oder Bildvorlagen. </p>
                <p>Prüfen Sie daher genau, ob Ihnen bei der Verwendung fremden Bildmaterials oder anderer Inhalte von den Rechteinhabern die Weiterverbreitung erlaubt wurde. Besteht keine Gefahr, dass Rechte Dritter verletzt werden, empfehlen wir die Veröffentlichung unter eine CC-Lizenz, idealerweise CC BY-SA-4.0-Lizenz. Einen Überblick über die am häufigsten verwendeten Creative-Commons-Lizenzen finden Sie in der folgenden Tabelle sowie in der Info-Box auf der rechten Seite.</p>				 
				
			    <h4>Nutzung gemäß einer CC BY-SA-4.0-Lizenz</h4>
                <div class="row">
                    <div class="col-xs-4 col-sm-6 col-md-4 col-lg-3">
					{{=IMG(_src=URL(myconf.take('web.application'),'static','/images/lizenz_cc-by-sa-40.png'),_alt='', _class='bildrahmen')}}
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-8 col-lg-9">
					<p><a title="Link zur Homepage Creative Commons" href="https://creativecommons.org/licenses/by-sa/4.0/deed.de">CC BY SA</a>: Durch eine Vergabe dieser Lizenz erlauben Sie Dritten, Ihr Werk zu verbreiten und zu verändern, auch zu kommerziellen Zwecken, solange der oder die Urheber des Originals genannt wird/werden und die auf Ihrem Werk basierenden neuen Werke unter denselben Bedingungen veröffentlicht werden.</p>
                    </div>	
                </div>	
				
				<h4>Nutzung gemäß einer anderen CC-Lizenz</h4>
                <div class="row">
                    <div class="col-xs-4 col-sm-6 col-md-4 col-lg-3">
					{{=IMG(_src=URL(myconf.take('web.application'),'static','/images/lizenz_cc-by.png'),_alt='', _class='bildrahmen')}}
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-8 col-lg-9">
					<p><a title="Link zur Homepage Creative Commons" href="https://creativecommons.org/licenses/by/4.0/deed.de">CC BY</a>: Durch eine Vergabe dieser Lizenz erlauben Sie Dritten, Ihr Werk, auch zu kommerziellen Zwecken zu verbreiten und zu verändern, solange der Urheber des Originals genannt wird.</p>
                    </div>	
                </div>	

                <div class="row">
                    <div class="col-xs-4 col-sm-6 col-md-4 col-lg-3">
					{{=IMG(_src=URL(myconf.take('web.application'),'static','/images/lizenz_cc-by-nd.png'),_alt='', _class='bildrahmen')}}
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-8 col-lg-9">
					<p><a title="Link zur Homepage Creative Commons" href="https://creativecommons.org/licenses/by-nd/4.0/deed.de">CC BY ND</a>: Durch eine Vergabe dieser Lizenz erlauben Sie Dritten die Weiterverbreitung des Werkes, kommerziell wie nicht-kommerziell, solange dies ohne Veränderungen und vollständig geschieht und der Urheber genannt wird.</p>
                    </div>	
                </div>	

                <div class="row">
                    <div class="col-xs-4 col-sm-6 col-md-4 col-lg-3">
					{{=IMG(_src=URL(myconf.take('web.application'),'static','/images/lizenz_cc-by-nc.png'),_alt='', _class='bildrahmen')}}
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-8 col-lg-9">
					<p><a title="Link zur Homepage Creative Commons" href="https://creativecommons.org/licenses/by-nc/4.0/deed.de">CC BY NC</a> wie CC BY &ndash; zusätzlich mit der Einschränkung, dass keine kommerzielle Verwendung gestattet ist.</p>
                    </div>	
                </div>		

                <div class="row">
                    <div class="col-xs-4 col-sm-6 col-md-4 col-lg-3">
					{{=IMG(_src=URL(myconf.take('web.application'),'static','/images/lizenz_cc-by-nc-sa.png'),_alt='', _class='bildrahmen')}}
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-8 col-lg-9">
					<p><a title="Link zur Homepage Creative Commons" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.de">CC BY NC SA</a> wie CC BY SA &ndash; zusätzlich mit der Einschränkung, dass keine kommerzielle Verwendung gestattet ist.</p>
                    </div>	
                </div>		

                <div class="row">
                    <div class="col-xs-4 col-sm-6 col-md-4 col-lg-3">
					{{=IMG(_src=URL(myconf.take('web.application'),'static','/images/lizenz_cc-by-nc-nd.png'),_alt='', _class='bildrahmen')}}
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-8 col-lg-9">
					<p><a title="Link zur Homepage Creative Commons" href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.de">CC BY NC ND</a> wie CC BY ND &ndash; zusätzlich mit der Einschränkung, dass keine kommerzielle Verwendung gestattet ist.</p>
                    </div>	
                </div>	

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<p>Immer dann, wenn Sie sich unsicher bei der Verwendung fremden Bildmaterials sind, empfehlen wir Ihnen, unter dem Label „Freier Zugang – alle Rechte vorbehalten“ zu publizieren.</p>
                    </div>	
                </div>

                <h4>Freier Zugang &ndash; alle Rechte vorbehalten</h4>
                <div class="row">
                    <div class="col-xs-4 col-sm-6 col-md-4 col-lg-3">
					{{=IMG(_src=URL(myconf.take('web.application'),'static','/images/lizenz_freier-zugang.png'),_alt='', _class='bildrahmen')}}
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-8 col-lg-9">
					<p>Dieses Werk ist durch das Urheberrecht und bzw. oder verwandte Schutzrechte geschützt, aber kostenfrei zugänglich. Die Nutzung, insbesondere die Vervielfältigung, ist nur im Rahmen der gesetzlichen Schranken des Urheberrechts oder aufgrund einer Einwilligung des Rechteinhabers erlaubt.</p>
                    </div>	
                </div>				
				<!--
                
<p>Der Verlag betreibt eine autorenfreundliche Rechtepolitik, die die Einräumung eines zeitlich und räumlich nicht eingeschränkten einfachen Nutzungsrechts zur Online-Veröffentlichung und zur Verbreitung der Druckausgabe umfasst. Autoren behalten das Urheberrecht an dem Werk und gewähren dem Verlag das Recht zu dessen Erstveröffentlichung. Parallel dazu wird das Werk unter eine <a href="https://creativecommons.org/licenses/?lang=de" title="Homepage der Initiative Creative Commons">Creative-Commons-Lizenz</a> gestellt. Diese erlaubt es anderen, das Werk weiterzuverbreiten, unter der Bedingung, dass der Autor/die Autorin benannt und auf die Erstveröffentlichung in diesem Verlag hingewiesen wird.</p>                 
                
                

<p>Autorinnen und Autoren können weitere, gesonderte Verträge für eine nicht exklusive Verbreitung einer vom Verlag veröffentlichten Version des Buches abschließen, sie können es zum Beispiel auf einem institutionellen Repositorium einstellen oder in einem Buch veröffentlichen, müssen jedoch auf die Erstveröffentlichung in diesem Verlag hinweisen.</p>        
-->

                {{elif session.forced_language =='en': }}
                <h4>What rights to your work do you transfer to heiUP</h4>
                <p>heiUP operates an author-friendly rights policy. All we require from you is the granting of <strong>simple rights of use</strong>, with no time or geographical limits, for online publication and distribution of the print edition. All rights beyond this remain with you.</p>
                
				<h4>Under what conditions would you like to allow your readers to use your work?</h4>
				<p>The basic prerequisite for a publication at heiUP is that you as author agree to an <strong>Open Access</strong> publication. Whether and under what conditions your work may be redistributed and possibly modified depends on the licence you choose for your work: <br> If you decide to publish under a <strong>CC licence</strong>, a <strong>further distribution</strong> of your work by third parties is generally permitted. This means that you not only agree to your own text being passed on (to which you have the rights of use), but also any other text and/or images contained therein.</p>
                <p>Please check carefully therefore, whether you have the necessary permission from copyright holders to use third-party images or other content for further distribution. If there is no danger of infringing the rights of third parties, we recommend publishing under a CC licence, ideally a CC BY-SA 4.0 licence. An overview of the most frequently used Creative Commons licences can be found in the following table, and in the info box to the right.</p>				 
				
			    <h4>Use according to a CC BY-SA 4.0 licence</h4>
                <div class="row">
                    <div class="col-xs-4 col-sm-6 col-md-4 col-lg-3">
					{{=IMG(_src=URL(myconf.take('web.application'),'static','/images/lizenz_cc-by-sa-40.png'),_alt='', _class='bildrahmen')}}
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-8 col-lg-9">
					<p><a title="Link to the Homepage Creative Commons" href="https://creativecommons.org/licenses/by-sa/4.0/deed.de">CC BY SA</a> &ndash; By granting this licence, you authorise third parties to distribute and modify your work, including for commercial purposes, as long as the author/s of the original work is/are named and the new works based on your work are published under the same conditions.</p>
                    </div>	
                </div>	
				
				<h4>Use according to another CC licence</h4>
                <div class="row">
                    <div class="col-xs-4 col-sm-6 col-md-4 col-lg-3">
					{{=IMG(_src=URL(myconf.take('web.application'),'static','/images/lizenz_cc-by.png'),_alt='', _class='bildrahmen')}}
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-8 col-lg-9">
					<p><a title="Link to the Homepage Creative Commons" href="https://creativecommons.org/licenses/by/4.0/deed.de">CC BY</a> &ndash; By granting this licence, you authorise third parties to distribute and modify your work, including for commercial purposes, as long as the author of the original work is acknowledged.</p>
                    </div>	
                </div>	

                <div class="row">
                    <div class="col-xs-4 col-sm-6 col-md-4 col-lg-3">
					{{=IMG(_src=URL(myconf.take('web.application'),'static','/images/lizenz_cc-by-nd.png'),_alt='', _class='bildrahmen')}}
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-8 col-lg-9">
					<p><a title="Link to the Homepage Creative Commons" href="https://creativecommons.org/licenses/by-nd/4.0/deed.de">CC BY ND</a> &ndash; By granting this licence, you authorise third parties to redistribute the work, commercially and non-commercially, as long as it is complete, unmodified and authorship is acknowledged.</p>
                    </div>	
                </div>	

                <div class="row">
                    <div class="col-xs-4 col-sm-6 col-md-4 col-lg-3">
					{{=IMG(_src=URL(myconf.take('web.application'),'static','/images/lizenz_cc-by-nc.png'),_alt='', _class='bildrahmen')}}
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-8 col-lg-9">
					<p><a title="Link to the Homepage Creative Commons" href="https://creativecommons.org/licenses/by-nc/4.0/deed.de">CC BY NC</a> as with CC BY &ndash; with the additional restriction that no commercial use is permitted.</p>
                    </div>	
                </div>		

                <div class="row">
                    <div class="col-xs-4 col-sm-6 col-md-4 col-lg-3">
					{{=IMG(_src=URL(myconf.take('web.application'),'static','/images/lizenz_cc-by-nc-sa.png'),_alt='', _class='bildrahmen')}}
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-8 col-lg-9">
					<p><a title="Link to the Homepage Creative Commons" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.de">CC BY NC SA</a> as with CC BY SA &ndash; with the additional restriction that no commercial use is permitted.</p>
                    </div>	
                </div>		

                <div class="row">
                    <div class="col-xs-4 col-sm-6 col-md-4 col-lg-3">
					{{=IMG(_src=URL(myconf.take('web.application'),'static','/images/lizenz_cc-by-nc-nd.png'),_alt='', _class='bildrahmen')}}
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-8 col-lg-9">
					<p><a title="Link to the Homepage Creative Commons" href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.de">CC BY NC ND</a> as with CC BY ND &ndash; with the additional restriction that no commercial use is permitted.</p>
                    </div>	
                </div>	

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<p>Whenever you are unsure about the use of external image material, we recommend that you publish under the label „Free access – all rights reserved”.</p>
                    </div>	
                </div>

                <h4>Free access &ndash; all rights reserved</h4>
                <div class="row">
                    <div class="col-xs-4 col-sm-6 col-md-4 col-lg-3">
					{{=IMG(_src=URL(myconf.take('web.application'),'static','/images/lizenz_freier-zugang.png'),_alt='', _class='bildrahmen')}}
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-8 col-lg-9">
					<p>This work is protected by copyright and/or related rights, but accessible free of charge. Use, in particular duplication, is only permitted within legal copyright limits, or with the consent of the copyright holder.</p>
                    </div>	
                </div>
<!--
<p>heiUP maintains an author-friendly rights policy, which includes granting authors exclusive, unrestricted rights to both the online publication and the dissemination of the final printed version. Authors retain copyright of the work and simply grant heiUP the right to initial publication. Works are placed under a <a href="https://creativecommons.org/licenses/?lang=en" title="Homepage Creative Commons">Creative Commons license</a>, which allows for future redistribution of the work, under the condition that the author is named and heiUP is given due credit as the first place of publication.</p> 
<p>Authors can also enter into separate contracts for the non-exclusive distribution of later editions of the work. For example, books may be placed in an institutional repository, or published in print form through another press, provided the author acknowledges heiUP as the original publisher.</p> 
-->

                {{pass}}
        </div>
    </div>
  </div>  
